EG1.0.0/Opportunity_Integrations/Service Descriptors/communication.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:docFileCab="urn:filecabinet_2015_1.documents.webservices.netsuite.com" xmlns:generalComm="urn:communication_2015_1.general.webservices.netsuite.com" xmlns:generalCommTyp="urn:types.communication_2015_1.general.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:communication_2015_1.general.webservices.netsuite.com">
  <import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <import namespace="urn:types.communication_2015_1.general.webservices.netsuite.com" schemaLocation="communicationTypes.xsd"/>
  <import namespace="urn:filecabinet_2015_1.documents.webservices.netsuite.com" schemaLocation="fileCabinet.xsd"/>
  <!--note/start-->
  <element name="Note" type="generalComm:Note"/>
  <complexType name="Note">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="noteType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="direction" type="generalCommTyp:NoteDirection"/>
          <element minOccurs="0" name="noteDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="note" type="xsd:string"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="activity" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="author" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="folder" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="media" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="record" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="recordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="topic" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="transaction" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="noteSearch" type="generalComm:NoteSearch"/>
  <complexType name="NoteSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:NoteSearchBasic"/>
          <element minOccurs="0" name="authorJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchBasic"/>
          <element minOccurs="0" name="campaignJoin" type="platformCommon:CampaignSearchBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="entityJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchBasic"/>
          <element minOccurs="0" name="issueJoin" type="platformCommon:IssueSearchBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchBasic"/>
          <element minOccurs="0" name="partnerJoin" type="platformCommon:PartnerSearchBasic"/>
          <element minOccurs="0" name="solutionJoin" type="platformCommon:SolutionSearchBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NoteSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="generalComm:NoteSearch"/>
          <element minOccurs="0" name="columns" type="generalComm:NoteSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NoteSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:NoteSearchRowBasic"/>
          <element minOccurs="0" name="authorJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchRowBasic"/>
          <element minOccurs="0" name="campaignJoin" type="platformCommon:CampaignSearchRowBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="entityJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchRowBasic"/>
          <element minOccurs="0" name="issueJoin" type="platformCommon:IssueSearchRowBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchRowBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchRowBasic"/>
          <element minOccurs="0" name="partnerJoin" type="platformCommon:PartnerSearchRowBasic"/>
          <element minOccurs="0" name="solutionJoin" type="platformCommon:SolutionSearchRowBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--note/end-->
  <!--message/start-->
  <element name="Message" type="generalComm:Message"/>
  <complexType name="Message">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="author" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="recipient" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="cc" type="xsd:string"/>
          <element minOccurs="0" name="bcc" type="xsd:string"/>
          <element minOccurs="0" name="messageDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="recordName" type="xsd:string"/>
          <element minOccurs="0" name="recordTypeName" type="xsd:string"/>
          <element minOccurs="0" name="subject" type="xsd:string"/>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="emailed" type="xsd:boolean"/>
          <element minOccurs="0" name="activity" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="compressAttachments" type="xsd:boolean"/>
          <element minOccurs="0" name="incoming" type="xsd:boolean"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="transaction" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="mediaItemList" type="generalComm:MessageMediaItemList"/>
          <element minOccurs="0" name="dateTime" type="xsd:string"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MessageMediaItemList">
    <sequence>
      <element maxOccurs="unbounded" name="mediaItem" type="docFileCab:File"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="messageSearch" type="generalComm:MessageSearch"/>
  <complexType name="MessageSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="attachmentsJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="authorJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="campaignJoin" type="platformCommon:CampaignSearchBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="entityJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchBasic"/>
          <element minOccurs="0" name="partnerJoin" type="platformCommon:PartnerSearchBasic"/>
          <element minOccurs="0" name="recipientJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MessageSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="generalComm:MessageSearch"/>
          <element minOccurs="0" name="columns" type="generalComm:MessageSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MessageSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="attachmentsJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="authorJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="campaignJoin" type="platformCommon:CampaignSearchRowBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="entityJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchRowBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchRowBasic"/>
          <element minOccurs="0" name="partnerJoin" type="platformCommon:PartnerSearchRowBasic"/>
          <element minOccurs="0" name="recipientJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--message/end-->
</schema>
