EG1.0.0/Opportunity_Integrations/Service Descriptors/customization.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:setupCustom="urn:customization_2015_1.setup.webservices.netsuite.com" xmlns:setupCustomTyp="urn:types.customization_2015_1.setup.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:customization_2015_1.setup.webservices.netsuite.com">
  <xsd:import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <xsd:import namespace="urn:types.customization_2015_1.setup.webservices.netsuite.com" schemaLocation="customizationTypes.xsd"/>
  <xsd:import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <xsd:import namespace="urn:types.common_2015_1.platform.webservices.netsuite.com" schemaLocation="commonTypes.xsd"/>
  <!--customRecord/start-->
  <element name="CustomRecord" type="setupCustom:CustomRecord"/>
  <complexType name="CustomRecord">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customRecordId" type="xsd:string"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="disclaimer" type="xsd:string"/>
          <element minOccurs="0" name="created" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModified" type="xsd:dateTime"/>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="autoName" type="xsd:boolean"/>
          <element minOccurs="0" name="altName" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="recType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="enableNumbering" type="xsd:boolean"/>
          <element minOccurs="0" name="numberingPrefix" type="xsd:string"/>
          <element minOccurs="0" name="numberingSuffix" type="xsd:string"/>
          <element minOccurs="0" name="numberingMinDigits" type="xsd:long"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="numberingInit" type="xsd:long"/>
          <element minOccurs="0" name="numberingCurrentNumber" type="xsd:long"/>
          <element minOccurs="0" name="allowNumberingOverride" type="xsd:boolean"/>
          <element minOccurs="0" name="isNumberingUpdateable" type="xsd:boolean"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomRecordTranslationsList"/>
          <element minOccurs="0" name="includeName" type="xsd:boolean"/>
          <element minOccurs="0" name="showId" type="xsd:boolean"/>
          <element minOccurs="0" name="showCreationDate" type="xsd:boolean"/>
          <element minOccurs="0" name="showCreationDateOnList" type="xsd:boolean"/>
          <element minOccurs="0" name="showLastModified" type="xsd:boolean"/>
          <element minOccurs="0" name="showLastModifiedOnList" type="xsd:boolean"/>
          <element minOccurs="0" name="showOwner" type="xsd:boolean"/>
          <element minOccurs="0" name="showOwnerOnList" type="xsd:boolean"/>
          <element minOccurs="0" name="showOwnerAllowChange" type="xsd:boolean"/>
          <element minOccurs="0" name="usePermissions" type="xsd:boolean"/>
          <element minOccurs="0" name="allowAttachments" type="xsd:boolean"/>
          <element minOccurs="0" name="showNotes" type="xsd:boolean"/>
          <element minOccurs="0" name="enablEmailMerge" type="xsd:boolean"/>
          <element minOccurs="0" name="isOrdered" type="xsd:boolean"/>
          <element minOccurs="0" name="allowInlineEditing" type="xsd:boolean"/>
          <element minOccurs="0" name="isAvailableOffline" type="xsd:boolean"/>
          <element minOccurs="0" name="allowQuickSearch" type="xsd:boolean"/>
          <element minOccurs="0" name="recordName" type="xsd:string"/>
          <element minOccurs="0" name="scriptId" type="xsd:string"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="customRecordSearch" type="setupCustom:CustomRecordSearch"/>
  <complexType name="CustomRecordSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CustomRecordSearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="ownerJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomRecordSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="setupCustom:CustomRecordSearch"/>
          <element minOccurs="0" name="columns" type="setupCustom:CustomRecordSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomRecordSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CustomRecordSearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="ownerJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--customRecord/end-->
  <!--customList/start-->
  <element name="CustomList" type="setupCustom:CustomList"/>
  <complexType name="CustomList">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isOrdered" type="xsd:boolean"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="isMatrixOption" type="xsd:boolean"/>
          <element minOccurs="0" name="scriptId" type="xsd:string"/>
          <element minOccurs="0" name="convertToCustomRecord" type="xsd:boolean"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="customValueList" type="setupCustom:CustomListCustomValueList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomListTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomListCustomValue">
    <sequence>
      <element minOccurs="0" name="value" type="xsd:string"/>
      <element minOccurs="0" name="abbreviation" type="xsd:string"/>
      <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
      <element minOccurs="0" name="valueId" type="xsd:long"/>
      <element minOccurs="0" name="valueLanguageValueList" type="setupCustom:LanguageValueList"/>
    </sequence>
  </complexType>
  <complexType name="CustomListCustomValueList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customValue" type="setupCustom:CustomListCustomValue"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomListTranslations">
    <sequence>
      <element minOccurs="0" name="locale" type="platformCommonTyp:Language"/>
      <element minOccurs="0" name="localeDescription" type="xsd:string"/>
      <element minOccurs="0" name="name" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomListTranslationsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="translations" type="setupCustom:CustomListTranslations"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--customList/end-->
  <!--customRecordType/start-->
  <element name="CustomRecordType" type="setupCustom:CustomRecordType"/>
  <complexType name="CustomRecordType">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="recordName" type="xsd:string"/>
          <element minOccurs="0" name="includeName" type="xsd:boolean"/>
          <element minOccurs="0" name="showId" type="xsd:boolean"/>
          <element minOccurs="0" name="showCreationDate" type="xsd:boolean"/>
          <element minOccurs="0" name="showCreationDateOnList" type="xsd:boolean"/>
          <element minOccurs="0" name="showLastModified" type="xsd:boolean"/>
          <element minOccurs="0" name="showLastModifiedOnList" type="xsd:boolean"/>
          <element minOccurs="0" name="showOwner" type="xsd:boolean"/>
          <element minOccurs="0" name="showOwnerOnList" type="xsd:boolean"/>
          <element minOccurs="0" name="showOwnerAllowChange" type="xsd:boolean"/>
          <element minOccurs="0" name="accessType" type="setupCustomTyp:CustomRecordTypeAccessType"/>
          <element minOccurs="0" name="allowAttachments" type="xsd:boolean"/>
          <element minOccurs="0" name="showNotes" type="xsd:boolean"/>
          <element minOccurs="0" name="enableMailMerge" type="xsd:boolean"/>
          <element minOccurs="0" name="isOrdered" type="xsd:boolean"/>
          <element minOccurs="0" name="isAvailableOffline" type="xsd:boolean"/>
          <element minOccurs="0" name="allowQuickSearch" type="xsd:boolean"/>
          <element minOccurs="0" name="enableDle" type="xsd:boolean"/>
          <element minOccurs="0" name="enableNameTranslation" type="xsd:boolean"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="disclaimer" type="xsd:string"/>
          <element minOccurs="0" name="enableNumbering" type="xsd:boolean"/>
          <element minOccurs="0" name="numberingPrefix" type="xsd:string"/>
          <element minOccurs="0" name="numberingSuffix" type="xsd:string"/>
          <element minOccurs="0" name="numberingMinDigits" type="xsd:long"/>
          <element minOccurs="0" name="numberingInit" type="xsd:long"/>
          <element minOccurs="0" name="numberingCurrentNumber" type="xsd:long"/>
          <element minOccurs="0" name="allowNumberingOverride" type="xsd:boolean"/>
          <element minOccurs="0" name="isNumberingUpdateable" type="xsd:boolean"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="tabsList" type="setupCustom:CustomRecordTypeTabsList"/>
          <element minOccurs="0" name="sublistsList" type="setupCustom:CustomRecordTypeSublistsList"/>
          <element minOccurs="0" name="formsList" type="setupCustom:CustomRecordTypeFormsList"/>
          <element minOccurs="0" name="onlineFormsList" type="setupCustom:CustomRecordTypeOnlineFormsList"/>
          <element minOccurs="0" name="permissionsList" type="setupCustom:CustomRecordTypePermissionsList"/>
          <element minOccurs="0" name="linksList" type="setupCustom:CustomRecordTypeLinksList"/>
          <element minOccurs="0" name="managersList" type="setupCustom:CustomRecordTypeManagersList"/>
          <element minOccurs="0" name="childrenList" type="setupCustom:CustomRecordTypeChildrenList"/>
          <element minOccurs="0" name="parentsList" type="setupCustom:CustomRecordTypeParentsList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomRecordTypeTranslationsList"/>
          <element minOccurs="0" name="scriptId" type="xsd:string"/>
          <element minOccurs="0" name="customFieldList" type="setupCustom:CustomRecordTypeFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomRecordTypeFieldList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customField" type="setupCustom:CustomRecordCustomField"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypeTabs">
    <sequence>
      <element minOccurs="0" name="tabTitle" type="xsd:string"/>
      <element minOccurs="0" name="tabParent" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="tabTitleLanguageValueList" type="setupCustom:LanguageValueList"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypeTabsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="tabs" type="setupCustom:CustomRecordTypeTabs"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypeForms">
    <sequence>
      <element minOccurs="0" name="formEdit" type="xsd:string"/>
      <element minOccurs="0" name="formName" type="xsd:string"/>
      <element minOccurs="0" name="formPref" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypeFormsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="forms" type="setupCustom:CustomRecordTypeForms"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypeOnlineForms">
    <sequence>
      <element minOccurs="0" name="onlineFormName" type="xsd:string"/>
      <element minOccurs="0" name="isOnline" type="xsd:string"/>
      <element minOccurs="0" name="templateName" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypeOnlineFormsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="onlineForms" type="setupCustom:CustomRecordTypeOnlineForms"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypePermissions">
    <sequence>
      <element minOccurs="0" name="permittedRole" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="permittedLevel" type="setupCustomTyp:CustomRecordTypePermissionsPermittedLevel"/>
      <element minOccurs="0" name="restriction" type="setupCustomTyp:CustomRecordTypePermissionsRestriction"/>
      <element minOccurs="0" name="defaultForm" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="restrictForm" type="xsd:boolean"/>
      <element minOccurs="0" name="searchForm" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="searchResults" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="listView" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="listViewRestricted" type="xsd:boolean"/>
      <element minOccurs="0" name="dashboardView" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="restrictDashboardView" type="xsd:boolean"/>
      <element minOccurs="0" name="sublistView" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="restrictSublistView" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypePermissionsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="permissions" type="setupCustom:CustomRecordTypePermissions"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypeLinks">
    <sequence>
      <element minOccurs="0" name="linkCenter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="linkSection" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="linkLabel" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypeLinksList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="links" type="setupCustom:CustomRecordTypeLinks"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypeManagers">
    <sequence>
      <element minOccurs="0" name="managerEmp" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypeManagersList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="managers" type="setupCustom:CustomRecordTypeManagers"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypeChildren">
    <sequence>
      <element minOccurs="0" name="childDescr" type="xsd:string"/>
      <element minOccurs="0" name="childTab" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypeChildrenList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="children" type="setupCustom:CustomRecordTypeChildren"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypeParents">
    <sequence>
      <element minOccurs="0" name="childDescr" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypeParentsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="parents" type="setupCustom:CustomRecordTypeParents"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypeTranslations">
    <sequence>
      <element minOccurs="0" name="locale" type="platformCommonTyp:Language"/>
      <element minOccurs="0" name="localeDescription" type="xsd:string"/>
      <element minOccurs="0" name="name" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypeTranslationsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="translations" type="setupCustom:CustomRecordTypeTranslations"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomRecordTypeSublists">
    <sequence>
      <element minOccurs="0" name="recordSearch" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="recordDescr" type="xsd:string"/>
      <element minOccurs="0" name="recordDescrLanguageValueList" type="setupCustom:LanguageValueList"/>
      <element minOccurs="0" name="recordTab" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="recordId" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTypeSublistsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="sublists" type="setupCustom:CustomRecordTypeSublists"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--customRecordType/end-->
  <!--customFieldType/start-->
  <complexType abstract="true" name="CustomFieldType">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="fieldType" type="setupCustomTyp:CustomizationFieldType"/>
          <element minOccurs="0" name="scriptId" type="xsd:string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--customFieldType/end-->
  <!--entityCustomField/start-->
  <element name="EntityCustomField" type="setupCustom:EntityCustomField"/>
  <complexType name="EntityCustomField">
    <complexContent>
      <extension base="setupCustom:CustomFieldType">
        <sequence>
          <element minOccurs="0" name="label" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="selectRecordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="storeValue" type="xsd:boolean"/>
          <element minOccurs="0" name="showInList" type="xsd:boolean"/>
          <element minOccurs="0" name="globalSearch" type="xsd:boolean"/>
          <element minOccurs="0" name="isParent" type="xsd:boolean"/>
          <element minOccurs="0" name="insertBefore" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="availableToSso" type="xsd:boolean"/>
          <element minOccurs="0" name="subtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="displayType" type="setupCustomTyp:CustomizationDisplayType"/>
          <element minOccurs="0" name="displayWidth" type="xsd:long"/>
          <element minOccurs="0" name="displayHeight" type="xsd:long"/>
          <element minOccurs="0" name="help" type="xsd:string"/>
          <element minOccurs="0" name="parentSubtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="linkText" type="xsd:string"/>
          <element minOccurs="0" name="isMandatory" type="xsd:boolean"/>
          <element minOccurs="0" name="checkSpelling" type="xsd:boolean"/>
          <element minOccurs="0" name="maxLength" type="xsd:long"/>
          <element minOccurs="0" name="minValue" type="xsd:double"/>
          <element minOccurs="0" name="maxValue" type="xsd:double"/>
          <element minOccurs="0" name="defaultChecked" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultValue" type="xsd:string"/>
          <element minOccurs="0" name="isFormula" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultSelection" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dynamicDefault" type="setupCustomTyp:CustomizationDynamicDefault"/>
          <element minOccurs="0" name="searchDefault" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="searchCompareField" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFilterBy" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="appliesToCustomer" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToProject" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToVendor" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToEmployee" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToOtherName" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToContact" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToPartner" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToWebSite" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToGroup" type="xsd:boolean"/>
          <element minOccurs="0" name="availableExternally" type="xsd:boolean"/>
          <element minOccurs="0" name="filterList" type="setupCustom:EntityCustomFieldFilterList"/>
          <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
          <element minOccurs="0" name="appliesToStatement" type="xsd:boolean"/>
          <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
          <element minOccurs="0" name="appliesToPriceList" type="xsd:boolean"/>
          <element minOccurs="0" name="roleAccessList" type="setupCustom:CustomFieldRoleAccessList"/>
          <element minOccurs="0" name="deptAccessList" type="setupCustom:CustomFieldDepartmentAccessList"/>
          <element minOccurs="0" name="subAccessList" type="setupCustom:CustomFieldSubAccessList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomFieldTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EntityCustomFieldFilter">
    <sequence>
      <element minOccurs="0" name="fldFilter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fldFilterChecked" type="xsd:boolean"/>
      <element minOccurs="0" name="fldFilterCompareType" type="setupCustomTyp:CustomizationFilterCompareType"/>
      <element minOccurs="0" name="fldFilterVal" type="xsd:string"/>
      <element minOccurs="0" name="fldFilterSelList" type="setupCustom:FldFilterSelList"/>
      <element minOccurs="0" name="fldFilterNotNull" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="EntityCustomFieldFilterList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="filter" type="setupCustom:EntityCustomFieldFilter"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--entityCustomField/end-->
  <complexType name="FldFilterSelList">
    <sequence>
      <element maxOccurs="unbounded" name="fldFilterSel" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <!--crmCustomField/start-->
  <element name="CrmCustomField" type="setupCustom:CrmCustomField"/>
  <complexType name="CrmCustomField">
    <complexContent>
      <extension base="setupCustom:CustomFieldType">
        <sequence>
          <element minOccurs="0" name="label" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="selectRecordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="storeValue" type="xsd:boolean"/>
          <element minOccurs="0" name="showInList" type="xsd:boolean"/>
          <element minOccurs="0" name="globalSearch" type="xsd:boolean"/>
          <element minOccurs="0" name="isParent" type="xsd:boolean"/>
          <element minOccurs="0" name="insertBefore" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="displayType" type="setupCustomTyp:CustomizationDisplayType"/>
          <element minOccurs="0" name="displayWidth" type="xsd:long"/>
          <element minOccurs="0" name="displayHeight" type="xsd:long"/>
          <element minOccurs="0" name="help" type="xsd:string"/>
          <element minOccurs="0" name="parentSubtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="linkText" type="xsd:string"/>
          <element minOccurs="0" name="isMandatory" type="xsd:boolean"/>
          <element minOccurs="0" name="checkSpelling" type="xsd:boolean"/>
          <element minOccurs="0" name="maxLength" type="xsd:long"/>
          <element minOccurs="0" name="minValue" type="xsd:double"/>
          <element minOccurs="0" name="maxValue" type="xsd:double"/>
          <element minOccurs="0" name="defaultChecked" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultValue" type="xsd:string"/>
          <element minOccurs="0" name="isFormula" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultSelection" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dynamicDefault" type="setupCustomTyp:CustomizationDynamicDefault"/>
          <element minOccurs="0" name="searchDefault" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="searchCompareField" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFilterBy" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="appliesToTask" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToMfgProjectTask" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToProjectTask" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToPhoneCall" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToEvent" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToCase" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToCampaign" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesPerKeyword" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToSolution" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToIssue" type="xsd:boolean"/>
          <element minOccurs="0" name="availableExternally" type="xsd:boolean"/>
          <element minOccurs="0" name="availableToSso" type="xsd:boolean"/>
          <element minOccurs="0" name="showIssueChanges" type="xsd:boolean"/>
          <element minOccurs="0" name="filterList" type="setupCustom:CrmCustomFieldFilterList"/>
          <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
          <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
          <element minOccurs="0" name="roleAccessList" type="setupCustom:CustomFieldRoleAccessList"/>
          <element minOccurs="0" name="deptAccessList" type="setupCustom:CustomFieldDepartmentAccessList"/>
          <element minOccurs="0" name="subAccessList" type="setupCustom:CustomFieldSubAccessList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomFieldTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CrmCustomFieldFilter">
    <sequence>
      <element minOccurs="0" name="fldFilter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fldFilterChecked" type="xsd:boolean"/>
      <element minOccurs="0" name="fldFilterCompareType" type="setupCustomTyp:CustomizationFilterCompareType"/>
      <element minOccurs="0" name="fldFilterVal" type="xsd:string"/>
      <element minOccurs="0" name="fldFilterSelList" type="setupCustom:FldFilterSelList"/>
      <element minOccurs="0" name="fldFilterNotNull" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="CrmCustomFieldFilterList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="filter" type="setupCustom:CrmCustomFieldFilter"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--crmCustomField/end-->
  <!--otherCustomField/start-->
  <element name="OtherCustomField" type="setupCustom:OtherCustomField"/>
  <complexType name="OtherCustomField">
    <complexContent>
      <extension base="setupCustom:CustomFieldType">
        <sequence>
          <element minOccurs="0" name="recType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="label" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="selectRecordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="storeValue" type="xsd:boolean"/>
          <element minOccurs="0" name="showInList" type="xsd:boolean"/>
          <element minOccurs="0" name="insertBefore" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="displayType" type="setupCustomTyp:CustomizationDisplayType"/>
          <element minOccurs="0" name="displayWidth" type="xsd:long"/>
          <element minOccurs="0" name="displayHeight" type="xsd:long"/>
          <element minOccurs="0" name="help" type="xsd:string"/>
          <element minOccurs="0" name="linkText" type="xsd:string"/>
          <element minOccurs="0" name="isMandatory" type="xsd:boolean"/>
          <element minOccurs="0" name="checkSpelling" type="xsd:boolean"/>
          <element minOccurs="0" name="maxLength" type="xsd:long"/>
          <element minOccurs="0" name="minValue" type="xsd:double"/>
          <element minOccurs="0" name="maxValue" type="xsd:double"/>
          <element minOccurs="0" name="defaultChecked" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultValue" type="xsd:string"/>
          <element minOccurs="0" name="isFormula" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultSelection" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dynamicDefault" type="setupCustomTyp:CustomizationDynamicDefault"/>
          <element minOccurs="0" name="searchDefault" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="searchCompareField" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFilterBy" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="filterList" type="setupCustom:OtherCustomFieldFilterList"/>
          <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
          <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
          <element minOccurs="0" name="roleAccessList" type="setupCustom:CustomFieldRoleAccessList"/>
          <element minOccurs="0" name="deptAccessList" type="setupCustom:CustomFieldDepartmentAccessList"/>
          <element minOccurs="0" name="subAccessList" type="setupCustom:CustomFieldSubAccessList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomFieldTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OtherCustomFieldFilter">
    <sequence>
      <element minOccurs="0" name="fldFilter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fldFilterChecked" type="xsd:boolean"/>
      <element minOccurs="0" name="fldFilterCompareType" type="setupCustomTyp:CustomizationFilterCompareType"/>
      <element minOccurs="0" name="fldFilterVal" type="xsd:string"/>
      <element minOccurs="0" name="fldFilterSelList" type="setupCustom:FldFilterSelList"/>
      <element minOccurs="0" name="fldFilterNotNull" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="OtherCustomFieldFilterList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="filter" type="setupCustom:OtherCustomFieldFilter"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--otherCustomField/end-->
  <!--itemCustomField/start-->
  <element name="ItemCustomField" type="setupCustom:ItemCustomField"/>
  <complexType name="ItemCustomField">
    <complexContent>
      <extension base="setupCustom:CustomFieldType">
        <sequence>
          <element minOccurs="0" name="label" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="itemMatrix" type="xsd:boolean"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="selectRecordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="storeValue" type="xsd:boolean"/>
          <element minOccurs="0" name="showInList" type="xsd:boolean"/>
          <element minOccurs="0" name="globalSearch" type="xsd:boolean"/>
          <element minOccurs="0" name="isParent" type="xsd:boolean"/>
          <element minOccurs="0" name="insertBefore" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="displayType" type="setupCustomTyp:CustomizationDisplayType"/>
          <element minOccurs="0" name="displayWidth" type="xsd:long"/>
          <element minOccurs="0" name="displayHeight" type="xsd:long"/>
          <element minOccurs="0" name="help" type="xsd:string"/>
          <element minOccurs="0" name="parentSubtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="linkText" type="xsd:string"/>
          <element minOccurs="0" name="isMandatory" type="xsd:boolean"/>
          <element minOccurs="0" name="checkSpelling" type="xsd:boolean"/>
          <element minOccurs="0" name="maxLength" type="xsd:long"/>
          <element minOccurs="0" name="minValue" type="xsd:double"/>
          <element minOccurs="0" name="maxValue" type="xsd:double"/>
          <element minOccurs="0" name="defaultChecked" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultValue" type="xsd:string"/>
          <element minOccurs="0" name="isFormula" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultSelection" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dynamicDefault" type="setupCustomTyp:CustomizationDynamicDefault"/>
          <element minOccurs="0" name="searchDefault" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="searchCompareField" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFilterBy" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="appliesToInventory" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToNonInventory" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToService" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToOtherCharge" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToGroup" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToKit" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToItemAssembly" type="xsd:boolean"/>
          <element minOccurs="0" name="availableToSso" type="xsd:boolean"/>
          <element minOccurs="0" name="itemSubType" type="setupCustomTyp:ItemCustomFieldItemSubType"/>
          <element minOccurs="0" name="filterList" type="setupCustom:ItemCustomFieldFilterList"/>
          <element minOccurs="0" name="appliesToPriceList" type="xsd:boolean"/>
          <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
          <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
          <element minOccurs="0" name="roleAccessList" type="setupCustom:CustomFieldRoleAccessList"/>
          <element minOccurs="0" name="deptAccessList" type="setupCustom:CustomFieldDepartmentAccessList"/>
          <element minOccurs="0" name="subAccessList" type="setupCustom:CustomFieldSubAccessList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomFieldTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ItemCustomFieldFilter">
    <sequence>
      <element minOccurs="0" name="fldFilter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fldFilterChecked" type="xsd:boolean"/>
      <element minOccurs="0" name="fldFilterCompareType" type="setupCustomTyp:CustomizationFilterCompareType"/>
      <element minOccurs="0" name="fldFilterVal" type="xsd:string"/>
      <element minOccurs="0" name="fldFilterSelList" type="setupCustom:FldFilterSelList"/>
      <element minOccurs="0" name="fldFilterNotNull" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="ItemCustomFieldFilterList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="filter" type="setupCustom:ItemCustomFieldFilter"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--itemCustomField/end-->
  <!--transactionBodyCustomField/start-->
  <element name="TransactionBodyCustomField" type="setupCustom:TransactionBodyCustomField"/>
  <complexType name="TransactionBodyCustomField">
    <complexContent>
      <extension base="setupCustom:CustomFieldType">
        <sequence>
          <element minOccurs="0" name="label" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="selectRecordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="storeValue" type="xsd:boolean"/>
          <element minOccurs="0" name="showInList" type="xsd:boolean"/>
          <element minOccurs="0" name="globalSearch" type="xsd:boolean"/>
          <element minOccurs="0" name="isParent" type="xsd:boolean"/>
          <element minOccurs="0" name="insertBefore" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="availableToSso" type="xsd:boolean"/>
          <element minOccurs="0" name="displayType" type="setupCustomTyp:CustomizationDisplayType"/>
          <element minOccurs="0" name="displayWidth" type="xsd:long"/>
          <element minOccurs="0" name="displayHeight" type="xsd:long"/>
          <element minOccurs="0" name="help" type="xsd:string"/>
          <element minOccurs="0" name="parentSubtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="linkText" type="xsd:string"/>
          <element minOccurs="0" name="isMandatory" type="xsd:boolean"/>
          <element minOccurs="0" name="checkSpelling" type="xsd:boolean"/>
          <element minOccurs="0" name="maxLength" type="xsd:long"/>
          <element minOccurs="0" name="minValue" type="xsd:double"/>
          <element minOccurs="0" name="maxValue" type="xsd:double"/>
          <element minOccurs="0" name="defaultChecked" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultValue" type="xsd:string"/>
          <element minOccurs="0" name="isFormula" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultSelection" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dynamicDefault" type="setupCustomTyp:CustomizationDynamicDefault"/>
          <element minOccurs="0" name="searchDefault" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="searchCompareField" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFilterBy" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="bodyPurchase" type="xsd:boolean"/>
          <element minOccurs="0" name="bodySale" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyOpportunity" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyJournal" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyExpenseReport" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyStore" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyTransferOrder" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyItemReceipt" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyItemReceiptOrder" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyItemFulfillment" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyItemFulfillmentOrder" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyInventoryAdjustment" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyBTegata" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyAssemblyBuild" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyPrintFlag" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyPickingTicket" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyPrintPackingSlip" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyCustomerPayment" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyVendorPayment" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyDeposit" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyBom" type="xsd:boolean"/>
          <element minOccurs="0" name="bodyPrintStatement" type="xsd:boolean"/>
          <element minOccurs="0" name="filterList" type="setupCustom:TransactionBodyCustomFieldFilterList"/>
          <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
          <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
          <element minOccurs="0" name="roleAccessList" type="setupCustom:CustomFieldRoleAccessList"/>
          <element minOccurs="0" name="deptAccessList" type="setupCustom:CustomFieldDepartmentAccessList"/>
          <element minOccurs="0" name="subAccessList" type="setupCustom:CustomFieldSubAccessList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomFieldTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TransactionBodyCustomFieldFilter">
    <sequence>
      <element minOccurs="0" name="fldFilter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fldFilterChecked" type="xsd:boolean"/>
      <element minOccurs="0" name="fldFilterCompareType" type="setupCustomTyp:CustomizationFilterCompareType"/>
      <element minOccurs="0" name="fldFilterVal" type="xsd:string"/>
      <element minOccurs="0" name="fldFilterSelList" type="setupCustom:FldFilterSelList"/>
      <element minOccurs="0" name="fldFilterNotNull" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="TransactionBodyCustomFieldFilterList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="filter" type="setupCustom:TransactionBodyCustomFieldFilter"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--transactionBodyCustomField/end-->
  <!--transactionColumnCustomField/start-->
  <element name="TransactionColumnCustomField" type="setupCustom:TransactionColumnCustomField"/>
  <complexType name="TransactionColumnCustomField">
    <complexContent>
      <extension base="setupCustom:CustomFieldType">
        <sequence>
          <element minOccurs="0" name="label" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="selectRecordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="storeValue" type="xsd:boolean"/>
          <element minOccurs="0" name="insertBefore" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="availableToSso" type="xsd:boolean"/>
          <element minOccurs="0" name="displayType" type="setupCustomTyp:CustomizationDisplayType"/>
          <element minOccurs="0" name="displayWidth" type="xsd:long"/>
          <element minOccurs="0" name="displayHeight" type="xsd:long"/>
          <element minOccurs="0" name="help" type="xsd:string"/>
          <element minOccurs="0" name="linkText" type="xsd:string"/>
          <element minOccurs="0" name="isMandatory" type="xsd:boolean"/>
          <element minOccurs="0" name="maxLength" type="xsd:long"/>
          <element minOccurs="0" name="minValue" type="xsd:double"/>
          <element minOccurs="0" name="maxValue" type="xsd:double"/>
          <element minOccurs="0" name="defaultChecked" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultValue" type="xsd:string"/>
          <element minOccurs="0" name="isFormula" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultSelection" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dynamicDefault" type="setupCustomTyp:CustomizationDynamicDefault"/>
          <element minOccurs="0" name="sourceList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFilterBy" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="colExpense" type="xsd:boolean"/>
          <element minOccurs="0" name="colPurchase" type="xsd:boolean"/>
          <element minOccurs="0" name="colSale" type="xsd:boolean"/>
          <element minOccurs="0" name="colOpportunity" type="xsd:boolean"/>
          <element minOccurs="0" name="colStore" type="xsd:boolean"/>
          <element minOccurs="0" name="colStoreHidden" type="xsd:boolean"/>
          <element minOccurs="0" name="colJournal" type="xsd:boolean"/>
          <element minOccurs="0" name="colBuild" type="xsd:boolean"/>
          <element minOccurs="0" name="colExpenseReport" type="xsd:boolean"/>
          <element minOccurs="0" name="colTime" type="xsd:boolean"/>
          <element minOccurs="0" name="colTransferOrder" type="xsd:boolean"/>
          <element minOccurs="0" name="colTimeGroup" type="xsd:boolean"/>
          <element minOccurs="0" name="colItemReceipt" type="xsd:boolean"/>
          <element minOccurs="0" name="colItemReceiptOrder" type="xsd:boolean"/>
          <element minOccurs="0" name="colItemFulfillment" type="xsd:boolean"/>
          <element minOccurs="0" name="colItemFulfillmentOrder" type="xsd:boolean"/>
          <element minOccurs="0" name="colPrintFlag" type="xsd:boolean"/>
          <element minOccurs="0" name="colPickingTicket" type="xsd:boolean"/>
          <element minOccurs="0" name="colPackingSlip" type="xsd:boolean"/>
          <element minOccurs="0" name="colReturnForm" type="xsd:boolean"/>
          <element minOccurs="0" name="colStoreWithGroups" type="xsd:boolean"/>
          <element minOccurs="0" name="colGroupOnInvoices" type="xsd:boolean"/>
          <element minOccurs="0" name="colKitItem" type="xsd:boolean"/>
          <element minOccurs="0" name="filterList" type="setupCustom:TransactionColumnCustomFieldFilterList"/>
          <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
          <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
          <element minOccurs="0" name="roleAccessList" type="setupCustom:CustomFieldRoleAccessList"/>
          <element minOccurs="0" name="deptAccessList" type="setupCustom:CustomFieldDepartmentAccessList"/>
          <element minOccurs="0" name="subAccessList" type="setupCustom:CustomFieldSubAccessList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomFieldTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TransactionColumnCustomFieldFilter">
    <sequence>
      <element minOccurs="0" name="fldFilter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fldFilterChecked" type="xsd:boolean"/>
      <element minOccurs="0" name="fldFilterCompareType" type="setupCustomTyp:CustomizationFilterCompareType"/>
      <element minOccurs="0" name="fldFilterVal" type="xsd:string"/>
      <element minOccurs="0" name="fldFilterSelList" type="setupCustom:FldFilterSelList"/>
      <element minOccurs="0" name="fldFilterNotNull" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="TransactionColumnCustomFieldFilterList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="filter" type="setupCustom:TransactionColumnCustomFieldFilter"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--transactionColumnCustomField/end-->
  <!--itemOptionCustomField/start-->
  <element name="ItemOptionCustomField" type="setupCustom:ItemOptionCustomField"/>
  <complexType name="ItemOptionCustomField">
    <complexContent>
      <extension base="setupCustom:CustomFieldType">
        <sequence>
          <element minOccurs="0" name="label" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="selectRecordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="storeValue" type="xsd:boolean"/>
          <element minOccurs="0" name="insertBefore" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="displayType" type="setupCustomTyp:CustomizationDisplayType"/>
          <element minOccurs="0" name="displayWidth" type="xsd:long"/>
          <element minOccurs="0" name="displayHeight" type="xsd:long"/>
          <element minOccurs="0" name="help" type="xsd:string"/>
          <element minOccurs="0" name="linkText" type="xsd:string"/>
          <element minOccurs="0" name="isMandatory" type="xsd:boolean"/>
          <element minOccurs="0" name="maxLength" type="xsd:long"/>
          <element minOccurs="0" name="minValue" type="xsd:double"/>
          <element minOccurs="0" name="maxValue" type="xsd:double"/>
          <element minOccurs="0" name="defaultChecked" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultValue" type="xsd:string"/>
          <element minOccurs="0" name="isFormula" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultSelection" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dynamicDefault" type="setupCustomTyp:CustomizationDynamicDefault"/>
          <element minOccurs="0" name="searchDefault" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="searchCompareField" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFilterBy" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="colPurchase" type="xsd:boolean"/>
          <element minOccurs="0" name="colSale" type="xsd:boolean"/>
          <element minOccurs="0" name="colOpportunity" type="xsd:boolean"/>
          <element minOccurs="0" name="colStore" type="xsd:boolean"/>
          <element minOccurs="0" name="colStoreHidden" type="xsd:boolean"/>
          <element minOccurs="0" name="colTransferOrder" type="xsd:boolean"/>
          <element minOccurs="0" name="colAllItems" type="xsd:boolean"/>
          <element minOccurs="0" name="itemsList" type="setupCustom:ItemsList"/>
          <element minOccurs="0" name="colKitItem" type="xsd:boolean"/>
          <element minOccurs="0" name="filterList" type="setupCustom:ItemOptionCustomFieldFilterList"/>
          <element minOccurs="0" name="colOptionLabel" type="xsd:string"/>
          <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
          <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
          <element minOccurs="0" name="roleAccessList" type="setupCustom:CustomFieldRoleAccessList"/>
          <element minOccurs="0" name="deptAccessList" type="setupCustom:CustomFieldDepartmentAccessList"/>
          <element minOccurs="0" name="subAccessList" type="setupCustom:CustomFieldSubAccessList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomFieldTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ItemsList">
    <sequence>
      <element maxOccurs="unbounded" name="items" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="ItemOptionCustomFieldFilter">
    <sequence>
      <element minOccurs="0" name="fldFilter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fldFilterChecked" type="xsd:boolean"/>
      <element minOccurs="0" name="fldFilterCompareType" type="setupCustomTyp:CustomizationFilterCompareType"/>
      <element minOccurs="0" name="fldFilterVal" type="xsd:string"/>
      <element minOccurs="0" name="fldFilterSelList" type="setupCustom:FldFilterSelList"/>
      <element minOccurs="0" name="fldFilterNotNull" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="ItemOptionCustomFieldFilterList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="filter" type="setupCustom:ItemOptionCustomFieldFilter"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--itemOptionCustomField/end-->
  <!--customRecordCustomField/start-->
  <element name="CustomRecordCustomField" type="setupCustom:CustomRecordCustomField"/>
  <complexType name="CustomRecordCustomField">
    <complexContent>
      <extension base="setupCustom:CustomFieldType">
        <sequence>
          <element minOccurs="0" name="label" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="selectRecordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="storeValue" type="xsd:boolean"/>
          <element minOccurs="0" name="showInList" type="xsd:boolean"/>
          <element minOccurs="0" name="globalSearch" type="xsd:boolean"/>
          <element minOccurs="0" name="isParent" type="xsd:boolean"/>
          <element minOccurs="0" name="insertBefore" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="displayType" type="setupCustomTyp:CustomizationDisplayType"/>
          <element minOccurs="0" name="displayWidth" type="xsd:long"/>
          <element minOccurs="0" name="displayHeight" type="xsd:long"/>
          <element minOccurs="0" name="help" type="xsd:string"/>
          <element minOccurs="0" name="parentSubtab" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="linkText" type="xsd:string"/>
          <element minOccurs="0" name="isMandatory" type="xsd:boolean"/>
          <element minOccurs="0" name="checkSpelling" type="xsd:boolean"/>
          <element minOccurs="0" name="maxLength" type="xsd:long"/>
          <element minOccurs="0" name="minValue" type="xsd:double"/>
          <element minOccurs="0" name="maxValue" type="xsd:double"/>
          <element minOccurs="0" name="defaultChecked" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultValue" type="xsd:string"/>
          <element minOccurs="0" name="isFormula" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultSelection" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dynamicDefault" type="setupCustomTyp:CustomizationDynamicDefault"/>
          <element minOccurs="0" name="searchDefault" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="searchCompareField" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourcefilterby" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="recType" type="xsd:string"/>
          <element minOccurs="0" name="roleRestrict" type="xsd:boolean"/>
          <element minOccurs="0" name="filterList" type="setupCustom:CustomRecordCustomFieldFilterList"/>
          <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
          <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
          <element minOccurs="0" name="roleAccessList" type="setupCustom:CustomFieldRoleAccessList"/>
          <element minOccurs="0" name="deptAccessList" type="setupCustom:CustomFieldDepartmentAccessList"/>
          <element minOccurs="0" name="subAccessList" type="setupCustom:CustomFieldSubAccessList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomFieldTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomRecordCustomFieldFilter">
    <sequence>
      <element minOccurs="0" name="fldFilter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fldFilterChecked" type="xsd:boolean"/>
      <element minOccurs="0" name="fldFilterCompareType" type="setupCustomTyp:CustomizationFilterCompareType"/>
      <element minOccurs="0" name="fldFilterVal" type="xsd:string"/>
      <element minOccurs="0" name="fldFilterSelList" type="setupCustom:FldFilterSelList"/>
      <element minOccurs="0" name="fldFilterNotNull" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordCustomFieldFilterList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="filter" type="setupCustom:CustomRecordCustomFieldFilter"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--customRecordCustomField/end-->
  <!--common type CustomizationFieldType constants/start-->
  <!--common type CustomizationFieldType constants/end-->
  <!--common type CustomizationDynamicDefault constants/start-->
  <!--common type CustomizationDynamicDefault constants/end-->
  <!--common type CustomizationDisplayType constants/start-->
  <!--common type CustomizationDisplayType constants/end-->
  <complexType name="CustomFieldRoleAccess">
    <sequence>
      <element minOccurs="0" name="role" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
      <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
    </sequence>
  </complexType>
  <complexType name="CustomFieldRoleAccessList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="roleAccess" type="setupCustom:CustomFieldRoleAccess"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomFieldDepartmentAccess">
    <sequence>
      <element minOccurs="0" name="dept" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
      <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
    </sequence>
  </complexType>
  <complexType name="CustomFieldDepartmentAccessList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="deptAccess" type="setupCustom:CustomFieldDepartmentAccess"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomFieldSubAccess">
    <sequence>
      <element minOccurs="0" name="sub" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
      <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
    </sequence>
  </complexType>
  <complexType name="CustomFieldSubAccessList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="subAccess" type="setupCustom:CustomFieldSubAccess"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="LanguageValue">
    <sequence>
      <element minOccurs="0" name="locale" type="platformCommonTyp:Language"/>
      <element minOccurs="0" name="value" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="LanguageValueList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="languageValue" type="setupCustom:LanguageValue"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomFieldTranslations">
    <sequence>
      <element minOccurs="0" name="locale" type="platformCommonTyp:Language"/>
      <element minOccurs="0" name="localeDescription" type="xsd:string"/>
      <element minOccurs="0" name="label" type="xsd:string"/>
      <element minOccurs="0" name="help" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomFieldTranslationsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="translations" type="setupCustom:CustomFieldTranslations"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="itemNumberCustomField" type="setupCustom:ItemNumberCustomField"/>
  <complexType name="ItemNumberCustomField">
    <complexContent>
      <extension base="setupCustom:CustomFieldType">
        <sequence>
          <element minOccurs="0" name="label" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="selectRecordType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="storeValue" type="xsd:boolean"/>
          <element minOccurs="0" name="showInList" type="xsd:boolean"/>
          <element minOccurs="0" name="insertBefore" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="displayType" type="setupCustomTyp:CustomizationDisplayType"/>
          <element minOccurs="0" name="displayWidth" type="xsd:long"/>
          <element minOccurs="0" name="displayHeight" type="xsd:long"/>
          <element minOccurs="0" name="help" type="xsd:string"/>
          <element minOccurs="0" name="linkText" type="xsd:string"/>
          <element minOccurs="0" name="isMandatory" type="xsd:boolean"/>
          <element minOccurs="0" name="checkSpelling" type="xsd:boolean"/>
          <element minOccurs="0" name="maxLength" type="xsd:long"/>
          <element minOccurs="0" name="minValue" type="xsd:double"/>
          <element minOccurs="0" name="maxValue" type="xsd:double"/>
          <element minOccurs="0" name="defaultChecked" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultValue" type="xsd:string"/>
          <element minOccurs="0" name="isFormula" type="xsd:boolean"/>
          <element minOccurs="0" name="defaultSelection" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dynamicDefault" type="setupCustomTyp:CustomizationDynamicDefault"/>
          <element minOccurs="0" name="searchDefault" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="searchCompareField" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sourceFilterBy" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="accessLevel" type="setupCustomTyp:CustomizationAccessLevel"/>
          <element minOccurs="0" name="searchLevel" type="setupCustomTyp:CustomizationSearchLevel"/>
          <element minOccurs="0" name="filterList" type="setupCustom:ItemNumberCustomFieldFilterList"/>
          <element minOccurs="0" name="roleAccessList" type="setupCustom:CustomFieldRoleAccessList"/>
          <element minOccurs="0" name="deptAccessList" type="setupCustom:CustomFieldDepartmentAccessList"/>
          <element minOccurs="0" name="appliesToAllItems" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToSerialized" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToLots" type="xsd:boolean"/>
          <element minOccurs="0" name="appliesToGiftCerts" type="xsd:boolean"/>
          <element minOccurs="0" name="itemsList" type="platformCore:RecordRefList"/>
          <element minOccurs="0" name="translationsList" type="setupCustom:CustomFieldTranslationsList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ItemNumberCustomFieldFilter">
    <sequence>
      <element minOccurs="0" name="fldFilter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fldFilterChecked" type="xsd:boolean"/>
      <element minOccurs="0" name="fldFilterCompareType" type="setupCustomTyp:CustomizationFilterCompareType"/>
      <element minOccurs="0" name="fldFilterVal" type="xsd:string"/>
      <element minOccurs="0" name="fldFilterNotNull" type="xsd:boolean"/>
      <element minOccurs="0" name="fldfilterNull" type="xsd:boolean"/>
      <element minOccurs="0" name="fldCompareField" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="ItemNumberCustomFieldFilterList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="filter" type="setupCustom:ItemNumberCustomFieldFilter"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="customListSearch" type="setupCustom:CustomListSearch"/>
  <complexType name="CustomListSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CustomListSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomListSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="setupCustom:CustomListSearch"/>
          <element minOccurs="0" name="columns" type="setupCustom:CustomListSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomListSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CustomListSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="appDefinition" type="setupCustom:AppDefinition"/>
  <complexType name="AppDefinition">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="packagesList" type="setupCustom:AppDefinitionPackagesList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AppDefinitionPackages">
    <sequence/>
  </complexType>
  <complexType name="AppDefinitionPackagesList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="packages" type="setupCustom:AppDefinitionPackages"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="appDefinitionSearch" type="setupCustom:AppDefinitionSearch"/>
  <complexType name="AppDefinitionSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:AppDefinitionSearchBasic"/>
          <element minOccurs="0" name="appPackageJoin" type="platformCommon:AppPackageSearchBasic"/>
          <element minOccurs="0" name="creatorJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AppDefinitionSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="setupCustom:AppDefinitionSearch"/>
          <element minOccurs="0" name="columns" type="setupCustom:AppDefinitionSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AppDefinitionSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:AppDefinitionSearchRowBasic"/>
          <element minOccurs="0" name="appPackageJoin" type="platformCommon:AppPackageSearchRowBasic"/>
          <element minOccurs="0" name="creatorJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="appPackage" type="setupCustom:AppPackage"/>
  <complexType name="AppPackage">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="appDefinition" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="version" type="xsd:string"/>
          <element minOccurs="0" name="packageFile" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="bundle" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="appPackageSearch" type="setupCustom:AppPackageSearch"/>
  <complexType name="AppPackageSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:AppPackageSearchBasic"/>
          <element minOccurs="0" name="appDefinitionJoin" type="platformCommon:AppDefinitionSearchBasic"/>
          <element minOccurs="0" name="creatorJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="packageFileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AppPackageSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="setupCustom:AppPackageSearch"/>
          <element minOccurs="0" name="columns" type="setupCustom:AppPackageSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AppPackageSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:AppPackageSearchRowBasic"/>
          <element minOccurs="0" name="appDefinitionJoin" type="platformCommon:AppDefinitionSearchRowBasic"/>
          <element minOccurs="0" name="creatorJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="packageFileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomRecordTranslations">
    <sequence>
      <element minOccurs="0" name="locale" type="platformCommonTyp:Language"/>
      <element minOccurs="0" name="language" type="xsd:string"/>
      <element minOccurs="0" name="label" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordTranslationsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customRecordTranslations" type="setupCustom:CustomRecordTranslations"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="customTransaction" type="setupCustom:CustomTransaction"/>
  <complexType name="CustomTransaction">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="total" type="xsd:double"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="voidJournal" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="tranStatus" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="lineList" type="setupCustom:CustomTransactionLineList"/>
          <element minOccurs="0" name="accountingBookDetailList" type="setupCustom:CustomTransactionAccountingBookDetailList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomTransactionLine">
    <sequence>
      <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="debit" type="xsd:double"/>
      <element minOccurs="0" name="credit" type="xsd:double"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="memo" type="xsd:string"/>
      <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="CustomTransactionLineList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customTransactionLine" type="setupCustom:CustomTransactionLine"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomTransactionAccountingBookDetail">
    <sequence>
      <element minOccurs="0" name="accountingBook" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CustomTransactionAccountingBookDetailList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customTransactionAccountingBookDetail" type="setupCustom:CustomTransactionAccountingBookDetail"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
</xsd:schema>
