EG1.0.0/Opportunity_Integrations/Service Descriptors/demandPlanning.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:demandPlanning="urn:demandplanning_2015_1.transactions.webservices.netsuite.com" xmlns:demandPlanningTyp="urn:types.demandplanning_2015_1.transactions.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:demandplanning_2015_1.transactions.webservices.netsuite.com">
  <import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <import namespace="urn:types.demandplanning_2015_1.transactions.webservices.netsuite.com" schemaLocation="demandPlanningTypes.xsd"/>
  <element name="itemDemandPlan" type="demandPlanning:ItemDemandPlan"/>
  <complexType name="ItemDemandPlan">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element maxOccurs="1" minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element maxOccurs="1" minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="units" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="year" type="xsd:long"/>
          <element minOccurs="0" name="month" type="demandPlanningTyp:DemandPlanMonth"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="demandPlanCalendarType" type="demandPlanningTyp:DemandPlanCalendarType"/>
          <element minOccurs="0" name="demandPlanMatrix" type="demandPlanning:DemandPlanMatrix"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DemandPlan">
    <sequence>
      <element minOccurs="1" name="startDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="calculatedQuantity" type="xsd:double"/>
      <element minOccurs="0" name="periodDemandPlanList" type="demandPlanning:PeriodDemandPlanList"/>
    </sequence>
  </complexType>
  <complexType name="DemandPlanMatrix">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="demandPlan" type="demandPlanning:DemandPlan"/>
    </sequence>
    <attribute default="false" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="PeriodDemandPlanList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="periodDemandPlan" type="demandPlanning:PeriodDemandPlan"/>
    </sequence>
  </complexType>
  <complexType name="PeriodDemandPlan">
    <sequence>
      <element minOccurs="1" name="quantity" type="xsd:double"/>
      <element minOccurs="0" name="dayOfTheWeek" type="demandPlanningTyp:DayOfTheWeek"/>
    </sequence>
  </complexType>
  <element name="itemDemandPlanSearch" type="demandPlanning:ItemDemandPlanSearch"/>
  <complexType name="ItemDemandPlanSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ItemDemandPlanSearchBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="lastAlternateSourceItemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ItemDemandPlanSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="demandPlanning:ItemDemandPlanSearch"/>
          <element minOccurs="0" name="columns" type="demandPlanning:ItemDemandPlanSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ItemDemandPlanSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ItemDemandPlanSearchRowBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="lastAlternateSourceItemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="itemSupplyPlan" type="demandPlanning:ItemSupplyPlan"/>
  <complexType name="ItemSupplyPlan">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element maxOccurs="1" minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element maxOccurs="1" minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="units" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="orderList" type="demandPlanning:ItemSupplyPlanOrderList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ItemSupplyPlanOrder">
    <sequence>
      <element minOccurs="0" name="orderLineId" type="xsd:long"/>
      <element minOccurs="0" name="orderDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="receiptDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="sourceLocation" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="quantity" type="xsd:double"/>
      <element minOccurs="0" name="orderCreated" type="xsd:boolean"/>
      <element minOccurs="0" name="orderType" type="demandPlanningTyp:ItemSupplyPlanOrderType"/>
    </sequence>
  </complexType>
  <complexType name="ItemSupplyPlanOrderList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="itemSupplyPlanOrder" type="demandPlanning:ItemSupplyPlanOrder"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="itemSupplyPlanSearch" type="demandPlanning:ItemSupplyPlanSearch"/>
  <complexType name="ItemSupplyPlanSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ItemSupplyPlanSearchBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ItemSupplyPlanSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="demandPlanning:ItemSupplyPlanSearch"/>
          <element minOccurs="0" name="columns" type="demandPlanning:ItemSupplyPlanSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ItemSupplyPlanSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ItemSupplyPlanSearchRowBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
