EG1.0.0/Opportunity_Integrations/Service Descriptors/employees_1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:tranEmp="urn:employees_2015_1.transactions.webservices.netsuite.com" xmlns:tranEmpTyp="urn:types.employees_2015_1.transactions.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:employees_2015_1.transactions.webservices.netsuite.com">
  <import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <import namespace="urn:types.employees_2015_1.transactions.webservices.netsuite.com" schemaLocation="employeeTypes_1.xsd"/>
  <!--timeBill/start-->
  <element name="TimeBill" type="tranEmp:TimeBill"/>
  <complexType name="TimeBill">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="employee" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customer" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="caseTaskEvent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isBillable" type="xsd:boolean"/>
          <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="paidExternally" type="xsd:boolean"/>
          <element minOccurs="0" name="workplace" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="hours" type="platformCore:Duration"/>
          <element minOccurs="0" name="price" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="timeType" type="tranEmpTyp:TimeBillTimeType"/>
          <element minOccurs="0" name="rate" type="xsd:double"/>
          <element minOccurs="0" name="overrideRate" type="xsd:boolean"/>
          <element minOccurs="0" name="temporaryLocalJurisdiction" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="temporaryStateJurisdiction" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="supervisorApproval" type="xsd:boolean"/>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="status" type="xsd:string"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="timeBillSearch" type="tranEmp:TimeBillSearch"/>
  <complexType name="TimeBillSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:TimeBillSearchBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic"/>
          <element minOccurs="0" name="classJoin" type="platformCommon:ClassificationSearchBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic"/>
          <element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchBasic"/>
          <element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeBillSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="tranEmp:TimeBillSearch"/>
          <element minOccurs="0" name="columns" type="tranEmp:TimeBillSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeBillSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:TimeBillSearchRowBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchRowBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic"/>
          <element minOccurs="0" name="classJoin" type="platformCommon:ClassificationSearchRowBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchRowBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchRowBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic"/>
          <element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchRowBasic"/>
          <element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchRowBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchRowBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--timeBill/end-->
  <element name="expenseReport" type="tranEmp:ExpenseReport"/>
  <complexType name="ExpenseReport">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="status" type="xsd:string"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="dueDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="total" type="xsd:double"/>
          <element minOccurs="0" name="nextApprover" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="advance" type="xsd:double"/>
          <element minOccurs="0" name="tax1Amt" type="xsd:double"/>
          <element minOccurs="0" name="amount" type="xsd:double"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="complete" type="xsd:boolean"/>
          <element minOccurs="0" name="supervisorApproval" type="xsd:boolean"/>
          <element minOccurs="0" name="accountingApproval" type="xsd:boolean"/>
          <element minOccurs="0" name="useMultiCurrency" type="xsd:boolean"/>
          <element minOccurs="0" name="tax2Amt" type="xsd:double"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="expenseList" type="tranEmp:ExpenseReportExpenseList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExpenseReportExpense">
    <sequence>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="expenseDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="category" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="quantity" type="xsd:double"/>
      <element minOccurs="0" name="rate" type="xsd:double"/>
      <element minOccurs="0" name="foreignAmount" type="xsd:double"/>
      <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="taxCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="memo" type="xsd:string"/>
      <element minOccurs="0" name="taxRate1" type="xsd:double"/>
      <element minOccurs="0" name="tax1Amt" type="xsd:double"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="grossAmt" type="xsd:double"/>
      <element minOccurs="0" name="taxRate2" type="xsd:double"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customer" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="isBillable" type="xsd:boolean"/>
      <element minOccurs="0" name="expMediaItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="isNonReimbursable" type="xsd:boolean"/>
      <element minOccurs="0" name="receipt" type="xsd:boolean"/>
      <element minOccurs="0" name="refNumber" type="xsd:long"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="ExpenseReportExpenseList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="expense" type="tranEmp:ExpenseReportExpense"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="paycheckJournal" type="tranEmp:PaycheckJournal"/>
  <complexType name="PaycheckJournal">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="employee" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="companyContributionList" type="tranEmp:PaycheckJournalCompanyContributionList"/>
          <element minOccurs="0" name="deductionList" type="tranEmp:PaycheckJournalDeductionList"/>
          <element minOccurs="0" name="employeeTaxList" type="tranEmp:PaycheckJournalEmployeeTaxList"/>
          <element minOccurs="0" name="companyTaxList" type="tranEmp:PaycheckJournalCompanyTaxList"/>
          <element minOccurs="0" name="earningList" type="tranEmp:PaycheckJournalEarningList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PaycheckJournalCompanyTax">
    <sequence>
      <element minOccurs="0" name="id" type="xsd:long"/>
      <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="PaycheckJournalCompanyTaxList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="paycheckJournalCompanyTax" type="tranEmp:PaycheckJournalCompanyTax"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="PaycheckJournalDeduction">
    <sequence>
      <element minOccurs="0" name="id" type="xsd:long"/>
      <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="PaycheckJournalDeductionList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="paycheckJournalDeduction" type="tranEmp:PaycheckJournalDeduction"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="PaycheckJournalCompanyContribution">
    <sequence>
      <element minOccurs="0" name="id" type="xsd:long"/>
      <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="PaycheckJournalCompanyContributionList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="paycheckJournalCompanyContribution" type="tranEmp:PaycheckJournalCompanyContribution"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="PaycheckJournalEarning">
    <sequence>
      <element minOccurs="0" name="id" type="xsd:long"/>
      <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="hours" type="xsd:double"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="PaycheckJournalEarningList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="paycheckJournalEarning" type="tranEmp:PaycheckJournalEarning"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="PaycheckJournalEmployeeTax">
    <sequence>
      <element minOccurs="0" name="id" type="xsd:long"/>
      <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="PaycheckJournalEmployeeTaxList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="paycheckJournalEmployeeTax" type="tranEmp:PaycheckJournalEmployeeTax"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="timeEntry" type="tranEmp:TimeEntry"/>
  <complexType name="TimeEntry">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="hours" type="platformCore:Duration"/>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customer" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="caseTaskEvent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isBillable" type="xsd:boolean"/>
          <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="paidExternally" type="xsd:boolean"/>
          <element minOccurs="0" name="price" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="rate" type="xsd:double"/>
          <element minOccurs="0" name="overrideRate" type="xsd:boolean"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="billingClass" type="xsd:string"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="timeType" type="tranEmpTyp:TimeBillTimeType"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="timeSheet" type="tranEmp:TimeSheet"/>
  <complexType name="TimeSheet">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="employee" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="totalHours" type="platformCore:Duration"/>
          <element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="timeGridList" type="tranEmp:TimeSheetTimeGridList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeSheetTimeGrid">
    <sequence>
      <element minOccurs="0" name="sunday" type="tranEmp:TimeEntry"/>
      <element minOccurs="0" name="monday" type="tranEmp:TimeEntry"/>
      <element minOccurs="0" name="tuesday" type="tranEmp:TimeEntry"/>
      <element minOccurs="0" name="wednesday" type="tranEmp:TimeEntry"/>
      <element minOccurs="0" name="thursday" type="tranEmp:TimeEntry"/>
      <element minOccurs="0" name="friday" type="tranEmp:TimeEntry"/>
      <element minOccurs="0" name="saturday" type="tranEmp:TimeEntry"/>
    </sequence>
  </complexType>
  <complexType name="TimeSheetTimeGridList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="timeSheetTimeGrid" type="tranEmp:TimeSheetTimeGrid"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="timeEntrySearch" type="tranEmp:TimeEntrySearch"/>
  <complexType name="TimeEntrySearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:TimeEntrySearchBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic"/>
          <element minOccurs="0" name="classJoin" type="platformCommon:ClassificationSearchBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic"/>
          <element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchBasic"/>
          <element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchBasic"/>
          <element minOccurs="0" name="timeSheetJoin" type="platformCommon:TimeSheetSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeEntrySearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="tranEmp:TimeEntrySearch"/>
          <element minOccurs="0" name="columns" type="tranEmp:TimeEntrySearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeEntrySearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:TimeEntrySearchRowBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchRowBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic"/>
          <element minOccurs="0" name="classJoin" type="platformCommon:ClassificationSearchRowBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchRowBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchRowBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic"/>
          <element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchRowBasic"/>
          <element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchRowBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchRowBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchRowBasic"/>
          <element minOccurs="0" name="timeSheetJoin" type="platformCommon:TimeSheetSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="timeSheetSearch" type="tranEmp:TimeSheetSearch"/>
  <complexType name="TimeSheetSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:TimeSheetSearchBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="timeEntryJoin" type="platformCommon:TimeEntrySearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeSheetSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="tranEmp:TimeSheetSearch"/>
          <element minOccurs="0" name="columns" type="tranEmp:TimeSheetSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeSheetSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:TimeSheetSearchRowBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="timeEntryJoin" type="platformCommon:TimeEntrySearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
