EG1.0.0/Opportunity_Integrations/Service Descriptors/general.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:tranGeneral="urn:general_2015_1.transactions.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:general_2015_1.transactions.webservices.netsuite.com">
  <import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <!--journalEntry/start-->
  <element name="JournalEntry" type="tranGeneral:JournalEntry"/>
  <complexType name="JournalEntry">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="reversalDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="reversalDefer" type="xsd:boolean"/>
          <element minOccurs="0" name="parentExpenseAlloc" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isBookSpecific" type="xsd:boolean"/>
          <element minOccurs="0" name="accountingBook" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="reversalEntry" type="xsd:string"/>
          <element minOccurs="0" name="createdFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="toSubsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="approved" type="xsd:boolean"/>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="lineList" type="tranGeneral:JournalEntryLineList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JournalEntryLine">
    <sequence>
      <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="debit" type="xsd:double"/>
      <element minOccurs="0" name="credit" type="xsd:double"/>
      <element minOccurs="0" name="taxCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="memo" type="xsd:string"/>
      <element minOccurs="0" name="taxRate1" type="xsd:double"/>
      <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="grossAmt" type="xsd:double"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="eliminate" type="xsd:boolean"/>
      <element minOccurs="0" name="schedule" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="residual" type="xsd:string"/>
      <element minOccurs="0" name="scheduleNum" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="tax1Amt" type="xsd:double"/>
      <element minOccurs="0" name="tax1Acct" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="JournalEntryLineList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="line" type="tranGeneral:JournalEntryLine"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--journalEntry/end-->
  <!--interCompanyJournalEntry/start-->
  <element name="InterCompanyJournalEntry" type="tranGeneral:InterCompanyJournalEntry"/>
  <complexType name="InterCompanyJournalEntry">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="reversalDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="reversalDefer" type="xsd:boolean"/>
          <element minOccurs="0" name="parentExpenseAlloc" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isBookSpecific" type="xsd:boolean"/>
          <element minOccurs="0" name="accountingBook" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="reversalEntry" type="xsd:string"/>
          <element minOccurs="0" name="createdFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="toSubsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="approved" type="xsd:boolean"/>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lineList" type="tranGeneral:InterCompanyJournalEntryLineList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InterCompanyJournalEntryLine">
    <sequence>
      <element minOccurs="0" name="lineSubsidiary" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="debit" type="xsd:double"/>
      <element minOccurs="0" name="credit" type="xsd:double"/>
      <element minOccurs="0" name="taxCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="memo" type="xsd:string"/>
      <element minOccurs="0" name="taxRate1" type="xsd:double"/>
      <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="grossAmt" type="xsd:double"/>
      <element minOccurs="0" name="schedule" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="eliminate" type="xsd:boolean"/>
      <element minOccurs="0" name="residual" type="xsd:string"/>
      <element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="scheduleNum" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="amortizStartDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="amortizationResidual" type="xsd:string"/>
      <element minOccurs="0" name="tax1Amt" type="xsd:double"/>
      <element minOccurs="0" name="tax1Acct" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="InterCompanyJournalEntryLineList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="line" type="tranGeneral:InterCompanyJournalEntryLine"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--interCompanyJournalEntry/end-->
  <element name="StatisticalJournalEntry" type="tranGeneral:StatisticalJournalEntry"/>
  <complexType name="StatisticalJournalEntry">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="parentExpenseAlloc" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="approved" type="xsd:boolean"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="reversalDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="reversalDefer" type="xsd:boolean"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="unitsType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="lineList" type="tranGeneral:StatisticalJournalEntryLineList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StatisticalJournalEntryLine">
    <sequence>
      <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="scheduleNum" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="debit" type="xsd:double"/>
      <element minOccurs="0" name="memo" type="xsd:string"/>
      <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="lineUnit" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="previewDebit" type="xsd:string"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="StatisticalJournalEntryLineList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="statisticalJournalEntryLine" type="tranGeneral:StatisticalJournalEntryLine"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
</schema>
