ReportsSubscriberIntegration/Schemas/OrderManager/UpdateReportIdentityResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1478068951874" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1478068951874">
  <complexType name="UpdateReportIdentityElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="ReportId" type="integer"/>
      <element maxOccurs="1" minOccurs="0" name="SalesForceId" type="string"/>
    </sequence>
  </complexType>
  <element name="UpdateReportIdentityElement" type="tns:UpdateReportIdentityElementType"/>
</schema>
