EG1.0.0/CasesIntegration/Schemas/OtherSchemas/CaseRecordTypeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/CaseRecordTypeSchema" xmlns:tns="http://www.example.org/CaseRecordTypeSchema" elementFormDefault="qualified">

    <complexType name="RecordType">
    	<sequence>
    		<element name="RecordTypeName" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="CaseRecord" type="tns:RecordType"></element>
</schema>