EG1.0.0/CasesIntegration/Schemas/OtherSchemas/ContactName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ContactName" xmlns:tns="http://www.example.org/ContactName" elementFormDefault="qualified">

    <complexType name="ContactType">
    	<sequence>
    		<element name="ContactName" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="Contact" type="tns:ContactType"></element>
</schema>