BulkMainFlow/Schemas/OMUserIdentityResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1477049137079" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1477049137079">
  <complexType name="OMUserIdentityElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="EagleViewUserId" type="integer"/>
      <element maxOccurs="1" minOccurs="0" name="SalesForceUserId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="NetSuiteId" type="string"/>
    </sequence>
  </complexType>
  <element name="OMUserIdentityElement" type="tns:OMUserIdentityElementType"/>
</schema>
