CasesIntegration/Schemas/SCSM/SCSM_Flag_UpdateResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1478159538473" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1478159538473">
  <complexType name="SCSM_Flag_UpdateElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="Issue" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="State" type="string"/>
    </sequence>
  </complexType>
  <element name="SCSM_Flag_UpdateElement" type="tns:SCSM_Flag_UpdateElementType"/>
</schema>
