CasesIntegration/Schemas/SCSM/SCSMQueue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SCSMQueue" xmlns:tns="http://www.example.org/SCSMQueue" elementFormDefault="qualified">

<complexType name="SCSM_QueueData">
    	<sequence>
    		<element maxOccurs="1" minOccurs="0" name="ISSUE_ID" type="string"/>		
    	</sequence>
    </complexType>

    <complexType name="SCSM_QueueInfo">
    	<sequence>
    		<element name="SCSM_QueueData" type="tns:SCSM_QueueData" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="SCSM_Queue" type="tns:SCSM_QueueInfo"/>

</schema>