CasesIntegration/Schemas/SCSM/SF_Output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SF_Output" xmlns:tns="http://www.example.org/SF_Output" elementFormDefault="qualified">

<complexType name="SF_StatusData">
    	<sequence>
    		<element maxOccurs="1" minOccurs="0" name="SF_Status" type="string"/>		
    	</sequence>
    </complexType>

    <complexType name="SF_StatusInfo">
    	<sequence>
    		<element name="SF_StatusData" type="tns:SF_StatusData" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="SF_Status" type="tns:SF_StatusInfo"/>

</schema>