EG1.0.0/Opportunity_Integrations-BulkChange/Service Descriptors/employees.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:listEmp="urn:employees_2015_1.lists.webservices.netsuite.com" xmlns:listEmpTyp="urn:types.employees_2015_1.lists.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:employees_2015_1.lists.webservices.netsuite.com">
  <xsd:import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <xsd:import namespace="urn:types.employees_2015_1.lists.webservices.netsuite.com" schemaLocation="employeeTypes.xsd"/>
  <xsd:import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <xsd:import namespace="urn:types.common_2015_1.platform.webservices.netsuite.com" schemaLocation="commonTypes.xsd"/>
  <!--employee/start-->
  <element name="Employee" type="listEmp:Employee"/>
  <complexType name="Employee">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="template" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entityId" type="xsd:string"/>
          <element minOccurs="0" name="salutation" type="xsd:string"/>
          <element minOccurs="0" name="firstName" type="xsd:string"/>
          <element minOccurs="0" name="middleName" type="xsd:string"/>
          <element minOccurs="0" name="lastName" type="xsd:string"/>
          <element minOccurs="0" name="altName" type="xsd:string"/>
          <element minOccurs="0" name="phone" type="xsd:string"/>
          <element minOccurs="0" name="fax" type="xsd:string"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="defaultAddress" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="phoneticName" type="xsd:string"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="dateCreated" type="xsd:dateTime"/>
          <element minOccurs="0" name="initials" type="xsd:string"/>
          <element minOccurs="0" name="officePhone" type="xsd:string"/>
          <element minOccurs="0" name="homePhone" type="xsd:string"/>
          <element minOccurs="0" name="mobilePhone" type="xsd:string"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="billingClass" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="accountNumber" type="xsd:string"/>
          <element minOccurs="0" name="comments" type="xsd:string"/>
          <element minOccurs="0" name="globalSubscriptionStatus" type="platformCommonTyp:GlobalSubscriptionStatus"/>
          <element minOccurs="0" name="image" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="payFrequency" type="listEmpTyp:EmployeePayFrequency"/>
          <element minOccurs="0" name="lastPaidDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="useTimeData" type="listEmpTyp:EmployeeUseTimeData"/>
          <element minOccurs="0" name="usePerquest" type="xsd:boolean"/>
          <element minOccurs="0" name="workplace" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="adpId" type="xsd:string"/>
          <element minOccurs="0" name="directDeposit" type="xsd:boolean"/>
          <element minOccurs="0" name="expenseLimit" type="xsd:double"/>
          <element minOccurs="0" name="purchaseOrderLimit" type="xsd:double"/>
          <element minOccurs="0" name="purchaseOrderApprovalLimit" type="xsd:double"/>
          <element minOccurs="0" name="socialSecurityNumber" type="xsd:string"/>
          <element minOccurs="0" name="supervisor" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="approver" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="approvalLimit" type="xsd:double"/>
          <element minOccurs="0" name="timeApprover" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="employeeType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isSalesRep" type="xsd:boolean"/>
          <element minOccurs="0" name="salesRole" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isSupportRep" type="xsd:boolean"/>
          <element minOccurs="0" name="isJobResource" type="xsd:boolean"/>
          <element minOccurs="0" name="laborCost" type="xsd:double"/>
          <element minOccurs="0" name="birthDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="hireDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="releaseDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastReviewDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="nextReviewDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="employeeStatus" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="jobDescription" type="xsd:string"/>
          <element minOccurs="0" name="maritalStatus" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="ethnicity" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="gender" type="listEmpTyp:Gender"/>
          <element minOccurs="0" name="purchaseOrderApprover" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="workCalendar" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="giveAccess" type="xsd:boolean"/>
          <element minOccurs="0" name="concurrentWebServicesUser" type="xsd:boolean"/>
          <element minOccurs="0" name="sendEmail" type="xsd:boolean"/>
          <element minOccurs="0" name="hasOfflineAccess" type="xsd:boolean"/>
          <element minOccurs="0" name="password" type="xsd:string"/>
          <element minOccurs="0" name="password2" type="xsd:string"/>
          <element minOccurs="0" name="requirePwdChange" type="xsd:boolean"/>
          <element minOccurs="0" name="inheritIPRules" type="xsd:boolean"/>
          <element minOccurs="0" name="IPAddressRule" type="xsd:string"/>
          <element minOccurs="0" name="commissionPaymentPreference" type="listEmpTyp:EmployeeCommissionPaymentPreference"/>
          <element minOccurs="0" name="billPay" type="xsd:boolean"/>
          <element minOccurs="0" name="eligibleForCommission" type="xsd:boolean"/>
          <element minOccurs="0" name="subscriptionsList" type="listEmp:EmployeeSubscriptionsList"/>
          <element minOccurs="0" name="addressbookList" type="listEmp:EmployeeAddressbookList"/>
          <element minOccurs="0" name="rolesList" type="listEmp:EmployeeRolesList"/>
          <element minOccurs="0" name="hrEducationList" type="listEmp:EmployeeHrEducationList"/>
          <element minOccurs="0" name="accruedTimeList" type="listEmp:EmployeeAccruedTimeList"/>
          <element minOccurs="0" name="directDepositList" type="listEmp:EmployeeDirectDepositList"/>
          <element minOccurs="0" name="companyContributionList" type="listEmp:EmployeeCompanyContributionList"/>
          <element minOccurs="0" name="earningList" type="listEmp:EmployeeEarningList"/>
          <element minOccurs="0" name="emergencyContactList" type="listEmp:EmployeeEmergencyContactList"/>
          <element minOccurs="0" name="deductionList" type="listEmp:EmployeeDeductionList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EmployeeSubscriptions">
    <sequence>
      <element minOccurs="0" name="subscribed" type="xsd:string"/>
      <element minOccurs="0" name="subscription" type="xsd:string"/>
      <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeSubscriptionsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="subscriptions" type="listEmp:EmployeeSubscriptions"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="EmployeeAddressbook">
    <sequence>
      <element minOccurs="0" name="defaultShipping" type="xsd:boolean"/>
      <element minOccurs="0" name="defaultBilling" type="xsd:boolean"/>
      <element minOccurs="0" name="label" type="xsd:string"/>
      <element minOccurs="0" name="addressbookAddress" type="platformCommon:Address"/>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeAddressbookList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="addressbook" type="listEmp:EmployeeAddressbook"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="EmployeeRoles">
    <sequence>
      <element minOccurs="0" name="selectedRole" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeRolesList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="roles" type="listEmp:EmployeeRoles"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="employeeSearch" type="listEmp:EmployeeSearch"/>
  <complexType name="EmployeeSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchBasic"/>
          <element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchBasic"/>
          <element minOccurs="0" name="subsidiaryJoin" type="platformCommon:SubsidiarySearchBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EmployeeSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listEmp:EmployeeSearch"/>
          <element minOccurs="0" name="columns" type="listEmp:EmployeeSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EmployeeSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchRowBasic"/>
          <element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchRowBasic"/>
          <element minOccurs="0" name="subsidiaryJoin" type="platformCommon:SubsidiarySearchRowBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--employee/end-->
  <complexType name="EmployeeEmergencyContact">
    <sequence>
      <element minOccurs="0" name="id" type="xsd:long"/>
      <element minOccurs="0" name="contact" type="xsd:string"/>
      <element minOccurs="0" name="relationship" type="xsd:string"/>
      <element minOccurs="0" name="address" type="xsd:string"/>
      <element minOccurs="0" name="phone" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeEmergencyContactList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="employeeEmergencyContact" type="listEmp:EmployeeEmergencyContact"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="EmployeeHrEducation">
    <sequence>
      <element minOccurs="0" name="education" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="degree" type="xsd:string"/>
      <element minOccurs="0" name="degreeDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeHrEducationList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="employeeHrEducation" type="listEmp:EmployeeHrEducation"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="EmployeeAccruedTime">
    <sequence>
      <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="accruedHours" type="xsd:double"/>
      <element minOccurs="0" name="accrualRate" type="xsd:double"/>
      <element minOccurs="0" name="monetaryRate" type="xsd:double"/>
      <element minOccurs="0" name="resetAccruedHoursAtYearEnd" type="xsd:boolean"/>
      <element minOccurs="0" name="accrualMethod" type="listEmpTyp:EmployeeAccruedTimeAccrualMethod"/>
      <element minOccurs="0" name="maximumAccruedHours" type="xsd:double"/>
      <element minOccurs="0" name="inactive" type="xsd:boolean"/>
      <element minOccurs="0" name="effectiveDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="expirationDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeAccruedTimeList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="employeeAccruedTime" type="listEmp:EmployeeAccruedTime"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="EmployeeDeduction">
    <sequence>
      <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="rate" type="xsd:string"/>
      <element minOccurs="0" name="limit" type="xsd:double"/>
      <element minOccurs="0" name="inactive" type="xsd:boolean"/>
      <element minOccurs="0" name="effectiveDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="expirationDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeDeductionList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="employeeDeduction" type="listEmp:EmployeeDeduction"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="EmployeeCompanyContribution">
    <sequence>
      <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="rate" type="xsd:string"/>
      <element minOccurs="0" name="limit" type="xsd:double"/>
      <element minOccurs="0" name="inactive" type="xsd:boolean"/>
      <element minOccurs="0" name="effectiveDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="expirationDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeCompanyContributionList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="employeeCompanyContribution" type="listEmp:EmployeeCompanyContribution"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="EmployeeEarning">
    <sequence>
      <element minOccurs="0" name="payrollItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="payRate" type="xsd:string"/>
      <element minOccurs="0" name="primaryEarning" type="xsd:boolean"/>
      <element minOccurs="0" name="defaultHours" type="xsd:double"/>
      <element minOccurs="0" name="inactive" type="xsd:boolean"/>
      <element minOccurs="0" name="defaultEarning" type="xsd:boolean"/>
      <element minOccurs="0" name="effectiveDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="expirationDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeEarningList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="employeeEarning" type="listEmp:EmployeeEarning"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="EmployeeDirectDeposit">
    <sequence>
      <element minOccurs="0" name="id" type="xsd:long"/>
      <element minOccurs="0" name="netAccount" type="xsd:boolean"/>
      <element minOccurs="0" name="savingsAccount" type="xsd:boolean"/>
      <element minOccurs="0" name="accountPrenoted" type="xsd:boolean"/>
      <element minOccurs="0" name="accountStatus" type="listEmpTyp:EmployeeDirectDepositAccountStatus"/>
      <element minOccurs="0" name="bankName" type="xsd:string"/>
      <element minOccurs="0" name="bankId" type="xsd:string"/>
      <element minOccurs="0" name="bankNumber" type="xsd:string"/>
      <element minOccurs="0" name="bankRoutingNumber" type="xsd:string"/>
      <element minOccurs="0" name="bankAccountNumber" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="inactive" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="EmployeeDirectDepositList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="employeeDirectDeposit" type="listEmp:EmployeeDirectDeposit"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="payrollItem" type="listEmp:PayrollItem"/>
  <complexType name="PayrollItem">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="itemType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="vendor" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="expenseAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="liabilityAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="employeePaid" type="xsd:boolean"/>
          <element minOccurs="0" name="inactive" type="xsd:boolean"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="payrollItemSearch" type="listEmp:PayrollItemSearch"/>
  <complexType name="PayrollItemSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:PayrollItemSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PayrollItemSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listEmp:PayrollItemSearch"/>
          <element minOccurs="0" name="columns" type="listEmp:PayrollItemSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PayrollItemSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:PayrollItemSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</xsd:schema>
