EG1.0.0/Opportunity_Integrations-BulkChange/Service Descriptors/scheduling.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:actSched="urn:scheduling_2015_1.activities.webservices.netsuite.com" xmlns:actSchedTyp="urn:types.scheduling_2015_1.activities.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:scheduling_2015_1.activities.webservices.netsuite.com">
  <import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <import namespace="urn:types.core_2015_1.platform.webservices.netsuite.com" schemaLocation="coreTypes.xsd"/>
  <import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <import namespace="urn:types.common_2015_1.platform.webservices.netsuite.com" schemaLocation="commonTypes.xsd"/>
  <import namespace="urn:types.scheduling_2015_1.activities.webservices.netsuite.com" schemaLocation="schedulingTypes.xsd"/>
  <!--calendarEvent/start-->
  <element name="CalendarEvent" type="actSched:CalendarEvent"/>
  <complexType name="CalendarEvent">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="company" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="contact" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="supportCase" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="transaction" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="period" type="xsd:long"/>
          <element minOccurs="0" name="frequency" type="platformCommonTyp:RecurrenceFrequency"/>
          <element minOccurs="0" name="recurrenceDowMaskList" type="platformCommon:RecurrenceDowMaskList"/>
          <element minOccurs="0" name="recurrenceDow" type="platformCommonTyp:RecurrenceDow"/>
          <element minOccurs="0" name="recurrenceDowim" type="platformCommonTyp:RecurrenceDowim"/>
          <element minOccurs="0" name="seriesStartDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endByDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="noEndDate" type="xsd:boolean"/>
          <element minOccurs="0" name="sendEmail" type="xsd:boolean"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="recurrence" type="xsd:string"/>
          <element minOccurs="0" name="location" type="xsd:string"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="allDayEvent" type="xsd:boolean"/>
          <element minOccurs="0" name="timedEvent" type="xsd:boolean"/>
          <element minOccurs="0" name="reminderType" type="actSchedTyp:CalendarEventReminderType"/>
          <element minOccurs="0" name="reminderMinutes" type="actSchedTyp:CalendarEventReminderMinutes"/>
          <element minOccurs="0" name="status" type="actSchedTyp:CalendarEventStatus"/>
          <element minOccurs="0" name="accessLevel" type="actSchedTyp:CalendarEventAccessLevel"/>
          <element minOccurs="0" name="organizer" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="exclusionDateList" type="actSched:ExclusionDateList"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="attendeeList" type="actSched:CalendarEventAttendeeList"/>
          <element minOccurs="0" name="resourceList" type="actSched:CalendarEventResourceList"/>
          <element minOccurs="0" name="timeItemList" type="actSched:CalendarEventTimeItemList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExclusionDateList">
    <sequence>
      <element maxOccurs="unbounded" name="exclusionDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="CalendarEventAttendee">
    <sequence>
      <element minOccurs="0" name="sendEmail" type="xsd:boolean"/>
      <element minOccurs="0" name="attendee" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="response" type="platformCoreTyp:CalendarEventAttendeeResponse"/>
      <element minOccurs="0" name="attendance" type="actSchedTyp:CalendarEventAttendeeAttendance"/>
    </sequence>
  </complexType>
  <complexType name="CalendarEventAttendeeList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="attendee" type="actSched:CalendarEventAttendee"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CalendarEventResource">
    <sequence>
      <element minOccurs="0" name="resource" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CalendarEventResourceList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="resource" type="actSched:CalendarEventResource"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="calendarEventSearch" type="actSched:CalendarEventSearch"/>
  <complexType name="CalendarEventSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CalendarEventSearchBasic"/>
          <element minOccurs="0" name="attendeeJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="attendeeContactJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="attendeeCustomerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CalendarEventSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="actSched:CalendarEventSearch"/>
          <element minOccurs="0" name="columns" type="actSched:CalendarEventSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CalendarEventSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CalendarEventSearchRowBasic"/>
          <element minOccurs="0" name="attendeeJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="attendeeContactJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="attendeeCustomerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchRowBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchRowBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--calendarEvent/end-->
  <!--task/start-->
  <element name="Task" type="actSched:Task"/>
  <complexType name="Task">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="company" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="contact" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="supportCase" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="transaction" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="milestone" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="assigned" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sendEmail" type="xsd:boolean"/>
          <element minOccurs="0" name="timedEvent" type="xsd:boolean"/>
          <element minOccurs="0" name="estimatedTime" type="platformCore:Duration"/>
          <element minOccurs="0" name="estimatedTimeOverride" type="platformCore:Duration"/>
          <element minOccurs="0" name="actualTime" type="platformCore:Duration"/>
          <element minOccurs="0" name="timeRemaining" type="platformCore:Duration"/>
          <element minOccurs="0" name="percentTimeComplete" type="xsd:double"/>
          <element minOccurs="0" name="percentComplete" type="xsd:double"/>
          <element minOccurs="0" name="parent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="dueDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="completedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="priority" type="actSchedTyp:TaskPriority"/>
          <element minOccurs="0" name="status" type="actSchedTyp:TaskStatus"/>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="accessLevel" type="xsd:boolean"/>
          <element minOccurs="0" name="reminderType" type="actSchedTyp:TaskReminderType"/>
          <element minOccurs="0" name="reminderMinutes" type="actSchedTyp:TaskReminderMinutes"/>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="contactList" type="actSched:TaskContactList"/>
          <element minOccurs="0" name="timeItemList" type="actSched:TaskTimeItemList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TaskContact">
    <sequence>
      <element minOccurs="0" name="company" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="contact" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="TaskContactList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="contact" type="actSched:TaskContact"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="taskSearch" type="actSched:TaskSearch"/>
  <complexType name="TaskSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:TaskSearchBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic"/>
          <element minOccurs="0" name="companyCustomerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TaskSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="actSched:TaskSearch"/>
          <element minOccurs="0" name="columns" type="actSched:TaskSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TaskSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:TaskSearchRowBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic"/>
          <element minOccurs="0" name="companyCustomerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchRowBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchRowBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--task/end-->
  <!--phoneCall/start-->
  <element name="PhoneCall" type="actSched:PhoneCall"/>
  <complexType name="PhoneCall">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="company" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="contact" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="supportCase" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="transaction" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="milestone" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="assigned" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sendEmail" type="xsd:boolean"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="timedEvent" type="xsd:boolean"/>
          <element minOccurs="0" name="completedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="phone" type="xsd:string"/>
          <element minOccurs="0" name="status" type="actSchedTyp:PhoneCallStatus"/>
          <element minOccurs="0" name="priority" type="actSchedTyp:PhoneCallPriority"/>
          <element minOccurs="0" name="accessLevel" type="xsd:boolean"/>
          <element minOccurs="0" name="reminderType" type="actSchedTyp:PhoneCallReminderType"/>
          <element minOccurs="0" name="reminderMinutes" type="actSchedTyp:PhoneCallReminderMinutes"/>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="contactList" type="actSched:PhoneCallContactList"/>
          <element minOccurs="0" name="timeItemList" type="actSched:PhoneCallTimeItemList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PhoneCallContact">
    <sequence>
      <element minOccurs="0" name="company" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="contact" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="phone" type="xsd:string"/>
      <element minOccurs="0" name="email" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="PhoneCallContactList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="contact" type="actSched:PhoneCallContact"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="phoneCallSearch" type="actSched:PhoneCallSearch"/>
  <complexType name="PhoneCallSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:PhoneCallSearchBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic"/>
          <element minOccurs="0" name="companyCustomerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchBasic"/>
          <element minOccurs="0" name="participantJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PhoneCallSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="actSched:PhoneCallSearch"/>
          <element minOccurs="0" name="columns" type="actSched:PhoneCallSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PhoneCallSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:PhoneCallSearchRowBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic"/>
          <element minOccurs="0" name="companyCustomerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchRowBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchRowBasic"/>
          <element minOccurs="0" name="participantJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--phoneCall/end-->
  <!--projectTaskCall/start-->
  <element name="projectTask" type="actSched:ProjectTask"/>
  <complexType name="ProjectTask">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="eventId" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="percentTimeComplete" type="xsd:double"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="company" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="contact" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="order" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="parent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="priority" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="estimatedWork" type="xsd:double"/>
          <element minOccurs="0" name="estimatedWorkBaseline" type="xsd:double"/>
          <element minOccurs="0" name="constraintType" type="actSchedTyp:ProjectTaskConstraintType"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="startDateBaseline" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="finishByDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDateBaseline" type="xsd:dateTime"/>
          <element minOccurs="0" name="actualWork" type="xsd:double"/>
          <element minOccurs="0" name="remainingWork" type="xsd:double"/>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="isMilestone" type="xsd:boolean"/>
          <element minOccurs="0" name="isOnCriticalPath" type="xsd:string"/>
          <element minOccurs="0" name="slackMinutes" type="xsd:double"/>
          <element minOccurs="0" name="lateEnd" type="xsd:dateTime"/>
          <element minOccurs="0" name="lateStart" type="xsd:dateTime"/>
          <element minOccurs="0" name="status" type="actSchedTyp:ProjectTaskStatus"/>
          <element minOccurs="0" name="nonBillableTask" type="xsd:boolean"/>
          <element minOccurs="0" name="assigneeList" type="actSched:ProjectTaskAssigneeList"/>
          <element minOccurs="0" name="predecessorList" type="actSched:ProjectTaskPredecessorList"/>
          <element minOccurs="0" name="timeItemList" type="actSched:ProjectTaskTimeItemList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProjectTaskPredecessor">
    <sequence>
      <element minOccurs="0" name="task" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="type" type="actSchedTyp:ProjectTaskPredecessorPredecessorType"/>
      <element minOccurs="0" name="lagDays" type="xsd:double"/>
      <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="ProjectTaskPredecessorList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="projectTaskPredecessor" type="actSched:ProjectTaskPredecessor"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="ProjectTaskAssignee">
    <sequence>
      <element minOccurs="0" name="resource" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="units" type="xsd:double"/>
      <element minOccurs="0" name="serviceItem" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="estimatedWork" type="xsd:double"/>
      <element minOccurs="0" name="unitCost" type="xsd:double"/>
      <element minOccurs="0" name="unitPrice" type="xsd:double"/>
      <element minOccurs="0" name="cost" type="xsd:double"/>
      <element minOccurs="0" name="price" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="ProjectTaskAssigneeList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="projectTaskAssignee" type="actSched:ProjectTaskAssignee"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="projectTaskSearch" type="actSched:ProjectTaskSearch"/>
  <complexType name="ProjectTaskSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ProjectTaskSearchBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="predecessorJoin" type="platformCommon:ProjectTaskSearchBasic"/>
          <element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchBasic"/>
          <element minOccurs="0" name="successorJoin" type="platformCommon:ProjectTaskSearchBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProjectTaskSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="actSched:ProjectTaskSearch"/>
          <element minOccurs="0" name="columns" type="actSched:ProjectTaskSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProjectTaskSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ProjectTaskSearchRowBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="predecessorJoin" type="platformCommon:ProjectTaskSearchRowBasic"/>
          <element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchRowBasic"/>
          <element minOccurs="0" name="successorJoin" type="platformCommon:ProjectTaskSearchRowBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--projectTaskCall/end-->
  <complexType name="PhoneCallTimeItemList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="timeItem" type="platformCommon:TimeItem"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CalendarEventTimeItemList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="timeItem" type="platformCommon:TimeItem"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="TaskTimeItemList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="timeItem" type="platformCommon:TimeItem"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="ProjectTaskTimeItemList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="timeItem" type="platformCommon:TimeItem"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="resourceAllocation" type="actSched:ResourceAllocation"/>
  <complexType name="ResourceAllocation">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="requestedby" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="approvalStatus" type="actSchedTyp:ResourceAllocationApprovalStatus"/>
          <element minOccurs="0" name="nextApprover" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="allocationResource" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="project" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="notes" type="xsd:string"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="allocationAmount" type="xsd:double"/>
          <element minOccurs="0" name="allocationUnit" type="actSchedTyp:ResourceAllocationAllocationUnit"/>
          <element minOccurs="0" name="numberHours" type="xsd:double"/>
          <element minOccurs="0" name="percentOfTime" type="xsd:double"/>
          <element minOccurs="0" name="allocationType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="resourceAllocationSearch" type="actSched:ResourceAllocationSearch"/>
  <complexType name="ResourceAllocationSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ResourceAllocationSearchBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="requestedByJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="resourceJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ResourceAllocationSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="actSched:ResourceAllocationSearch"/>
          <element minOccurs="0" name="columns" type="actSched:ResourceAllocationSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ResourceAllocationSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ResourceAllocationSearchRowBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="requestedByJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="resourceJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
