EG1.0.0/OM_SF_Integrations/SalesforceResources/Salesforce_Metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- {0156C5F1-98F01-10772949} used internally, please don't modify it.  -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pns="urn:partner.soap.sforce.com" xmlns:ens="urn:sobject.partner.soap.sforce.com" targetNamespace="urn:sobject.partner.soap.sforce.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="urn:partner.soap.sforce.com" schemaLocation="sforce_partner.xsd"/>
	<complexType name="sObject">
		<sequence>
			<element name="fieldsToNull" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Id" type="pns:ID" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="Account">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="MasterRecordId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="MasterRecord" type="ens:Account" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Type" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="RecordTypeId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="RecordType" type="ens:RecordType" nillable="true" minOccurs="0"/>
					<element name="ParentId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Parent" type="ens:Account" nillable="true" minOccurs="0"/>
					<element name="BillingStreet" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingCity" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingState" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingPostalCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingCountry" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingStateCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingCountryCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingLatitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="BillingLongitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="BillingGeocodeAccuracy" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingAddress" type="pns:address" nillable="true" minOccurs="0"/>
					<element name="ShippingStreet" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingCity" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingState" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingPostalCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingCountry" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingStateCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingCountryCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingLatitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="ShippingLongitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="ShippingGeocodeAccuracy" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingAddress" type="pns:address" nillable="true" minOccurs="0"/>
					<element name="Phone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Fax" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Website" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="PhotoUrl" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Industry" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AnnualRevenue" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="NumberOfEmployees" type="xsd:int" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Rating" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OwnerId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Owner" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastActivityDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="Jigsaw" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="JigsawCompanyId" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AccountSource" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DunsNumber" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Tradestyle" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NaicsCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NaicsDesc" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="YearStarted" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SicDesc" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DandbCompanyId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="General_Notes__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Follow_Up_Date__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Coverage_Date_Accounts__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Coverage__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Connect_Exp_Date__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="CM_Avg_Selling_Price_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CM_Avg_Selling_Price_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CM_Bookings_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CM_Bookings_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CM_Count_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Association__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CM_Count_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Street_View__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Pricing_Tier__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="YTD_Avg_Selling_Price_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Avg_Selling_Price_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Effective_Date__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Contract_Term_Years__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Bookings_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Bookings_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Count_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Count_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Association_Status__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CY16__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Pre_CY11__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Total_Cap_Grade__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Imagery_CaP_Grade__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AccuPlus_CaP_Grade__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ChangeFinder_CaP_Grade__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Business_Segment__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Imagery_CaP_Target_Value__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="AccuPlus_CaP_Target_Value__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="FIPS_Code__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Government_Branch__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Government_Segment__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Primary_Contact__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Primary_Contact__r" type="ens:Contact" nillable="true" minOccurs="0"/>
					<element name="SH_POL_URL__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Total_Users__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_911__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Assessment__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Field_Agents__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_GIS__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Other__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Public_Safety__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="External_Id__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Account_Number_Govt__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CRS__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CRS__r" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="GPCustomerKey__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="License_Agreement__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Tax_Exempt__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Users_Admin__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Facilities_Mgmt__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Faculty__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Graduate_Asst__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Students__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="County_Tier__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Users_Claims__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Litigation__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Users_Underwriting__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Trainer__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Trainer__r" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="CR_Rep__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CR_Rep__r" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="Entity_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Integrations_In_Use__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Integrators_In_Use__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Is_VAR__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Region__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Deactivate__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Payment_Token__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="RTM__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="RTM__r" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="Payment_Token_Expiry_Date__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Account_Owner_Manager_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Services__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Business_Designations__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Org_Node_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Deresolved_Imagery_Approval_Required__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Affiliate_Codes__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CY14__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CY15__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CY13__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Number_of_Open_Opportunities__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Number_of_Closed_Won_Opportunities__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Company_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CY12__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CY11__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="ChangeFinder_CaP_Target_Value__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Assessment_Level__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Assessment_Percent__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="GIS_Percent__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="County_Square_Miles__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Home_Value_Index__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Population_Change__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Lowest_Contract_Grade__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__AssetQuantitiesCombined__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__CoTermedContractsCombined__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__CoTerminationEvent__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ContractCoTermination__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DefaultOpportunity__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__IgnoreParentContractedPrices__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__PreserveBundle__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__PriceHoldEnd__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="SBQQ__RenewalModel__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__RenewalPricingMethod__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Territory__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NetSuite_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ChildAccounts" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AccountContactRoles" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Feeds" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Histories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AccountPartnersFrom" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AccountPartnersTo" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Shares" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ActivityHistories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Applications__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Assets" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentNotes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Attachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="RecordAssociatedGroups" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CombinedAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Contacts" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Contracts" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="DuplicateRecordItems" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="FeedSubscriptionsForEntity" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Events" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Notes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="NotesAndAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OpenActivities" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OpportunityPartnersTo" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="PartnersFrom" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="PartnersTo" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessInstances" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessSteps" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Report_Bookings__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__R00N70000001olI5EAI__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Discount_Schedules__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__QuoteLineGroups__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Quotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DistributorQuotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__PartnerQuotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Subscriptions__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__WebQuotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Personas" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Survey_Feedback__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Tasks" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TaskRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TopicAssignments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Trainings__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__R00N80000002vw3gEAA__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__R00N80000002eb1GEAQ__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="mkto_si__WebActivityCache__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="zkfedex__FedEx_Queued_Shipments__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="zkfedex__Shipments__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Payment_Token_Encrypted__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Billing_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Current_Net_AR_Balance__c" type="xsd:double" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="Contact">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="MasterRecordId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="MasterRecord" type="ens:Contact" nillable="true" minOccurs="0"/>
					<element name="AccountId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Account" type="ens:Account" nillable="true" minOccurs="0"/>
					<element name="LastName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="FirstName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Salutation" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="RecordTypeId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="RecordType" type="ens:RecordType" nillable="true" minOccurs="0"/>
					<element name="OtherStreet" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OtherCity" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OtherState" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OtherPostalCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OtherCountry" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OtherStateCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OtherCountryCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OtherLatitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="OtherLongitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="OtherGeocodeAccuracy" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OtherAddress" type="pns:address" nillable="true" minOccurs="0"/>
					<element name="MailingStreet" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MailingCity" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MailingState" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MailingPostalCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MailingCountry" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MailingStateCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MailingCountryCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MailingLatitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="MailingLongitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="MailingGeocodeAccuracy" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MailingAddress" type="pns:address" nillable="true" minOccurs="0"/>
					<element name="Phone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Fax" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MobilePhone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="HomePhone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OtherPhone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AssistantPhone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ReportsToId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="ReportsTo" type="ens:Contact" nillable="true" minOccurs="0"/>
					<element name="Email" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Title" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Department" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AssistantName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LeadSource" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Birthdate" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OwnerId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Owner" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="HasOptedOutOfEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="DoNotCall" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastActivityDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="LastCURequestDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastCUUpdateDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="EmailBouncedReason" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="EmailBouncedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="IsEmailBounced" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="PhotoUrl" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Jigsaw" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="JigsawContactId" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Industry__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Great_Plains_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Job_Function__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Active__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Application_Access__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Contact_Role__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Business_Mobile__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Hobbies__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Mailing_Address_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Married__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Number_of_Kids__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Department_picklist__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Contact_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Other_Address_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Personal_Phone__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Sports_Team__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Years_with_Company__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Other_Email__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Training_Date__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="CID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Contact_Status__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Lifecycle_Status__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Marketing_Qualified_Date__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Comment_History__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Acquisition_Date__c" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="mkto2__Acquisition_Program_Id__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="mkto2__Acquisition_Program__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Inferred_City__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Inferred_Company__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Inferred_Country__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Inferred_Metropolitan_Area__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Inferred_Phone_Area_Code__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Inferred_Postal_Code__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Inferred_State_Region__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Lead_Score__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="mkto2__Original_Referrer__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Original_Search_Engine__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Original_Search_Phrase__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Original_Source_Info__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto2__Original_Source_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Add_to_Marketo_Campaign__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__HideDate__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Last_Interesting_Moment_Date__c" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Last_Interesting_Moment_Desc__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Last_Interesting_Moment_Source__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Last_Interesting_Moment_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Last_Interesting_Moment__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Priority__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Relative_Score_Value__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Relative_Score__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Sales_Insight__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Urgency_Value__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Urgency__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__View_in_Marketo__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NetSuite_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AcceptedEventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Accounts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AccountContactRoles" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ActivityHistories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Assets" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentNotes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Attachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CampaignMembers" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CaseContactRoles" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="RecordAssociatedGroups" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CombinedAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Feeds" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Histories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Shares" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Contracts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ContractsSigned" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ContractContactRoles" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="DeclinedEventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="DuplicateRecordItems" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EmailStatuses" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="FeedSubscriptionsForEntity" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Events" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EventWhoRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Key_Players_Influencers__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Leads__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Notes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="NotesAndAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OpenActivities" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities5__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OpportunityContactRoles" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunity_Product__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunity_Product2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunity_Product1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunity_Product3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunity_Product4__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunity_Product5__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessInstances" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessSteps" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Quotes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Quotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__WebQuotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Personas" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Survey_Feedback__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Tasks" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TaskRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TaskWhoRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TopicAssignments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Trainings__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UndecidedEventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__DocuSign_Envelope_Recipient__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__DocuSign_Envelope01__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__R00NS0000000WUMyMAO__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__DocuSign_Status__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="mkto_si__WebActivityCache__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="zkfedex__FedEx_Queued_Shipments__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="zkfedex__Shipments__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	
	
	
	<complexType name="Name">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LastName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="FirstName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Type" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Alias" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="UserRoleId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="RecordTypeId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="RecordType" type="ens:RecordType" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="ProfileId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Title" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Email" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Phone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Username" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="RecordType">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DeveloperName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NamespacePrefix" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BusinessProcessId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SobjectType" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="Integration_Queue__c">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="OwnerId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Owner" type="ens:Name" nillable="true" minOccurs="0"/>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="Event_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Event_Message__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Processed_Flag__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Record_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Sub_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Destination_System__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AttachedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentNotes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Attachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="RecordAssociatedGroups" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CombinedAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="DuplicateRecordItems" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="FeedSubscriptionsForEntity" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Notes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="NotesAndAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessInstances" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessSteps" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TaskRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TopicAssignments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="Product2">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ProductCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="Family" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="NYS_OGS_Item_Code__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Related_To_Product_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Bundle__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Export_Transactions__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Image_View_Transactions__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Order_Process__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Transaction_Model__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Approval_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Discount_Types__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Tiered_Pricing__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Notifications__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Related_Parameters__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Contract_Administration__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Parameters__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Contract_Language__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Renewal_Product__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Renewal_Product__r" type="ens:Product2" nillable="true" minOccurs="0"/>
					<element name="Payment_Term_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="GSD__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Order_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Ratable_Revenue__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Rev_Account_1__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Rev_Account_2__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Term__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Add_Order_Product__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Delivery_Method__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Pricing_Update_Only__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Cost__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Location_Transactions__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Measurement_Transactions__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Max_Users_Multiplier__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Trial_Term_Days__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Comments__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Max_Discount__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="On_GSA__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Product_Configuration__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Default_on_Imagery_Contracts__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Filter_By_GSD__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="State__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Ortho_GSD__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Status__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Specs__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="License_Term_Years__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Defined_Perpetual_Term__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Product_Number__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__AssetConversion__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__BatchQuantity__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="SBQQ__BlockPricingField__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Component__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__CompoundDiscountRate__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfigurationEvent__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfigurationFieldSet__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfigurationFields__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfigurationFormTitle__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfigurationType__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfigurationValidator__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfiguredCodePattern__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfiguredDescriptionPattern__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__CostEditable__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__CostSchedule__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__CustomConfigurationPage__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__CustomConfigurationRequired__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__CustomerCommunityAvailability__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DefaultPricingTable__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DefaultQuantity__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DescriptionLocked__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DiscountCategory__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DiscountSchedule__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DynamicPricingConstraint__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ExcludeFromMaintenance__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ExcludeFromOpportunity__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__GenerateContractedPrice__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__HasConfigurationAttributes__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Hidden__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__HidePriceInSearchResults__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__IncludeInMaintenance__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__NewQuoteGroup__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__NonDiscountable__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__NonPartnerDiscountable__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__OptionLayout__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__OptionSelectionMethod__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Optional__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__PriceEditable__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__PricingMethodEditable__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__PricingMethod__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ProductPictureID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__QuantityEditable__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__QuantityScale__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ReconfigurationDisabled__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__RenewalProduct__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__RenewalProduct__r" type="ens:Product2" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SortOrder__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Specifications__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SubscriptionBase__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SubscriptionCategory__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SubscriptionPercent__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SubscriptionPricing__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SubscriptionTarget__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SubscriptionTarget__r" type="ens:Product2" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SubscriptionTerm__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SubscriptionType__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Taxable__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__TermDiscountLevel__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__TermDiscountSchedule__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__UpgradeCredit__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__UpgradeCredit__r" type="ens:Product2" nillable="true" minOccurs="0"/>
					<element name="SBQQ__UpgradeSource__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__UpgradeSource__r" type="ens:Product2" nillable="true" minOccurs="0"/>
					<element name="SBQQ__UpgradeTarget__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SBQQ__UpgradeTarget__r" type="ens:Product2" nillable="true" minOccurs="0"/>
					<element name="Level2__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NetSuite_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OrderManager_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Code_Historical__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Group__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ActivityHistories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Assets" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Assets__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentNotes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Attachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CombinedAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliverables__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="FeedSubscriptionsForEntity" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Events" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Notes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="NotesAndAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OpenActivities" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Order_Products__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="PricebookEntries" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessInstances" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessSteps" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Products__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__OriginalProducts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SubscriptionTargetingProducts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__CreditedProducts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__TargetUpgrades__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__SourceUpgrades__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Feeds" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Histories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__BlockPrices__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfigurationAttributes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ConfigurationRules__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ContractedPrices__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Costs__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Dimensions__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DiscountSchedules__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__FavoriteProduct__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Localizations__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Option_Constraints__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__PriceRules__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ProductActions__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Features__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Options__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__OptionalFor__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__R00N70000001lXB6EAM__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Content__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Subscriptions__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__AvailableUpgradeSources__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__UpgradeSources__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__WebQuoteLines__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Tasks" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TaskRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	
	<complexType name="User">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="Username" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LastName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="FirstName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CompanyName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Division" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Department" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Title" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Street" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="City" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="State" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="PostalCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Country" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="StateCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CountryCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Latitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Longitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="GeocodeAccuracy" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Address" type="pns:address" nillable="true" minOccurs="0"/>
					<element name="Email" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="EmailPreferencesAutoBcc" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="EmailPreferencesAutoBccStayInTouch" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="EmailPreferencesStayInTouchReminder" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SenderEmail" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SenderName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Signature" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="StayInTouchSubject" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="StayInTouchSignature" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="StayInTouchNote" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Phone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Fax" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MobilePhone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Alias" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CommunityNickname" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BadgeText" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="TimeZoneSidKey" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="UserRoleId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LocaleSidKey" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ReceivesInfoEmails" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="ReceivesAdminInfoEmails" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="EmailEncodingKey" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DefaultCurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ProfileId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="UserType" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LanguageLocaleKey" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="EmployeeNumber" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DelegatedApproverId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="ManagerId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Manager" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastLoginDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastPasswordChangeDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="OfflineTrialExpirationDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="OfflinePdaTrialExpirationDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsMarketingUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsOfflineUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsAvantgoUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsCallCenterAutoLogin" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsMobileUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsSFContentUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsKnowledgeUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsInteractionUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsSupportUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsJigsawProspectingUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPermissionsChatterAnswersUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="ForecastEnabled" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesActivityRemindersPopup" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesEventRemindersCheckboxDefault" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesTaskRemindersCheckboxDefault" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesReminderSoundOff" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableAllFeedsEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableFollowersEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableProfilePostEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableChangeCommentEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableLaterCommentEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisProfPostCommentEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesContentNoEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesContentEmailAsAndWhen" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesApexPagesDeveloperMode" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesHideCSNGetChatterMobileTask" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableMentionsPostEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisMentionsCommentEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesHideCSNDesktopTask" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesHideChatterOnboardingSplash" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesHideSecondChatterOnboardingSplash" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisCommentAfterLikeEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableLikeEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesSortFeedByComment" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableMessageEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesJigsawListUser" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableBookmarkEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableSharePostEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesEnableAutoSubForFeeds" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableFileShareNotificationsForApi" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowTitleToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowManagerToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowEmailToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowWorkPhoneToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowMobilePhoneToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowFaxToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowStreetAddressToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowCityToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowStateToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowPostalCodeToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowCountryToExternalUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowProfilePicToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowTitleToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowCityToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowStateToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowPostalCodeToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowCountryToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesHideS1BrowserUI" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesDisableEndorsementEmail" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesPathAssistantCollapsed" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesCacheDiagnostics" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowEmailToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowManagerToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowWorkPhoneToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowMobilePhoneToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowFaxToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesShowStreetAddressToGuestUsers" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UserPreferencesLightningExperiencePreferred" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="ContactId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Contact" type="ens:Contact" nillable="true" minOccurs="0"/>
					<element name="AccountId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Account" type="ens:Account" nillable="true" minOccurs="0"/>
					<element name="CallCenterId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Extension" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="FederationIdentifier" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AboutMe" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="FullPhotoUrl" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SmallPhotoUrl" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DigestFrequency" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DefaultGroupNotificationFrequency" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="JigsawImportLimitOverride" type="xsd:int" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="zkfedex__EncryptedFedExEndUserKey__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="User_License__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="zkfedex__EncryptedFedExEndUserPassword__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="zkfedex__FedExEndUserKey__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="zkfedex__FedExEndUserPassword__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="zkfedex__FedExRegisteredPreference__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="zkfedex__UserCredentialsEncrypted__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="EagleView_User_ID__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="dsfs__DSProSFMembershipStatus__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="dsfs__DSProSFPassword__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="dsfs__DSProSFUsername__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="mkto_si__IsCachingAnonWebActivityList__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="mkto_si__IsCachingBestBets__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="mkto_si__IsCachingEmailActivityList__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="mkto_si__IsCachingGroupedWebActivityList__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="mkto_si__IsCachingInterestingMomentsList__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="mkto_si__IsCachingScoringList__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="mkto_si__IsCachingStreamList__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="mkto_si__IsCachingWatchList__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="mkto_si__IsCachingWebActivityList__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="mkto_si__Sales_Insight_Counter__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="SBQQ__DefaultProductLookupTab__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__OutputFormatChangeAllowed__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ProductSortPreference__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__ResetProductLookup__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Theme__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Integration_Queue_User__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="AT_Blocks2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AT_Blocks__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AT_Blocks3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AT_Blocks1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AcceptedEventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Accounts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Accounts2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Accounts3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Accounts1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Action_Items__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentNotes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="GroupMemberships" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="GroupMembershipRequests" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CombinedAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ContractsSigned" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__AmendmentContracts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__RenewalContracts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="DeclinedEventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries9__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveriesj3n1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveriesj3lU__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries7__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries5__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries8__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries6__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Deliveries4__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="FeedSubscriptionsForEntity" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="FeedSubscriptions" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ExternalDataUserAuths" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Image_Correction_Blocks__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="InstalledMobileApps" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities_CRS__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities7__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities6__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities5__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities4__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities_Sales_Manager__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__Opportunities__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__SubmittedUserOpportunities__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders6__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders5__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders9__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OrderszUP7__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders7__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OrdersKWYb__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders8__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders_ChangeFindr__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OrdersGSNs__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders4__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OwnedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="PermissionSetAssignments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="PermissionSetLicenseAssignments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Requirements__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="BOSSTrackLead__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Requirements1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__FavoriteShares__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Process_Input_Values__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Quotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__WebQuotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UserSites" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Sub_Projects__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Sub_Projects3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Sub_Projects1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Sub_Projects4__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Sub_Projects6__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Sub_Projects5__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Sub_Projects2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Survey_Feedback__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Test_Scenarios1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Test_Scenarios__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Test_Steps__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Tracks__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Tracks1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Trainings1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Trainings2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Trainings__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UndecidedEventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="DelegatedUsers" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ManagedUsers" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UserEntityAccessRights" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Feeds" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UserFieldAccessRights" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UserPreferences" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Shares" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__DocuSignAccountConfigurations__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__DocuSign_Envelope_Recipient__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__ApprovedApprovals__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__Approvals__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__RejectedApprovals__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__Approvers__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
