EagleView_MainFlow/Schemas/EmailSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EmailSchema" xmlns:tns="http://www.example.org/EmailSchema" elementFormDefault="qualified">
<complexType name="EmailType">
    	<sequence>
    		<element name="Email" type="string" minOccurs="0" maxOccurs="1"/>

    	</sequence>
    </complexType>

    <element name="EmailList" type="tns:EmailListType"/>


    <complexType name="EmailListType">
    	<sequence>
    		<element name="Email" type="tns:EmailType" maxOccurs="unbounded" minOccurs="0"/>
    	</sequence>
    </complexType>
</schema>