Opportunity_Integrations/Service Descriptors/core.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:platformFaultTyp="urn:types.faults_2015_1.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:core_2015_1.platform.webservices.netsuite.com">
  <import namespace="urn:types.core_2015_1.platform.webservices.netsuite.com" schemaLocation="coreTypes.xsd"/>
  <import namespace="urn:types.faults_2015_1.platform.webservices.netsuite.com" schemaLocation="faultTypes.xsd"/>
  <!--Login Passport-->
  <complexType name="Passport">
    <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="account" type="xsd:string"/>
      <element minOccurs="0" name="role" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <!--SSO Passport-->
  <complexType name="SsoPassport">
    <sequence>
      <element name="authenticationToken" type="xsd:string"/>
      <element name="partnerId" type="xsd:string"/>
      <element minOccurs="0" name="partnerAccount" type="xsd:string"/>
    </sequence>
  </complexType>
  <!--SSO Credentials-->
  <complexType name="SsoCredentials">
    <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="account" type="xsd:string"/>
      <element minOccurs="0" name="role" type="platformCore:RecordRef"/>
      <element name="authenticationToken" type="xsd:string"/>
      <element name="partnerId" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ChangePassword">
    <sequence>
      <element name="currentPassword" type="xsd:string"/>
      <element minOccurs="0" name="newPassword" type="xsd:string"/>
      <element minOccurs="0" name="newPassword2" type="xsd:string"/>
      <element minOccurs="0" name="justThisAccount" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="ChangeEmail">
    <sequence>
      <element name="currentPassword" type="xsd:string"/>
      <element name="newEmail" type="xsd:string"/>
      <element name="newEmail2" type="xsd:string"/>
      <element minOccurs="0" name="justThisAccount" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <!--Status-->
  <complexType name="StatusDetail">
    <sequence>
      <element name="code" type="platformFaultTyp:StatusDetailCodeType"/>
      <element minOccurs="0" name="message" type="xsd:string"/>
    </sequence>
    <attribute default="ERROR" name="type" type="platformFaultTyp:StatusDetailType"/>
  </complexType>
  <complexType name="Status">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="statusDetail" type="platformCore:StatusDetail"/>
    </sequence>
    <attribute name="isSuccess" type="xsd:boolean"/>
  </complexType>
  <element name="status" type="platformCore:Status"/>
  <complexType name="WsRole">
    <sequence>
      <element minOccurs="0" name="role" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="isDefault" type="xsd:boolean"/>
      <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
      <element minOccurs="0" name="isLoggedInRole" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="WsRoleList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="wsRole" type="platformCore:WsRole"/>
    </sequence>
  </complexType>
  <element name="wsRoleList" type="platformCore:WsRoleList"/>
  <!--Record-->
  <complexType abstract="true" name="Record">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="nullFieldList" type="platformCore:NullField"/>
    </sequence>
  </complexType>
  <element name="record" type="platformCore:Record"/>
  <complexType name="NullField">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="name" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType abstract="true" name="SearchRecord"/>
  <element name="searchRecord" type="platformCore:SearchRecord"/>
  <complexType abstract="true" name="SearchRecordBasic">
    <complexContent>
      <extension base="platformCore:SearchRecord"/>
    </complexContent>
  </complexType>
  <element name="searchRecordBasic" type="platformCore:SearchRecordBasic"/>
  <complexType abstract="true" name="SearchRow"/>
  <complexType abstract="true" name="SearchRowBasic">
    <complexContent>
      <extension base="platformCore:SearchRow"/>
    </complexContent>
  </complexType>
  <element name="searchRowBasic" type="platformCore:SearchRowBasic"/>
  <complexType name="SearchResult">
    <sequence>
      <element ref="platformCore:status"/>
      <element minOccurs="0" name="totalRecords" type="xsd:int"/>
      <element minOccurs="0" name="pageSize" type="xsd:int"/>
      <element minOccurs="0" name="totalPages" type="xsd:int"/>
      <element minOccurs="0" name="pageIndex" type="xsd:int"/>
      <element minOccurs="0" name="searchId" type="xsd:string"/>
      <element minOccurs="0" ref="platformCore:recordList"/>
      <element minOccurs="0" ref="platformCore:searchRowList"/>
    </sequence>
  </complexType>
  <element name="searchResult" type="platformCore:SearchResult"/>
  <complexType name="AsyncStatusResult">
    <sequence>
      <element name="jobId" type="xsd:string"/>
      <element name="status" type="platformCoreTyp:AsyncStatusType"/>
      <element name="percentCompleted" type="xsd:double"/>
      <element name="estRemainingDuration" type="xsd:double"/>
    </sequence>
  </complexType>
  <element name="asyncStatusResult" type="platformCore:AsyncStatusResult"/>
  <complexType name="GetAllResult">
    <sequence>
      <element ref="platformCore:status"/>
      <element minOccurs="0" name="totalRecords" type="xsd:int"/>
      <element minOccurs="0" ref="platformCore:recordList"/>
    </sequence>
  </complexType>
  <element name="getAllResult" type="platformCore:GetAllResult"/>
  <complexType name="GetSavedSearchResult">
    <sequence>
      <element ref="platformCore:status"/>
      <element minOccurs="0" name="totalRecords" type="xsd:int"/>
      <element minOccurs="0" ref="platformCore:recordRefList"/>
    </sequence>
  </complexType>
  <element name="getSavedSearchResult" type="platformCore:GetSavedSearchResult"/>
  <complexType name="GetCustomizationIdResult">
    <sequence>
      <element ref="platformCore:status"/>
      <element minOccurs="0" name="totalRecords" type="xsd:int"/>
      <element minOccurs="0" ref="platformCore:customizationRefList"/>
    </sequence>
  </complexType>
  <element name="getCustomizationIdResult" type="platformCore:GetCustomizationIdResult"/>
  <complexType name="GetSelectValueResult">
    <sequence>
      <element ref="platformCore:status"/>
      <element minOccurs="0" name="totalRecords" type="xsd:int"/>
      <element minOccurs="0" name="totalPages" type="xsd:int"/>
      <element minOccurs="0" ref="platformCore:baseRefList"/>
    </sequence>
  </complexType>
  <element name="getSelectValueResult" type="platformCore:GetSelectValueResult"/>
  <complexType name="RecordList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="record" type="platformCore:Record"/>
      <!--record name-->
    </sequence>
  </complexType>
  <element name="recordList" type="platformCore:RecordList"/>
  <complexType name="SearchRowList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="searchRow" type="platformCore:SearchRow"/>
    </sequence>
  </complexType>
  <element name="searchRowList" type="platformCore:SearchRowList"/>
  <complexType name="RecordRefList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="recordRef" type="platformCore:RecordRef"/>
      <!--record refs-->
    </sequence>
  </complexType>
  <element name="recordRefList" type="platformCore:RecordRefList"/>
  <complexType abstract="true" name="BaseRef">
    <sequence>
      <element minOccurs="0" name="name" type="xsd:string"/>
      <!--record name-->
    </sequence>
  </complexType>
  <element name="baseRef" type="platformCore:BaseRef"/>
  <complexType name="BaseRefList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="baseRef" type="platformCore:BaseRef"/>
      <!--record refs-->
    </sequence>
  </complexType>
  <element name="baseRefList" type="platformCore:BaseRefList"/>
  <complexType name="RecordRef">
    <complexContent>
      <extension base="platformCore:BaseRef">
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
        <attribute name="type" type="platformCoreTyp:RecordType"/>
        <!--primary record internalId-->
        <!--record type-->
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Duration">
    <sequence>
      <element name="timeSpan" type="xsd:double"/>
      <element name="unit" type="platformCoreTyp:DurationUnit"/>
    </sequence>
  </complexType>
  <complexType name="CustomRecordRef">
    <complexContent>
      <extension base="platformCore:BaseRef">
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
        <attribute name="typeId" type="xsd:string" use="required"/>
        <!--primary record internalId-->
        <!--custom record type id-->
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomTransactionRef">
    <complexContent>
      <extension base="platformCore:BaseRef">
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
        <attribute name="typeId" type="xsd:string"/>
        <attribute name="scriptId" type="xsd:string"/>
        <!--primary record internalId-->
        <!--custom record type id-->
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomizationRef">
    <complexContent>
      <extension base="platformCore:RecordRef">
        <attribute name="scriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomizationRefList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customizationRef" type="platformCore:CustomizationRef"/>
    </sequence>
  </complexType>
  <element name="customizationRefList" type="platformCore:CustomizationRefList"/>
  <complexType name="InitializeRecord">
    <sequence>
      <element minOccurs="1" name="type" type="platformCoreTyp:InitializeType"/>
      <element minOccurs="0" name="reference" type="platformCore:InitializeRef"/>
      <element minOccurs="0" name="auxReference" type="platformCore:InitializeAuxRef"/>
      <element minOccurs="0" name="referenceList" type="platformCore:InitializeRefList"/>
    </sequence>
  </complexType>
  <complexType name="InitializeRef">
    <complexContent>
      <extension base="platformCore:BaseRef">
        <attribute name="type" type="platformCoreTyp:InitializeRefType"/>
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
        <!--initialize reference record type-->
        <!--primary record internalId-->
        <!--primary record externalId-->
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InitializeRefList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="initializeRef" type="platformCore:InitializeRef"/>
    </sequence>
  </complexType>
  <element name="initializeRefList" type="platformCore:InitializeRefList"/>
  <complexType name="InitializeAuxRef">
    <complexContent>
      <extension base="platformCore:BaseRef">
        <attribute name="type" type="platformCoreTyp:InitializeAuxRefType"/>
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
        <!--initialize reference record type-->
        <!--primary record internalId-->
        <!--primary record externalId-->
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UpdateInviteeStatusReference">
    <sequence>
      <element minOccurs="1" name="eventId" type="platformCore:RecordRef"/>
      <element minOccurs="1" name="responseCode" type="platformCoreTyp:CalendarEventAttendeeResponse"/>
    </sequence>
  </complexType>
  <complexType name="GetAllRecord">
    <sequence/>
    <attribute name="recordType" type="platformCoreTyp:GetAllRecordType"/>
  </complexType>
  <complexType name="GetSavedSearchRecord">
    <sequence/>
    <attribute name="searchType" type="platformCoreTyp:SearchRecordType"/>
  </complexType>
  <complexType name="CustomizationType">
    <sequence/>
    <attribute name="getCustomizationType" type="platformCoreTyp:GetCustomizationType"/>
  </complexType>
  <!--********************************************************************-->
  <!--Custom Fields-->
  <!--********************************************************************-->
  <!--ListOrRecordRef-->
  <complexType name="ListOrRecordRef">
    <sequence>
      <element minOccurs="0" name="name" type="xsd:string"/>
      <!--record name-->
    </sequence>
    <attribute name="internalId" type="xsd:string"/>
    <attribute name="externalId" type="xsd:string"/>
    <attribute name="typeId" type="xsd:string"/>
  </complexType>
  <!--CustomFieldRef-->
  <complexType abstract="true" name="CustomFieldRef">
    <attribute name="internalId" type="xsd:string"/>
    <attribute name="scriptId" type="xsd:string"/>
  </complexType>
  <!--LongCustomFieldRef-->
  <complexType name="LongCustomFieldRef">
    <complexContent>
      <extension base="platformCore:CustomFieldRef">
        <sequence>
          <element name="value" type="xsd:long"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--DoubleCustomFieldRef-->
  <complexType name="DoubleCustomFieldRef">
    <complexContent>
      <extension base="platformCore:CustomFieldRef">
        <sequence>
          <element name="value" type="xsd:double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--BooleanCustomFieldRef-->
  <complexType name="BooleanCustomFieldRef">
    <complexContent>
      <extension base="platformCore:CustomFieldRef">
        <sequence>
          <element name="value" type="xsd:boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--StringCustomFieldRef-->
  <complexType name="StringCustomFieldRef">
    <complexContent>
      <extension base="platformCore:CustomFieldRef">
        <sequence>
          <element name="value" type="xsd:string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--DateCustomFieldRef-->
  <complexType name="DateCustomFieldRef">
    <complexContent>
      <extension base="platformCore:CustomFieldRef">
        <sequence>
          <element name="value" type="xsd:dateTime"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SelectCustomFieldRef-->
  <complexType name="SelectCustomFieldRef">
    <complexContent>
      <extension base="platformCore:CustomFieldRef">
        <sequence>
          <element name="value" type="platformCore:ListOrRecordRef"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--MultiSelectCustomFieldRef-->
  <complexType name="MultiSelectCustomFieldRef">
    <complexContent>
      <extension base="platformCore:CustomFieldRef">
        <sequence>
          <element maxOccurs="unbounded" name="value" type="platformCore:ListOrRecordRef"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--CustomFieldList-->
  <complexType name="CustomFieldList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customField" type="platformCore:CustomFieldRef"/>
    </sequence>
  </complexType>
  <!--element name="customFieldList" type="platformCore:CustomFieldList"/-->
  <!--********************************************************************-->
  <!--Search Types-->
  <!--********************************************************************-->
  <!--SearchBooleanField-->
  <complexType name="SearchBooleanField">
    <sequence>
      <element minOccurs="0" name="searchValue" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <!--SearchStringField-->
  <complexType name="SearchStringField">
    <sequence>
      <element minOccurs="0" name="searchValue" type="xsd:string"/>
    </sequence>
    <attribute name="operator" type="platformCoreTyp:SearchStringFieldOperator"/>
  </complexType>
  <!--SearchLongField-->
  <complexType name="SearchLongField">
    <sequence>
      <element minOccurs="0" name="searchValue" type="xsd:long"/>
      <element minOccurs="0" name="searchValue2" type="xsd:long"/>
    </sequence>
    <attribute name="operator" type="platformCoreTyp:SearchLongFieldOperator"/>
  </complexType>
  <!--SearchTextNumberField-->
  <complexType name="SearchTextNumberField">
    <sequence>
      <element minOccurs="0" name="searchValue" type="xsd:string"/>
      <element minOccurs="0" name="searchValue2" type="xsd:string"/>
    </sequence>
    <attribute name="operator" type="platformCoreTyp:SearchTextNumberFieldOperator"/>
  </complexType>
  <!--SearchDoubleField-->
  <complexType name="SearchDoubleField">
    <sequence>
      <element minOccurs="0" name="searchValue" type="xsd:double"/>
      <element minOccurs="0" name="searchValue2" type="xsd:double"/>
    </sequence>
    <attribute name="operator" type="platformCoreTyp:SearchDoubleFieldOperator"/>
  </complexType>
  <!--SearchDateField-->
  <complexType name="SearchDateField">
    <sequence>
      <element minOccurs="0" name="predefinedSearchValue" type="platformCoreTyp:SearchDate"/>
      <element minOccurs="0" name="searchValue" type="xsd:dateTime"/>
      <element minOccurs="0" name="searchValue2" type="xsd:dateTime"/>
    </sequence>
    <attribute name="operator" type="platformCoreTyp:SearchDateFieldOperator"/>
  </complexType>
  <!--SearchMultiSelectListField-->
  <complexType name="SearchEnumMultiSelectField">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="searchValue" type="xsd:string"/>
    </sequence>
    <attribute name="operator" type="platformCoreTyp:SearchEnumMultiSelectFieldOperator"/>
  </complexType>
  <!--SearchMultiSelectListField-->
  <complexType name="SearchMultiSelectField">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="searchValue" type="platformCore:RecordRef"/>
    </sequence>
    <attribute name="operator" type="platformCoreTyp:SearchMultiSelectFieldOperator"/>
  </complexType>
  <!--********************************************************************-->
  <!--Search Custom Field Types-->
  <!--********************************************************************-->
  <!--CustomFieldRef-->
  <complexType abstract="true" name="SearchCustomField">
    <attribute name="internalId" type="xsd:string"/>
    <attribute name="scriptId" type="xsd:string"/>
  </complexType>
  <!--SearchBooleanCustomField-->
  <complexType name="SearchBooleanCustomField">
    <complexContent>
      <extension base="platformCore:SearchCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchStringCustomField-->
  <complexType name="SearchStringCustomField">
    <complexContent>
      <extension base="platformCore:SearchCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:string"/>
        </sequence>
        <attribute name="operator" type="platformCoreTyp:SearchStringFieldOperator"/>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchIntCustomField-->
  <complexType name="SearchLongCustomField">
    <complexContent>
      <extension base="platformCore:SearchCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:long"/>
          <element minOccurs="0" name="searchValue2" type="xsd:long"/>
        </sequence>
        <attribute name="operator" type="platformCoreTyp:SearchLongFieldOperator"/>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchDoubleCustomField-->
  <complexType name="SearchDoubleCustomField">
    <complexContent>
      <extension base="platformCore:SearchCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:double"/>
          <element minOccurs="0" name="searchValue2" type="xsd:double"/>
        </sequence>
        <attribute name="operator" type="platformCoreTyp:SearchDoubleFieldOperator"/>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchDateCustomField-->
  <complexType name="SearchDateCustomField">
    <complexContent>
      <extension base="platformCore:SearchCustomField">
        <sequence>
          <element minOccurs="0" name="predefinedSearchValue" type="platformCoreTyp:SearchDate"/>
          <element minOccurs="0" name="searchValue" type="xsd:dateTime"/>
          <element minOccurs="0" name="searchValue2" type="xsd:dateTime"/>
        </sequence>
        <attribute name="operator" type="platformCoreTyp:SearchDateFieldOperator"/>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchEnumMultiSelectField-->
  <complexType name="SearchEnumMultiSelectCustomField">
    <complexContent>
      <extension base="platformCore:SearchCustomField">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="searchValue" type="xsd:string"/>
        </sequence>
        <attribute name="operator" type="platformCoreTyp:SearchEnumMultiSelectFieldOperator"/>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchMultiSelectField-->
  <complexType name="SearchMultiSelectCustomField">
    <complexContent>
      <extension base="platformCore:SearchCustomField">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="searchValue" type="platformCore:ListOrRecordRef"/>
        </sequence>
        <attribute name="operator" type="platformCoreTyp:SearchMultiSelectFieldOperator"/>
      </extension>
    </complexContent>
  </complexType>
  <!--CustomFieldList-->
  <complexType name="SearchCustomFieldList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customField" type="platformCore:SearchCustomField"/>
    </sequence>
  </complexType>
  <!--Search Column Types-->
  <!--********************************************************************-->
  <!--SearchColumnDoubleField-->
  <complexType abstract="true" name="SearchColumnField">
    <sequence>
      <element minOccurs="0" name="customLabel" type="xsd:string"/>
    </sequence>
  </complexType>
  <!--SearchColumnBooleanField-->
  <complexType name="SearchColumnBooleanField">
    <complexContent>
      <extension base="platformCore:SearchColumnField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnStringField-->
  <complexType name="SearchColumnStringField">
    <complexContent>
      <extension base="platformCore:SearchColumnField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnLongField-->
  <complexType name="SearchColumnLongField">
    <complexContent>
      <extension base="platformCore:SearchColumnField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:long"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnTextNumberField-->
  <complexType name="SearchColumnTextNumberField">
    <complexContent>
      <extension base="platformCore:SearchColumnField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnDoubleField-->
  <complexType name="SearchColumnDoubleField">
    <complexContent>
      <extension base="platformCore:SearchColumnField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnDateField-->
  <complexType name="SearchColumnDateField">
    <complexContent>
      <extension base="platformCore:SearchColumnField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:dateTime"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnEnumSelectField-->
  <complexType name="SearchColumnEnumSelectField">
    <complexContent>
      <extension base="platformCore:SearchColumnField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnSelectField-->
  <complexType name="SearchColumnSelectField">
    <complexContent>
      <extension base="platformCore:SearchColumnField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="platformCore:RecordRef"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--********************************************************************-->
  <!--Search Column Custom Field Types-->
  <!--********************************************************************-->
  <complexType abstract="true" name="SearchColumnCustomField">
    <sequence>
      <element minOccurs="0" name="customLabel" type="xsd:string"/>
    </sequence>
    <attribute name="internalId" type="xsd:string"/>
    <attribute name="scriptId" type="xsd:string"/>
  </complexType>
  <!--SearchColumnBooleanCustomField-->
  <complexType name="SearchColumnBooleanCustomField">
    <complexContent>
      <extension base="platformCore:SearchColumnCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnStringCustomField-->
  <complexType name="SearchColumnStringCustomField">
    <complexContent>
      <extension base="platformCore:SearchColumnCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnLongCustomField-->
  <complexType name="SearchColumnLongCustomField">
    <complexContent>
      <extension base="platformCore:SearchColumnCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:long"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnDoubleCustomField-->
  <complexType name="SearchColumnDoubleCustomField">
    <complexContent>
      <extension base="platformCore:SearchColumnCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnDateCustomField-->
  <complexType name="SearchColumnDateCustomField">
    <complexContent>
      <extension base="platformCore:SearchColumnCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="xsd:dateTime"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnEnumMultiSelectField-->
  <complexType name="SearchColumnEnumMultiSelectCustomField">
    <complexContent>
      <extension base="platformCore:SearchColumnCustomField">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="searchValue" type="xsd:string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnSelectField-->
  <complexType name="SearchColumnSelectCustomField">
    <complexContent>
      <extension base="platformCore:SearchColumnCustomField">
        <sequence>
          <element minOccurs="0" name="searchValue" type="platformCore:ListOrRecordRef"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--SearchColumnMultiSelectField-->
  <complexType name="SearchColumnMultiSelectCustomField">
    <complexContent>
      <extension base="platformCore:SearchColumnCustomField">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="searchValue" type="platformCore:ListOrRecordRef"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SearchColumnCustomFieldList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customField" type="platformCore:SearchColumnCustomField"/>
    </sequence>
  </complexType>
  <!--********************************************************************-->
  <!--Item Availability-->
  <!--********************************************************************-->
  <complexType name="ItemAvailabilityFilter">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="item" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="lastQtyAvailableChange" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="ItemAvailability">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="item" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="lastQtyAvailableChange" type="xsd:dateTime"/>
      <element minOccurs="0" name="locationId" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="quantityOnHand" type="xsd:double"/>
      <element minOccurs="0" name="onHandValueMli" type="xsd:double"/>
      <element minOccurs="0" name="reorderPoint" type="xsd:double"/>
      <element minOccurs="0" name="preferredStockLevel" type="xsd:double"/>
      <element minOccurs="0" name="quantityOnOrder" type="xsd:double"/>
      <element minOccurs="0" name="quantityCommitted" type="xsd:double"/>
      <element minOccurs="0" name="quantityBackOrdered" type="xsd:double"/>
      <element minOccurs="0" name="quantityAvailable" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="ItemAvailabilityList">
    <sequence>
      <element maxOccurs="unbounded" name="itemAvailability" type="platformCore:ItemAvailability"/>
    </sequence>
  </complexType>
  <complexType name="GetItemAvailabilityResult">
    <sequence>
      <element maxOccurs="1" minOccurs="1" ref="platformCore:status"/>
      <element maxOccurs="1" minOccurs="0" name="itemAvailabilityList" type="platformCore:ItemAvailabilityList"/>
    </sequence>
  </complexType>
  <element name="getItemAvailabilityResult" type="platformCore:GetItemAvailabilityResult"/>
  <!--itemAvailability/end-->
  <!--********************************************************************-->
  <!--Budget Exchange Rate-->
  <!--********************************************************************-->
  <complexType name="BudgetExchangeRateFilter">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="period" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="fromSubsidiary" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="toSubsidiary" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="BudgetExchangeRate">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="period" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="1" name="fromSubsidiary" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="1" name="toSubsidiary" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="currentRate" type="xsd:double"/>
      <element maxOccurs="1" minOccurs="0" name="averageRate" type="xsd:double"/>
      <element maxOccurs="1" minOccurs="0" name="historicalRate" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="BudgetExchangeRateList">
    <sequence>
      <element maxOccurs="unbounded" name="budgetExchangeRate" type="platformCore:BudgetExchangeRate"/>
    </sequence>
  </complexType>
  <complexType name="GetBudgetExchangeRateResult">
    <sequence>
      <element maxOccurs="1" minOccurs="1" ref="platformCore:status"/>
      <element maxOccurs="1" minOccurs="0" name="budgetExchangeRateList" type="platformCore:BudgetExchangeRateList"/>
    </sequence>
  </complexType>
  <element name="getBudgetExchangeRateResult" type="platformCore:GetBudgetExchangeRateResult"/>
  <!--Budget Exchange Rate/end-->
  <!--********************************************************************-->
  <!--Consolidated Exchange Rate-->
  <!--********************************************************************-->
  <complexType name="ConsolidatedExchangeRateFilter">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="period" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="fromSubsidiary" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="toSubsidiary" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="ConsolidatedExchangeRate">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="period" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="1" name="fromSubsidiary" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="1" name="toSubsidiary" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="currentRate" type="xsd:double"/>
      <element maxOccurs="1" minOccurs="0" name="averageRate" type="xsd:double"/>
      <element maxOccurs="1" minOccurs="0" name="historicalRate" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="ConsolidatedExchangeRateList">
    <sequence>
      <element maxOccurs="unbounded" name="consolidatedExchangeRate" type="platformCore:ConsolidatedExchangeRate"/>
    </sequence>
  </complexType>
  <complexType name="GetConsolidatedExchangeRateResult">
    <sequence>
      <element maxOccurs="1" minOccurs="1" ref="platformCore:status"/>
      <element maxOccurs="1" minOccurs="0" name="consolidatedExchangeRateList" type="platformCore:ConsolidatedExchangeRateList"/>
    </sequence>
  </complexType>
  <element name="getConsolidatedExchangeRateResult" type="platformCore:GetConsolidatedExchangeRateResult"/>
  <!--Consolidated Exchange Rate/end-->
  <!--********************************************************************-->
  <!--Currency Rate-->
  <!--********************************************************************-->
  <complexType name="CurrencyRateFilter">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="baseCurrency" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="fromCurrency" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="effectiveDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="CurrencyRate">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="baseCurrency" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="1" name="fromCurrency" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="1" name="exchangeRate" type="xsd:double"/>
      <element maxOccurs="1" minOccurs="1" name="effectiveDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="CurrencyRateList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="currencyRate" type="platformCore:CurrencyRate"/>
    </sequence>
  </complexType>
  <complexType name="GetCurrencyRateResult">
    <sequence>
      <element maxOccurs="1" minOccurs="1" ref="platformCore:status"/>
      <element maxOccurs="1" minOccurs="0" name="currencyRateList" type="platformCore:CurrencyRateList"/>
    </sequence>
  </complexType>
  <element name="getCurrencyRateResult" type="platformCore:GetCurrencyRateResult"/>
  <!--Currency Rate/end-->
  <!--********************************************************************-->
  <!--Data Center URLs-->
  <!--********************************************************************-->
  <complexType name="DataCenterUrls">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="restDomain" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="1" name="webservicesDomain" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="1" name="systemDomain" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="GetDataCenterUrlsResult">
    <sequence>
      <element maxOccurs="1" minOccurs="1" ref="platformCore:status"/>
      <element maxOccurs="1" minOccurs="0" name="dataCenterUrls" type="platformCore:DataCenterUrls"/>
    </sequence>
  </complexType>
  <element name="getDataCenterUrlsResult" type="platformCore:GetDataCenterUrlsResult"/>
  <!--Data Center URLs-->
  <!--********************************************************************-->
  <!--Posting Activity-->
  <!--********************************************************************-->
  <complexType name="PostingTransactionSummaryField">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="period" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="account" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="parentItem" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="item" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="entity" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="department" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="class" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="location" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="subsidiary" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="book" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="PostingTransactionSummaryFilter">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="period" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="account" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="parentItem" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="item" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="entity" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="department" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="class" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="location" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="subsidiary" type="platformCore:RecordRefList"/>
      <element maxOccurs="1" minOccurs="0" name="book" type="platformCore:RecordRefList"/>
    </sequence>
  </complexType>
  <complexType name="PostingTransactionSummary">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="period" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="account" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="parentItem" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="item" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="entity" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="book" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="1" name="amount" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="PostingTransactionSummaryList">
    <sequence>
      <element maxOccurs="unbounded" name="postingTransactionSummary" type="platformCore:PostingTransactionSummary"/>
    </sequence>
  </complexType>
  <complexType name="GetPostingTransactionSummaryResult">
    <sequence>
      <element maxOccurs="1" minOccurs="1" ref="platformCore:status"/>
      <element minOccurs="0" name="totalRecords" type="xsd:int"/>
      <element minOccurs="0" name="pageSize" type="xsd:int"/>
      <element minOccurs="0" name="totalPages" type="xsd:int"/>
      <element minOccurs="0" name="pageIndex" type="xsd:int"/>
      <element maxOccurs="1" minOccurs="0" name="postingTransactionSummaryList" type="platformCore:PostingTransactionSummaryList"/>
    </sequence>
  </complexType>
  <element name="getPostingTransactionSummaryResult" type="platformCore:GetPostingTransactionSummaryResult"/>
  <!--Posting Activity/end-->
  <!--********************************************************************-->
  <!--GetSelectValue Fields-->
  <!--********************************************************************-->
  <complexType name="GetSelectValueFieldDescription">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="recordType" type="platformCoreTyp:RecordType"/>
      <element maxOccurs="1" minOccurs="0" name="customRecordType" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="customTransactionType" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="sublist" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="1" name="field" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
      <element maxOccurs="1" minOccurs="0" name="filter" type="platformCore:GetSelectValueFilter"/>
      <element maxOccurs="1" minOccurs="0" name="filterByValueList" type="platformCore:GetSelectFilterByFieldValueList"/>
    </sequence>
  </complexType>
  <complexType name="GetSelectValueFilter">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="filterValue" type="xsd:string"/>
    </sequence>
    <attribute name="operator" type="platformCoreTyp:GetSelectValueFilterOperator" use="required"/>
  </complexType>
  <complexType name="GetSelectFilterByFieldValueList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="1" name="filterBy" type="platformCore:GetSelectFilterByFieldValue"/>
    </sequence>
  </complexType>
  <complexType name="GetSelectFilterByFieldValue">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="sublist" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="1" name="field" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="1" name="internalId" type="xsd:string"/>
    </sequence>
  </complexType>
  <!--getSelectValue/end-->
  <!--********************************************************************-->
  <!--Server Time-->
  <!--********************************************************************-->
  <complexType name="GetServerTimeResult">
    <sequence>
      <element maxOccurs="1" minOccurs="1" ref="platformCore:status"/>
      <element maxOccurs="1" minOccurs="1" name="serverTime" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <element name="getServerTimeResult" type="platformCore:GetServerTimeResult"/>
  <!--Server Time/end-->
  <!--********************************************************************-->
  <!--Deletion-->
  <!--********************************************************************-->
  <complexType name="DeletedRecord">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="deletedDate" type="xsd:dateTime"/>
      <element maxOccurs="1" minOccurs="0" name="record" type="platformCore:BaseRef"/>
    </sequence>
  </complexType>
  <complexType name="DeletedRecordList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="deletedRecord" type="platformCore:DeletedRecord"/>
    </sequence>
  </complexType>
  <element name="deletedRecordList" type="platformCore:DeletedRecordList"/>
  <complexType name="GetDeletedResult">
    <sequence>
      <element ref="platformCore:status"/>
      <element minOccurs="0" name="totalRecords" type="xsd:int"/>
      <element minOccurs="0" name="pageSize" type="xsd:int"/>
      <element minOccurs="0" name="totalPages" type="xsd:int"/>
      <element minOccurs="0" name="pageIndex" type="xsd:int"/>
      <element minOccurs="0" ref="platformCore:deletedRecordList"/>
    </sequence>
  </complexType>
  <element name="getDeletedResult" type="platformCore:GetDeletedResult"/>
  <complexType name="GetDeletedFilter">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="deletedDate" type="platformCore:SearchDateField"/>
      <element maxOccurs="1" minOccurs="0" name="type" type="platformCore:SearchEnumMultiSelectField"/>
      <element maxOccurs="1" minOccurs="0" name="scriptId" type="platformCore:SearchStringField"/>
    </sequence>
  </complexType>
  <!--********************************************************************-->
  <!--Attach-->
  <!--********************************************************************-->
  <complexType abstract="true" name="AttachReference">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="attachTo" type="platformCore:BaseRef"/>
    </sequence>
  </complexType>
  <complexType abstract="true" name="DetachReference">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="detachFrom" type="platformCore:BaseRef"/>
    </sequence>
  </complexType>
  <complexType name="AttachContactReference">
    <complexContent>
      <extension base="platformCore:AttachReference">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="contact" type="platformCore:RecordRef"/>
          <element maxOccurs="1" minOccurs="0" name="contactRole" type="platformCore:RecordRef"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AttachBasicReference">
    <complexContent>
      <extension base="platformCore:AttachReference">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="attachedRecord" type="platformCore:BaseRef"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DetachBasicReference">
    <complexContent>
      <extension base="platformCore:DetachReference">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="detachedRecord" type="platformCore:BaseRef"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--attach/end-->
</schema>
