Opportunity_Integrations/Service Descriptors/customers.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:tranCust="urn:customers_2015_1.transactions.webservices.netsuite.com" xmlns:tranCustTyp="urn:types.customers_2015_1.transactions.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:customers_2015_1.transactions.webservices.netsuite.com">
  <import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <import namespace="urn:types.common_2015_1.platform.webservices.netsuite.com" schemaLocation="commonTypes.xsd"/>
  <import namespace="urn:types.customers_2015_1.transactions.webservices.netsuite.com" schemaLocation="customerTypes.xsd"/>
  <!--cashRefund/start-->
  <element name="CashRefund" type="tranCust:CashRefund"/>
  <complexType name="CashRefund">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="vatRegNum" type="xsd:string"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="source" type="xsd:string"/>
          <element minOccurs="0" name="createdFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="leadSource" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salesRep" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="partner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="contribPct" type="xsd:string"/>
          <element minOccurs="0" name="otherRefNum" type="xsd:string"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="salesEffectiveDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="refundCheck" type="xsd:boolean"/>
          <element minOccurs="0" name="toPrint2" type="xsd:boolean"/>
          <element minOccurs="0" name="excludeCommission" type="xsd:boolean"/>
          <element minOccurs="0" name="totalCostEstimate" type="xsd:double"/>
          <element minOccurs="0" name="estGrossProfit" type="xsd:double"/>
          <element minOccurs="0" name="estGrossProfitPercent" type="xsd:double"/>
          <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="currencyName" type="xsd:string"/>
          <element minOccurs="0" name="promoCode" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="discountItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="discountRate" type="xsd:string"/>
          <element minOccurs="0" name="isTaxable" type="xsd:boolean"/>
          <element minOccurs="0" name="taxItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="taxRate" type="xsd:double"/>
          <element minOccurs="0" name="toBePrinted" type="xsd:boolean"/>
          <element minOccurs="0" name="toBeEmailed" type="xsd:boolean"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="toBeFaxed" type="xsd:boolean"/>
          <element minOccurs="0" name="fax" type="xsd:string"/>
          <element minOccurs="0" name="messageSel" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="billingAddress" type="platformCommon:Address"/>
          <element minOccurs="0" name="billAddressList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="shipMethod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="shippingTaxCode" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="shippingTax1Rate" type="xsd:double"/>
          <element minOccurs="0" name="shippingTax2Rate" type="xsd:string"/>
          <element minOccurs="0" name="shippingCost" type="xsd:double"/>
          <element minOccurs="0" name="handlingTaxCode" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="handlingTax1Rate" type="xsd:double"/>
          <element minOccurs="0" name="handlingTax2Rate" type="xsd:string"/>
          <element minOccurs="0" name="handlingCost" type="xsd:double"/>
          <element minOccurs="0" name="salesGroup" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="syncSalesTeams" type="xsd:boolean"/>
          <element minOccurs="0" name="paymentMethod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="revenueStatus" type="platformCommonTyp:RevenueStatus"/>
          <element minOccurs="0" name="recognizedRevenue" type="xsd:double"/>
          <element minOccurs="0" name="deferredRevenue" type="xsd:double"/>
          <element minOccurs="0" name="revRecOnRevCommitment" type="xsd:boolean"/>
          <element minOccurs="0" name="creditCard" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="chargeIt" type="xsd:boolean"/>
          <element minOccurs="0" name="ccNumber" type="xsd:string"/>
          <element minOccurs="0" name="ccExpireDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="ccName" type="xsd:string"/>
          <element minOccurs="0" name="ccStreet" type="xsd:string"/>
          <element minOccurs="0" name="ccZipCode" type="xsd:string"/>
          <element minOccurs="0" name="ccApproved" type="xsd:boolean"/>
          <element minOccurs="0" name="creditCardProcessor" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="debitCardIssueNo" type="xsd:string"/>
          <element minOccurs="0" name="pnRefNum" type="xsd:string"/>
          <element minOccurs="0" name="validFrom" type="xsd:dateTime"/>
          <element minOccurs="0" name="payPalTranId" type="xsd:string"/>
          <element minOccurs="0" name="subTotal" type="xsd:double"/>
          <element minOccurs="0" name="ccIsPurchaseCardBin" type="xsd:boolean"/>
          <element minOccurs="0" name="discountTotal" type="xsd:double"/>
          <element minOccurs="0" name="ccProcessAsPurchaseCard" type="xsd:boolean"/>
          <element minOccurs="0" name="taxTotal" type="xsd:double"/>
          <element minOccurs="0" name="tax2Total" type="xsd:double"/>
          <element minOccurs="0" name="altShippingCost" type="xsd:double"/>
          <element minOccurs="0" name="payPalStatus" type="xsd:string"/>
          <element minOccurs="0" name="altHandlingCost" type="xsd:double"/>
          <element minOccurs="0" name="total" type="xsd:double"/>
          <element minOccurs="0" name="payPalAuthId" type="xsd:string"/>
          <element minOccurs="0" name="status" type="xsd:string"/>
          <element minOccurs="0" name="job" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="giftCert" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="giftCertTotal" type="xsd:double"/>
          <element minOccurs="0" name="giftCertApplied" type="xsd:double"/>
          <element minOccurs="0" name="giftCertAvailable" type="xsd:double"/>
          <element minOccurs="0" name="tranIsVsoeBundle" type="xsd:boolean"/>
          <element minOccurs="0" name="payPalProcess" type="xsd:boolean"/>
          <element minOccurs="0" name="vsoeAutoCalc" type="xsd:boolean"/>
          <element minOccurs="0" name="syncPartnerTeams" type="xsd:boolean"/>
          <element minOccurs="0" name="itemList" type="tranCust:CashRefundItemList"/>
          <element minOccurs="0" name="salesTeamList" type="tranCust:CashRefundSalesTeamList"/>
          <element minOccurs="0" name="partnersList" type="tranCust:CashRefundPartnersList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CashRefundItem">
    <sequence>
      <element minOccurs="0" name="job" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="orderLine" type="xsd:long"/>
      <element minOccurs="0" name="quantity" type="xsd:double"/>
      <element minOccurs="0" name="units" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail"/>
      <element minOccurs="0" name="binNumbers" type="xsd:string"/>
      <element minOccurs="0" name="serialNumbers" type="xsd:string"/>
      <element minOccurs="0" name="description" type="xsd:string"/>
      <element minOccurs="0" name="price" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="rate" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="taxCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="taxRate1" type="xsd:string"/>
      <element minOccurs="0" name="taxRate2" type="xsd:string"/>
      <element minOccurs="0" name="tax1Amt" type="xsd:double"/>
      <element minOccurs="0" name="grossAmt" type="xsd:double"/>
      <element minOccurs="0" name="isTaxable" type="xsd:boolean"/>
      <element minOccurs="0" name="options" type="platformCore:CustomFieldList"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="revRecSchedule" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="revRecStartDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="revRecEndDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="catchUpPeriod" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="deferRevRec" type="xsd:boolean"/>
      <element minOccurs="0" name="giftCertFrom" type="xsd:string"/>
      <element minOccurs="0" name="costEstimateType" type="platformCommonTyp:ItemCostEstimateType"/>
      <element minOccurs="0" name="costEstimate" type="xsd:double"/>
      <element minOccurs="0" name="giftCertRecipientName" type="xsd:string"/>
      <element minOccurs="0" name="giftCertRecipientEmail" type="xsd:string"/>
      <element minOccurs="0" name="giftCertMessage" type="xsd:string"/>
      <element minOccurs="0" name="giftCertNumber" type="xsd:string"/>
      <element minOccurs="0" name="vsoeSopGroup" type="platformCommonTyp:VsoeSopGroup"/>
      <element minOccurs="0" name="vsoeIsEstimate" type="xsd:boolean"/>
      <element minOccurs="0" name="vsoePrice" type="xsd:double"/>
      <element minOccurs="0" name="vsoeAmount" type="xsd:double"/>
      <element minOccurs="0" name="vsoeAllocation" type="xsd:double"/>
      <element minOccurs="0" name="vsoeDeferral" type="platformCommonTyp:VsoeDeferral"/>
      <element minOccurs="0" name="vsoePermitDiscount" type="platformCommonTyp:VsoePermitDiscount"/>
      <element minOccurs="0" name="vsoeDelivered" type="xsd:boolean"/>
      <element minOccurs="0" name="chargeType" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="chargesList" type="platformCore:RecordRefList"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="CashRefundItemList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" type="tranCust:CashRefundItem"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CashRefundSalesTeam">
    <sequence>
      <element minOccurs="0" name="employee" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="salesRole" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="isPrimary" type="xsd:boolean"/>
      <element minOccurs="0" name="contribution" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CashRefundSalesTeamList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="salesTeam" type="tranCust:CashRefundSalesTeam"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CashRefundPartnersList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="partners" type="platformCommon:Partners"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--cashRefund/end-->
  <!--customerPayment/start-->
  <element name="CustomerPayment" type="tranCust:CustomerPayment"/>
  <complexType name="CustomerPayment">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="arAcct" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customer" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="balance" type="xsd:double"/>
          <element minOccurs="0" name="pending" type="xsd:double"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="payment" type="xsd:double"/>
          <element minOccurs="0" name="autoApply" type="xsd:boolean"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="paymentMethod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="ccIsPurchaseCardBin" type="xsd:boolean"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="ccProcessAsPurchaseCard" type="xsd:boolean"/>
          <element minOccurs="0" name="checkNum" type="xsd:string"/>
          <element minOccurs="0" name="currencyName" type="xsd:string"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="creditCard" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="chargeIt" type="xsd:boolean"/>
          <element minOccurs="0" name="ccNumber" type="xsd:string"/>
          <element minOccurs="0" name="ccExpireDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="ccName" type="xsd:string"/>
          <element minOccurs="0" name="ccStreet" type="xsd:string"/>
          <element minOccurs="0" name="ccZipCode" type="xsd:string"/>
          <element minOccurs="0" name="ccApproved" type="xsd:boolean"/>
          <element minOccurs="0" name="authCode" type="xsd:string"/>
          <element minOccurs="0" name="ccAvsStreetMatch" type="platformCommonTyp:AvsMatchCode"/>
          <element minOccurs="0" name="ccAvsZipMatch" type="platformCommonTyp:AvsMatchCode"/>
          <element minOccurs="0" name="isRecurringPayment" type="xsd:boolean"/>
          <element minOccurs="0" name="ccSecurityCode" type="xsd:string"/>
          <element minOccurs="0" name="ignoreAvs" type="xsd:boolean"/>
          <element minOccurs="0" name="ccSecurityCodeMatch" type="platformCommonTyp:AvsMatchCode"/>
          <element minOccurs="0" name="threeDStatusCode" type="xsd:string"/>
          <element minOccurs="0" name="pnRefNum" type="xsd:string"/>
          <element minOccurs="0" name="creditCardProcessor" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="debitCardIssueNo" type="xsd:string"/>
          <element minOccurs="0" name="validFrom" type="xsd:dateTime"/>
          <element minOccurs="0" name="undepFunds" type="xsd:boolean"/>
          <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="total" type="xsd:double"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="applied" type="xsd:double"/>
          <element minOccurs="0" name="unapplied" type="xsd:double"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="status" type="xsd:string"/>
          <element minOccurs="0" name="applyList" type="tranCust:CustomerPaymentApplyList"/>
          <element minOccurs="0" name="creditList" type="tranCust:CustomerPaymentCreditList"/>
          <element minOccurs="0" name="depositList" type="tranCust:CustomerPaymentDepositList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomerPaymentApply">
    <sequence>
      <element minOccurs="0" name="apply" type="xsd:boolean"/>
      <element minOccurs="0" name="doc" type="xsd:long"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="applyDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="job" type="xsd:string"/>
      <element minOccurs="0" name="type" type="xsd:string"/>
      <element minOccurs="0" name="refNum" type="xsd:string"/>
      <element minOccurs="0" name="total" type="xsd:double"/>
      <element minOccurs="0" name="due" type="xsd:double"/>
      <element minOccurs="0" name="currency" type="xsd:string"/>
      <element minOccurs="0" name="discDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="discAmt" type="xsd:double"/>
      <element minOccurs="0" name="disc" type="xsd:double"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CustomerPaymentApplyList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="apply" type="tranCust:CustomerPaymentApply"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomerPaymentCredit">
    <sequence>
      <element minOccurs="0" name="apply" type="xsd:boolean"/>
      <element minOccurs="0" name="doc" type="xsd:long"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="creditDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="type" type="xsd:string"/>
      <element minOccurs="0" name="refNum" type="xsd:string"/>
      <element minOccurs="0" name="appliedTo" type="xsd:string"/>
      <element minOccurs="0" name="total" type="xsd:double"/>
      <element minOccurs="0" name="due" type="xsd:double"/>
      <element minOccurs="0" name="currency" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CustomerPaymentCreditList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="credit" type="tranCust:CustomerPaymentCredit"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomerPaymentDeposit">
    <sequence>
      <element minOccurs="0" name="apply" type="xsd:boolean"/>
      <element minOccurs="0" name="doc" type="xsd:long"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="depositDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="refNum" type="xsd:string"/>
      <element minOccurs="0" name="total" type="xsd:double"/>
      <element minOccurs="0" name="remaining" type="xsd:double"/>
      <element minOccurs="0" name="currency" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CustomerPaymentDepositList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="deposit" type="tranCust:CustomerPaymentDeposit"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--customerPayment/end-->
  <!--returnAuthorization/start-->
  <element name="ReturnAuthorization" type="tranCust:ReturnAuthorization"/>
  <complexType name="ReturnAuthorization">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="vatRegNum" type="xsd:string"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="source" type="xsd:string"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="intercoTransaction" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="intercoStatus" type="platformCommonTyp:IntercoStatus"/>
          <element minOccurs="0" name="job" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="partner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="otherRefNum" type="xsd:string"/>
          <element minOccurs="0" name="leadSource" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="drAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="fxAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salesEffectiveDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="createdFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="revRecSchedule" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="totalCostEstimate" type="xsd:double"/>
          <element minOccurs="0" name="estGrossProfit" type="xsd:double"/>
          <element minOccurs="0" name="estGrossProfitPercent" type="xsd:double"/>
          <element minOccurs="0" name="revRecStartDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="revRecEndDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="excludeCommission" type="xsd:boolean"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="currencyName" type="xsd:string"/>
          <element minOccurs="0" name="discountItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="discountRate" type="xsd:string"/>
          <element minOccurs="0" name="taxItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="taxRate" type="xsd:double"/>
          <element minOccurs="0" name="toBePrinted" type="xsd:boolean"/>
          <element minOccurs="0" name="toBeEmailed" type="xsd:boolean"/>
          <element minOccurs="0" name="toBeFaxed" type="xsd:boolean"/>
          <element minOccurs="0" name="messageSel" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="billingAddress" type="platformCommon:Address"/>
          <element minOccurs="0" name="billAddressList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="shipAddressList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="shipAddress" type="xsd:string"/>
          <element minOccurs="0" name="salesGroup" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="syncSalesTeams" type="xsd:boolean"/>
          <element minOccurs="0" name="revenueStatus" type="platformCommonTyp:RevenueStatus"/>
          <element minOccurs="0" name="recognizedRevenue" type="xsd:double"/>
          <element minOccurs="0" name="deferredRevenue" type="xsd:double"/>
          <element minOccurs="0" name="revRecOnRevCommitment" type="xsd:boolean"/>
          <element minOccurs="0" name="revCommitStatus" type="platformCommonTyp:RevenueCommitStatus"/>
          <element minOccurs="0" name="paymentMethod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="creditCard" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="ccNumber" type="xsd:string"/>
          <element minOccurs="0" name="altSalesTotal" type="xsd:double"/>
          <element minOccurs="0" name="ccExpireDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="ccName" type="xsd:string"/>
          <element minOccurs="0" name="ccStreet" type="xsd:string"/>
          <element minOccurs="0" name="ccZipCode" type="xsd:string"/>
          <element minOccurs="0" name="ccApproved" type="xsd:boolean"/>
          <element minOccurs="0" name="pnRefNum" type="xsd:string"/>
          <element minOccurs="0" name="subTotal" type="xsd:double"/>
          <element minOccurs="0" name="discountTotal" type="xsd:double"/>
          <element minOccurs="0" name="total" type="xsd:double"/>
          <element minOccurs="0" name="creditCardProcessor" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="payPalAuthId" type="xsd:string"/>
          <element minOccurs="0" name="payPalProcess" type="xsd:boolean"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="fax" type="xsd:string"/>
          <element minOccurs="0" name="debitCardIssueNo" type="xsd:string"/>
          <element minOccurs="0" name="isTaxable" type="xsd:boolean"/>
          <element minOccurs="0" name="promoCode" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="status" type="xsd:string"/>
          <element minOccurs="0" name="taxTotal" type="xsd:double"/>
          <element minOccurs="0" name="tax2Total" type="xsd:double"/>
          <element minOccurs="0" name="validFrom" type="xsd:dateTime"/>
          <element minOccurs="0" name="orderStatus" type="tranCustTyp:ReturnAuthorizationOrderStatus"/>
          <element minOccurs="0" name="salesRep" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="giftCert" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="contribPct" type="xsd:string"/>
          <element minOccurs="0" name="giftCertTotal" type="xsd:double"/>
          <element minOccurs="0" name="giftCertApplied" type="xsd:double"/>
          <element minOccurs="0" name="giftCertAvailable" type="xsd:double"/>
          <element minOccurs="0" name="tranIsVsoeBundle" type="xsd:boolean"/>
          <element minOccurs="0" name="vsoeAutoCalc" type="xsd:boolean"/>
          <element minOccurs="0" name="syncPartnerTeams" type="xsd:boolean"/>
          <element minOccurs="0" name="itemList" type="tranCust:ReturnAuthorizationItemList"/>
          <element minOccurs="0" name="salesTeamList" type="tranCust:ReturnAuthorizationSalesTeamList"/>
          <element minOccurs="0" name="partnersList" type="tranCust:ReturnAuthorizationPartnersList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReturnAuthorizationItem">
    <sequence>
      <element minOccurs="0" name="job" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="orderLine" type="xsd:long"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="quantity" type="xsd:double"/>
      <element minOccurs="0" name="quantityReceived" type="xsd:double"/>
      <element minOccurs="0" name="quantityBilled" type="xsd:double"/>
      <element minOccurs="0" name="units" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail"/>
      <element minOccurs="0" name="description" type="xsd:string"/>
      <element minOccurs="0" name="serialNumbers" type="xsd:string"/>
      <element minOccurs="0" name="price" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="rate" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="options" type="platformCore:CustomFieldList"/>
      <element minOccurs="0" name="revRecTermInMonths" type="xsd:long"/>
      <element minOccurs="0" name="deferRevRec" type="xsd:boolean"/>
      <element minOccurs="0" name="isClosed" type="xsd:boolean"/>
      <element minOccurs="0" name="isDropShipment" type="xsd:boolean"/>
      <element minOccurs="0" name="catchUpPeriod" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="costEstimateType" type="platformCommonTyp:ItemCostEstimateType"/>
      <element minOccurs="0" name="costEstimate" type="xsd:double"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="revRecSchedule" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="revRecStartDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="revRecEndDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="taxCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="taxRate1" type="xsd:double"/>
      <element minOccurs="0" name="taxRate2" type="xsd:double"/>
      <element minOccurs="0" name="tax1Amt" type="xsd:double"/>
      <element minOccurs="0" name="grossAmt" type="xsd:double"/>
      <element minOccurs="0" name="isTaxable" type="xsd:boolean"/>
      <element minOccurs="0" name="giftCertFrom" type="xsd:string"/>
      <element minOccurs="0" name="giftCertRecipientName" type="xsd:string"/>
      <element minOccurs="0" name="giftCertRecipientEmail" type="xsd:string"/>
      <element minOccurs="0" name="giftCertMessage" type="xsd:string"/>
      <element minOccurs="0" name="giftCertNumber" type="xsd:string"/>
      <element minOccurs="0" name="vsoeSopGroup" type="platformCommonTyp:VsoeSopGroup"/>
      <element minOccurs="0" name="vsoeIsEstimate" type="xsd:boolean"/>
      <element minOccurs="0" name="vsoePrice" type="xsd:double"/>
      <element minOccurs="0" name="vsoeAmount" type="xsd:double"/>
      <element minOccurs="0" name="altSalesAmt" type="xsd:double"/>
      <element minOccurs="0" name="vsoeAllocation" type="xsd:double"/>
      <element minOccurs="0" name="vsoeDeferral" type="platformCommonTyp:VsoeDeferral"/>
      <element minOccurs="0" name="vsoePermitDiscount" type="platformCommonTyp:VsoePermitDiscount"/>
      <element minOccurs="0" name="vsoeDelivered" type="xsd:boolean"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="ReturnAuthorizationItemList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" type="tranCust:ReturnAuthorizationItem"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="ReturnAuthorizationSalesTeam">
    <sequence>
      <element minOccurs="0" name="employee" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="salesRole" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="isPrimary" type="xsd:boolean"/>
      <element minOccurs="0" name="contribution" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="ReturnAuthorizationSalesTeamList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="salesTeam" type="tranCust:ReturnAuthorizationSalesTeam"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="ReturnAuthorizationPartnersList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="partners" type="platformCommon:Partners"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--returnAuthorization/end-->
  <!--creditMemo/start-->
  <element name="CreditMemo" type="tranCust:CreditMemo"/>
  <complexType name="CreditMemo">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="vatRegNum" type="xsd:string"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="createdFrom" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="job" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salesRep" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="partner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="contribPct" type="xsd:string"/>
          <element minOccurs="0" name="otherRefNum" type="xsd:string"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="excludeCommission" type="xsd:boolean"/>
          <element minOccurs="0" name="leadSource" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="balance" type="xsd:double"/>
          <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="onCreditHold" type="xsd:string"/>
          <element minOccurs="0" name="amountPaid" type="xsd:double"/>
          <element minOccurs="0" name="salesEffectiveDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="totalCostEstimate" type="xsd:double"/>
          <element minOccurs="0" name="estGrossProfit" type="xsd:double"/>
          <element minOccurs="0" name="estGrossProfitPercent" type="xsd:double"/>
          <element minOccurs="0" name="currencyName" type="xsd:string"/>
          <element minOccurs="0" name="promoCode" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="amountRemaining" type="xsd:double"/>
          <element minOccurs="0" name="discountItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="source" type="xsd:string"/>
          <element minOccurs="0" name="discountRate" type="xsd:string"/>
          <element minOccurs="0" name="isTaxable" type="xsd:boolean"/>
          <element minOccurs="0" name="taxItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="taxRate" type="xsd:double"/>
          <element minOccurs="0" name="unapplied" type="xsd:double"/>
          <element minOccurs="0" name="autoApply" type="xsd:boolean"/>
          <element minOccurs="0" name="applied" type="xsd:double"/>
          <element minOccurs="0" name="toBePrinted" type="xsd:boolean"/>
          <element minOccurs="0" name="toBeEmailed" type="xsd:boolean"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="toBeFaxed" type="xsd:boolean"/>
          <element minOccurs="0" name="fax" type="xsd:string"/>
          <element minOccurs="0" name="messageSel" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="billingAddress" type="platformCommon:Address"/>
          <element minOccurs="0" name="billAddressList" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="shipMethod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="shippingCost" type="xsd:double"/>
          <element minOccurs="0" name="shippingTax1Rate" type="xsd:double"/>
          <element minOccurs="0" name="shippingTaxCode" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="handlingTaxCode" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="shippingTax2Rate" type="xsd:string"/>
          <element minOccurs="0" name="handlingTax1Rate" type="xsd:double"/>
          <element minOccurs="0" name="handlingTax2Rate" type="xsd:string"/>
          <element minOccurs="0" name="handlingCost" type="xsd:double"/>
          <element minOccurs="0" name="subTotal" type="xsd:double"/>
          <element minOccurs="0" name="discountTotal" type="xsd:double"/>
          <element minOccurs="0" name="revenueStatus" type="platformCommonTyp:RevenueStatus"/>
          <element minOccurs="0" name="recognizedRevenue" type="xsd:double"/>
          <element minOccurs="0" name="deferredRevenue" type="xsd:double"/>
          <element minOccurs="0" name="revRecOnRevCommitment" type="xsd:boolean"/>
          <element minOccurs="0" name="taxTotal" type="xsd:double"/>
          <element minOccurs="0" name="tax2Total" type="xsd:double"/>
          <element minOccurs="0" name="altShippingCost" type="xsd:double"/>
          <element minOccurs="0" name="altHandlingCost" type="xsd:double"/>
          <element minOccurs="0" name="total" type="xsd:double"/>
          <element minOccurs="0" name="salesGroup" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="syncSalesTeams" type="xsd:boolean"/>
          <element minOccurs="0" name="status" type="xsd:string"/>
          <element minOccurs="0" name="giftCert" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="giftCertTotal" type="xsd:double"/>
          <element minOccurs="0" name="giftCertApplied" type="xsd:double"/>
          <element minOccurs="0" name="giftCertAvailable" type="xsd:double"/>
          <element minOccurs="0" name="tranIsVsoeBundle" type="xsd:boolean"/>
          <element minOccurs="0" name="vsoeAutoCalc" type="xsd:boolean"/>
          <element minOccurs="0" name="syncPartnerTeams" type="xsd:boolean"/>
          <element minOccurs="0" name="salesTeamList" type="tranCust:CreditMemoSalesTeamList"/>
          <element minOccurs="0" name="itemList" type="tranCust:CreditMemoItemList"/>
          <element minOccurs="0" name="partnersList" type="tranCust:CreditMemoPartnersList"/>
          <element minOccurs="0" name="applyList" type="tranCust:CreditMemoApplyList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CreditMemoSalesTeam">
    <sequence>
      <element minOccurs="0" name="employee" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="salesRole" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="isPrimary" type="xsd:boolean"/>
      <element minOccurs="0" name="contribution" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CreditMemoSalesTeamList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="salesTeam" type="tranCust:CreditMemoSalesTeam"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CreditMemoItem">
    <sequence>
      <element minOccurs="0" name="job" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="orderLine" type="xsd:long"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="quantity" type="xsd:double"/>
      <element minOccurs="0" name="description" type="xsd:string"/>
      <element minOccurs="0" name="binNumbers" type="xsd:string"/>
      <element minOccurs="0" name="price" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="rate" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="isTaxable" type="xsd:boolean"/>
      <element minOccurs="0" name="options" type="platformCore:CustomFieldList"/>
      <element minOccurs="0" name="taxCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="taxRate1" type="xsd:double"/>
      <element minOccurs="0" name="taxRate2" type="xsd:double"/>
      <element minOccurs="0" name="tax1Amt" type="xsd:double"/>
      <element minOccurs="0" name="grossAmt" type="xsd:double"/>
      <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="costEstimateType" type="platformCommonTyp:ItemCostEstimateType"/>
      <element minOccurs="0" name="costEstimate" type="xsd:double"/>
      <element minOccurs="0" name="revRecSchedule" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="revRecStartDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="revRecTermInMonths" type="xsd:long"/>
      <element minOccurs="0" name="revRecEndDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="units" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail"/>
      <element minOccurs="0" name="serialNumbers" type="xsd:string"/>
      <element minOccurs="0" name="deferRevRec" type="xsd:boolean"/>
      <element minOccurs="0" name="giftCertFrom" type="xsd:string"/>
      <element minOccurs="0" name="giftCertRecipientName" type="xsd:string"/>
      <element minOccurs="0" name="giftCertRecipientEmail" type="xsd:string"/>
      <element minOccurs="0" name="giftCertMessage" type="xsd:string"/>
      <element minOccurs="0" name="giftCertNumber" type="xsd:string"/>
      <element minOccurs="0" name="vsoeSopGroup" type="platformCommonTyp:VsoeSopGroup"/>
      <element minOccurs="0" name="vsoeIsEstimate" type="xsd:boolean"/>
      <element minOccurs="0" name="vsoePrice" type="xsd:double"/>
      <element minOccurs="0" name="vsoeAmount" type="xsd:double"/>
      <element minOccurs="0" name="vsoeAllocation" type="xsd:double"/>
      <element minOccurs="0" name="vsoeDeferral" type="platformCommonTyp:VsoeDeferral"/>
      <element minOccurs="0" name="vsoePermitDiscount" type="platformCommonTyp:VsoePermitDiscount"/>
      <element minOccurs="0" name="vsoeDelivered" type="xsd:boolean"/>
      <element minOccurs="0" name="catchUpPeriod" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="chargeType" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="chargesList" type="platformCore:RecordRefList"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="CreditMemoItemList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" type="tranCust:CreditMemoItem"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CreditMemoApply">
    <sequence>
      <element minOccurs="0" name="apply" type="xsd:boolean"/>
      <element minOccurs="0" name="doc" type="xsd:long"/>
      <element minOccurs="0" name="applyDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="job" type="xsd:string"/>
      <element minOccurs="0" name="type" type="xsd:string"/>
      <element minOccurs="0" name="refNum" type="xsd:string"/>
      <element minOccurs="0" name="total" type="xsd:double"/>
      <element minOccurs="0" name="due" type="xsd:double"/>
      <element minOccurs="0" name="currency" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
    </sequence>
  </complexType>
  <complexType name="CreditMemoApplyList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="apply" type="tranCust:CreditMemoApply"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CreditMemoPartnersList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="partners" type="platformCommon:Partners"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--creditMemo/end-->
  <!--customerRefund/start-->
  <element name="CustomerRefund" type="tranCust:CustomerRefund"/>
  <complexType name="CustomerRefund">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="status" type="xsd:string"/>
          <element minOccurs="0" name="transactionNumber" type="xsd:string"/>
          <element minOccurs="0" name="customer" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="balance" type="xsd:double"/>
          <element minOccurs="0" name="arAcct" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="currencyName" type="xsd:string"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="address" type="xsd:string"/>
          <element minOccurs="0" name="total" type="xsd:double"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="voidJournal" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="paymentMethod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="toBePrinted" type="xsd:boolean"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="debitCardIssueNo" type="xsd:string"/>
          <element minOccurs="0" name="creditCardProcessor" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="chargeIt" type="xsd:boolean"/>
          <element minOccurs="0" name="pnRefNum" type="xsd:string"/>
          <element minOccurs="0" name="validFrom" type="xsd:dateTime"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="creditCard" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="ccIsPurchaseCardBin" type="xsd:boolean"/>
          <element minOccurs="0" name="ccNumber" type="xsd:string"/>
          <element minOccurs="0" name="ccProcessAsPurchaseCard" type="xsd:boolean"/>
          <element minOccurs="0" name="ccExpireDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="ccName" type="xsd:string"/>
          <element minOccurs="0" name="ccStreet" type="xsd:string"/>
          <element minOccurs="0" name="ccZipCode" type="xsd:string"/>
          <element minOccurs="0" name="ccApproved" type="xsd:boolean"/>
          <element minOccurs="0" name="applyList" type="tranCust:CustomerRefundApplyList"/>
          <element minOccurs="0" name="depositList" type="tranCust:CustomerRefundDepositList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomerRefundApply">
    <sequence>
      <element minOccurs="0" name="apply" type="xsd:boolean"/>
      <element minOccurs="0" name="doc" type="xsd:long"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="applyDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="type" type="xsd:string"/>
      <element minOccurs="0" name="refNum" type="xsd:string"/>
      <element minOccurs="0" name="total" type="xsd:double"/>
      <element minOccurs="0" name="due" type="xsd:double"/>
      <element minOccurs="0" name="currency" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CustomerRefundApplyList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="apply" type="tranCust:CustomerRefundApply"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomerRefundDeposit">
    <sequence>
      <element minOccurs="0" name="apply" type="xsd:boolean"/>
      <element minOccurs="0" name="doc" type="xsd:long"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="depositDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="refNum" type="xsd:string"/>
      <element minOccurs="0" name="total" type="xsd:double"/>
      <element minOccurs="0" name="remaining" type="xsd:double"/>
      <element minOccurs="0" name="currency" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CustomerRefundDepositList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customerRefundDeposit" type="tranCust:CustomerRefundDeposit"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--customerRefund/end-->
  <!--customerDeposit/start-->
  <element name="CustomerDeposit" type="tranCust:CustomerDeposit"/>
  <complexType name="CustomerDeposit">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="status" type="xsd:string"/>
          <element minOccurs="0" name="customer" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salesOrder" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="payment" type="xsd:double"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="paymentMethod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="ccIsPurchaseCardBin" type="xsd:boolean"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="ccProcessAsPurchaseCard" type="xsd:boolean"/>
          <element minOccurs="0" name="currencyName" type="xsd:string"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="checkNum" type="xsd:string"/>
          <element minOccurs="0" name="creditCardProcessor" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="creditCard" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="ccSecurityCode" type="xsd:string"/>
          <element minOccurs="0" name="ccNumber" type="xsd:string"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="ccExpireDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="debitCardIssueNo" type="xsd:string"/>
          <element minOccurs="0" name="validFrom" type="xsd:dateTime"/>
          <element minOccurs="0" name="ccName" type="xsd:string"/>
          <element minOccurs="0" name="ccStreet" type="xsd:string"/>
          <element minOccurs="0" name="ccZipCode" type="xsd:string"/>
          <element minOccurs="0" name="chargeIt" type="xsd:boolean"/>
          <element minOccurs="0" name="ccApproved" type="xsd:boolean"/>
          <element minOccurs="0" name="pnRefNum" type="xsd:string"/>
          <element minOccurs="0" name="authCode" type="xsd:string"/>
          <element minOccurs="0" name="ccAvsStreetMatch" type="platformCommonTyp:AvsMatchCode"/>
          <element minOccurs="0" name="softDescriptor" type="xsd:string"/>
          <element minOccurs="0" name="ccAvsZipMatch" type="platformCommonTyp:AvsMatchCode"/>
          <element minOccurs="0" name="isRecurringPayment" type="xsd:boolean"/>
          <element minOccurs="0" name="ccSecurityCodeMatch" type="platformCommonTyp:AvsMatchCode"/>
          <element minOccurs="0" name="threeDStatusCode" type="xsd:string"/>
          <element minOccurs="0" name="ignoreAvs" type="xsd:boolean"/>
          <element minOccurs="0" name="account" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="undepFunds" type="xsd:boolean"/>
          <element minOccurs="0" name="applyList" type="tranCust:CustomerDepositApplyList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomerDepositApply">
    <sequence>
      <element minOccurs="0" name="doc" type="xsd:long"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="apply" type="xsd:boolean"/>
      <element minOccurs="0" name="applyDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="type" type="xsd:string"/>
      <element minOccurs="0" name="refNum" type="xsd:string"/>
      <element minOccurs="0" name="total" type="xsd:double"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
      <element minOccurs="0" name="job" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomerDepositApplyList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="customerDepositApply" type="tranCust:CustomerDepositApply"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--customerDeposit/end-->
  <!--depositApplication/start-->
  <element name="DepositApplication" type="tranCust:DepositApplication"/>
  <complexType name="DepositApplication">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="arAcct" type="xsd:string"/>
          <element minOccurs="0" name="status" type="xsd:string"/>
          <element minOccurs="0" name="customer" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="deposit" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="depDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="exchangeRate" type="xsd:double"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="total" type="xsd:double"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="applied" type="xsd:double"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="unapplied" type="xsd:double"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="tranId" type="xsd:string"/>
          <element minOccurs="0" name="applyList" type="tranCust:DepositApplicationApplyList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DepositApplicationApply">
    <sequence>
      <element minOccurs="0" name="doc" type="xsd:long"/>
      <element minOccurs="0" name="line" type="xsd:long"/>
      <element minOccurs="0" name="apply" type="xsd:boolean"/>
      <element minOccurs="0" name="applyDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="job" type="xsd:string"/>
      <element minOccurs="0" name="type" type="xsd:string"/>
      <element minOccurs="0" name="refNum" type="xsd:string"/>
      <element minOccurs="0" name="total" type="xsd:double"/>
      <element minOccurs="0" name="due" type="xsd:double"/>
      <element minOccurs="0" name="currency" type="xsd:string"/>
      <element minOccurs="0" name="amount" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="DepositApplicationApplyList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="apply" type="tranCust:DepositApplicationApply"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--depositApplication/end-->
  <!--charge/start-->
  <element name="charge" type="tranCust:Charge"/>
  <complexType name="Charge">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salesOrder" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="billTo" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="stage" type="tranCustTyp:ChargeStage"/>
          <element minOccurs="0" name="chargeDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="use" type="tranCustTyp:ChargeUse"/>
          <element minOccurs="0" name="chargeType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="projectTask" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="timeRecord" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="rate" type="xsd:string"/>
          <element minOccurs="0" name="quantity" type="xsd:double"/>
          <element minOccurs="0" name="amount" type="xsd:double"/>
          <element minOccurs="0" name="billingItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="transaction" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="transactionLine" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salesOrderLine" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="invoice" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="invoiceLine" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="rule" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="runId" type="xsd:string"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="chargeSearch" type="tranCust:ChargeSearch"/>
  <complexType name="ChargeSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ChargeSearchBasic"/>
          <element minOccurs="0" name="invoiceJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="salesOrderJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ChargeSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="tranCust:ChargeSearch"/>
          <element minOccurs="0" name="columns" type="tranCust:ChargeSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ChargeSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ChargeSearchRowBasic"/>
          <element minOccurs="0" name="invoiceJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="salesOrderJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--charge/end-->
</schema>
