Opportunity_Integrations/Service Descriptors/marketing.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:listMkt="urn:marketing_2015_1.lists.webservices.netsuite.com" xmlns:listMktTyp="urn:types.marketing_2015_1.lists.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:marketing_2015_1.lists.webservices.netsuite.com">
  <import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <import namespace="urn:types.marketing_2015_1.lists.webservices.netsuite.com" schemaLocation="marketingTypes.xsd"/>
  <!--campaign/start-->
  <element name="Campaign" type="listMkt:Campaign"/>
  <complexType name="Campaign">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="campaignId" type="xsd:string"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="category" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="owner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="url" type="xsd:string"/>
          <element minOccurs="0" name="baseCost" type="xsd:double"/>
          <element minOccurs="0" name="cost" type="xsd:double"/>
          <element minOccurs="0" name="expectedRevenue" type="xsd:double"/>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="local" type="xsd:boolean"/>
          <element minOccurs="0" name="totalRevenue" type="xsd:double"/>
          <element minOccurs="0" name="roi" type="xsd:double"/>
          <element minOccurs="0" name="profit" type="xsd:double"/>
          <element minOccurs="0" name="costPerCustomer" type="xsd:double"/>
          <element minOccurs="0" name="convCostPerCustomer" type="xsd:double"/>
          <element minOccurs="0" name="conversions" type="xsd:long"/>
          <element minOccurs="0" name="leadsGenerated" type="xsd:long"/>
          <element minOccurs="0" name="uniqueVisitors" type="xsd:long"/>
          <element minOccurs="0" name="vertical" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="audience" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="offer" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="promotionCode" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="itemList" type="platformCore:RecordRefList"/>
          <element minOccurs="0" name="family" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="searchEngine" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="keyword" type="xsd:string"/>
          <element minOccurs="0" name="campaignEmailList" type="listMkt:CampaignEmailList"/>
          <element minOccurs="0" name="campaignDirectMailList" type="listMkt:CampaignDirectMailList"/>
          <element minOccurs="0" name="campaignEventList" type="listMkt:CampaignEventList"/>
          <element minOccurs="0" name="eventResponseList" type="listMkt:CampaignEventResponseList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CampaignEmail">
    <sequence>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
      <element minOccurs="0" name="campaignGroup" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="template" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="description" type="xsd:string"/>
      <element minOccurs="0" name="subscription" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="channel" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="cost" type="xsd:double"/>
      <element minOccurs="0" name="status" type="listMktTyp:CampaignCampaignEmailStatus"/>
      <element minOccurs="0" name="dateScheduled" type="xsd:dateTime"/>
      <element minOccurs="0" name="promoCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="CampaignEmailList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="campaignEmail" type="listMkt:CampaignEmail"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CampaignDirectMail">
    <sequence>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
      <element minOccurs="0" name="campaignGroup" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="template" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="description" type="xsd:string"/>
      <element minOccurs="0" name="subscription" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="channel" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="cost" type="xsd:double"/>
      <element minOccurs="0" name="status" type="listMktTyp:CampaignCampaignDirectMailStatus"/>
      <element minOccurs="0" name="dateScheduled" type="xsd:dateTime"/>
      <element minOccurs="0" name="promoCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="CampaignDirectMailList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="campaignDirectMail" type="listMkt:CampaignDirectMail"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CampaignEvent">
    <sequence>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
      <element minOccurs="0" name="campaignGroup" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="description" type="xsd:string"/>
      <element minOccurs="0" name="subscription" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="channel" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="cost" type="xsd:double"/>
      <element minOccurs="0" name="status" type="listMktTyp:CampaignCampaignEventStatus"/>
      <element minOccurs="0" name="dateScheduled" type="xsd:dateTime"/>
      <element minOccurs="0" name="promoCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
    </sequence>
  </complexType>
  <complexType name="CampaignEventList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="campaignEvent" type="listMkt:CampaignEvent"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CampaignEventResponse">
    <sequence>
      <element minOccurs="0" name="name" type="xsd:string"/>
      <element minOccurs="0" name="type" type="xsd:string"/>
      <element minOccurs="0" name="dateSent" type="xsd:dateTime"/>
      <element minOccurs="0" name="sent" type="xsd:double"/>
      <element minOccurs="0" name="opened" type="xsd:double"/>
      <element minOccurs="0" name="openedRatio" type="xsd:double"/>
      <element minOccurs="0" name="clickedThru" type="xsd:double"/>
      <element minOccurs="0" name="clickedThruRatio" type="xsd:double"/>
      <element minOccurs="0" name="responded" type="xsd:long"/>
      <element minOccurs="0" name="respondedRatio" type="xsd:double"/>
      <element minOccurs="0" name="unsubscribed" type="xsd:long"/>
      <element minOccurs="0" name="unsubscribedRatio" type="xsd:double"/>
      <element minOccurs="0" name="bounced" type="xsd:long"/>
      <element minOccurs="0" name="bouncedRatio" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CampaignEventResponseList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="eventResponse" type="listMkt:CampaignEventResponse"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="campaignSearch" type="listMkt:CampaignSearch"/>
  <complexType name="CampaignSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CampaignSearchBasic"/>
          <element minOccurs="0" name="campaignRecipientJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchBasic"/>
          <element minOccurs="0" name="promotionCodeJoin" type="platformCommon:PromotionCodeSearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CampaignSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listMkt:CampaignSearch"/>
          <element minOccurs="0" name="columns" type="listMkt:CampaignSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CampaignSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CampaignSearchRowBasic"/>
          <element minOccurs="0" name="campaignRecipientJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchRowBasic"/>
          <element minOccurs="0" name="promotionCodeJoin" type="platformCommon:PromotionCodeSearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--campaign/end-->
  <!--campaignCategory/start-->
  <element name="CampaignCategory" type="listMkt:CampaignCategory"/>
  <complexType name="CampaignCategory">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="parent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="leadSource" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="isexternal" type="xsd:boolean"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--campaignCategory/end-->
  <!--campaignAudience/start-->
  <element name="CampaignAudience" type="listMkt:CampaignAudience"/>
  <complexType name="CampaignAudience">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--campaignAudience/end-->
  <!--campaignFamily/start-->
  <element name="CampaignFamily" type="listMkt:CampaignFamily"/>
  <complexType name="CampaignFamily">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--campaignFamily/end-->
  <!--campaignSearchEngine/start-->
  <element name="CampaignSearchEngine" type="listMkt:CampaignSearchEngine"/>
  <complexType name="CampaignSearchEngine">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--campaignSearchEngine/end-->
  <!--campaignChannel/start-->
  <element name="CampaignChannel" type="listMkt:CampaignChannel"/>
  <complexType name="CampaignChannel">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="eventType" type="listMktTyp:CampaignChannelEventType"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--campaignChannel/end-->
  <!--campaignOffer/start-->
  <element name="CampaignOffer" type="listMkt:CampaignOffer"/>
  <complexType name="CampaignOffer">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--campaignOffer/end-->
  <!--campaignResponse/start-->
  <element name="CampaignResponse" type="listMkt:CampaignResponse"/>
  <complexType name="CampaignResponse">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="entity" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="leadSource" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="campaignEvent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="campaignResponseDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="channel" type="xsd:string"/>
          <element minOccurs="0" name="response" type="listMktTyp:CampaignResponseResponse"/>
          <element minOccurs="0" name="note" type="xsd:string"/>
          <element minOccurs="0" name="responsesList" type="listMkt:CampaignResponseResponsesList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CampaignResponseResponses">
    <sequence>
      <element minOccurs="0" name="response" type="xsd:string"/>
      <element minOccurs="0" name="responseDate" type="xsd:string"/>
      <element minOccurs="0" name="author" type="xsd:string"/>
      <element minOccurs="0" name="note" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CampaignResponseResponsesList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="responses" type="listMkt:CampaignResponseResponses"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--campaignResponse/end-->
  <!--campaignVertical/start-->
  <element name="CampaignVertical" type="listMkt:CampaignVertical"/>
  <complexType name="CampaignVertical">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--campaignVertical/end-->
  <!--campaignSubscription/start-->
  <element name="CampaignSubscription" type="listMkt:CampaignSubscription"/>
  <complexType name="CampaignSubscription">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="subscribedByDefault" type="xsd:boolean"/>
          <element minOccurs="0" name="unsubscribed" type="xsd:boolean"/>
          <element minOccurs="0" name="externalName" type="xsd:string"/>
          <element minOccurs="0" name="externalDescription" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--campaignSubscription/end-->
  <element name="promotionCode" type="listMkt:PromotionCode"/>
  <complexType name="PromotionCode">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="implementation" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="useType" type="listMktTyp:PromotionCodeUseType"/>
          <element minOccurs="0" name="displayLineDiscounts" type="xsd:boolean"/>
          <element minOccurs="0" name="code" type="xsd:string"/>
          <element minOccurs="0" name="codePattern" type="xsd:string"/>
          <element minOccurs="0" name="numberToGenerate" type="xsd:long"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="locationList" type="platformCore:RecordRefList"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="discount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="rate" type="xsd:string"/>
          <element minOccurs="0" name="discountType" type="xsd:boolean"/>
          <element minOccurs="0" name="applyDiscountTo" type="listMktTyp:PromotionCodeApplyDiscountTo"/>
          <element minOccurs="0" name="freeShipMethod" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="minimumOrderAmount" type="xsd:double"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="isPublic" type="xsd:boolean"/>
          <element minOccurs="0" name="currencyList" type="listMkt:PromotionCodeCurrencyList"/>
          <element minOccurs="0" name="excludeItems" type="xsd:boolean"/>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="itemsList" type="listMkt:PromotionCodeItemsList"/>
          <element minOccurs="0" name="partnersList" type="listMkt:PromotionCodePartnersList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PromotionCodePartners">
    <sequence>
      <element minOccurs="0" name="partner" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="code" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="PromotionCodePartnersList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="partners" type="listMkt:PromotionCodePartners"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="PromotionCodeItems">
    <sequence>
      <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="PromotionCodeItemsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="items" type="listMkt:PromotionCodeItems"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="promotionCodeSearch" type="listMkt:PromotionCodeSearch"/>
  <complexType name="PromotionCodeSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:PromotionCodeSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PromotionCodeSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listMkt:PromotionCodeSearch"/>
          <element minOccurs="0" name="columns" type="listMkt:PromotionCodeSearchRow"/>
        </sequence>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
        <attribute name="savedSearchId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PromotionCodeSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:PromotionCodeSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PromotionCodeCurrency">
    <sequence>
      <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="minimumOrderAmount" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="PromotionCodeCurrencyList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="currency" type="listMkt:PromotionCodeCurrency"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="couponCode" type="listMkt:CouponCode"/>
  <complexType name="CouponCode">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="1" name="promotion" type="platformCore:RecordRef"/>
          <element minOccurs="1" name="code" type="xsd:string"/>
          <element minOccurs="0" name="recipient" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="dateSent" type="xsd:dateTime"/>
          <element minOccurs="0" name="used" type="xsd:boolean"/>
          <element minOccurs="0" name="useCount" type="xsd:long"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="couponCodeSearch" type="listMkt:CouponCodeSearch"/>
  <complexType name="CouponCodeSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CouponCodeSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CouponCodeSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listMkt:CouponCodeSearch"/>
          <element minOccurs="0" name="columns" type="listMkt:CouponCodeSearchRow"/>
        </sequence>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
        <attribute name="savedSearchId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CouponCodeSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CouponCodeSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
