Opportunity_Integrations/Service Descriptors/relationships.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:listRel="urn:relationships_2015_1.lists.webservices.netsuite.com" xmlns:listRelTyp="urn:types.relationships_2015_1.lists.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:relationships_2015_1.lists.webservices.netsuite.com">
  <import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <import namespace="urn:types.relationships_2015_1.lists.webservices.netsuite.com" schemaLocation="relationshipTypes.xsd"/>
  <xsd:import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <import namespace="urn:types.common_2015_1.platform.webservices.netsuite.com" schemaLocation="commonTypes.xsd"/>
  <!--shared/start-->
  <complexType name="Subscriptions">
    <sequence>
      <element minOccurs="0" name="subscribed" type="xsd:boolean"/>
      <element minOccurs="0" name="subscription" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="SubscriptionsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="subscriptions" type="listRel:Subscriptions"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <!--shared/end-->
  <!--contact/start-->
  <element name="Contact" type="listRel:Contact"/>
  <complexType name="Contact">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entityId" type="xsd:string"/>
          <element minOccurs="0" name="contactSource" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="company" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salutation" type="xsd:string"/>
          <element minOccurs="0" name="firstName" type="xsd:string"/>
          <element minOccurs="0" name="middleName" type="xsd:string"/>
          <element minOccurs="0" name="lastName" type="xsd:string"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="phone" type="xsd:string"/>
          <element minOccurs="0" name="fax" type="xsd:string"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="defaultAddress" type="xsd:string"/>
          <element minOccurs="0" name="isPrivate" type="xsd:boolean"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="phoneticName" type="xsd:string"/>
          <element minOccurs="0" name="categoryList" type="listRel:CategoryList"/>
          <element minOccurs="0" name="altEmail" type="xsd:string"/>
          <element minOccurs="0" name="officePhone" type="xsd:string"/>
          <element minOccurs="0" name="homePhone" type="xsd:string"/>
          <element minOccurs="0" name="mobilePhone" type="xsd:string"/>
          <element minOccurs="0" name="supervisor" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="supervisorPhone" type="xsd:string"/>
          <element minOccurs="0" name="assistant" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="assistantPhone" type="xsd:string"/>
          <element minOccurs="0" name="comments" type="xsd:string"/>
          <element minOccurs="0" name="globalSubscriptionStatus" type="platformCommonTyp:GlobalSubscriptionStatus"/>
          <element minOccurs="0" name="image" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="billPay" type="xsd:boolean"/>
          <element minOccurs="0" name="dateCreated" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="addressbookList" type="listRel:ContactAddressbookList"/>
          <element minOccurs="0" name="subscriptionsList" type="listRel:SubscriptionsList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CategoryList">
    <sequence>
      <element maxOccurs="unbounded" name="category" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="ContactAddressbook">
    <sequence>
      <element minOccurs="0" name="defaultShipping" type="xsd:boolean"/>
      <element minOccurs="0" name="defaultBilling" type="xsd:boolean"/>
      <element minOccurs="0" name="label" type="xsd:string"/>
      <element minOccurs="0" name="addressbookAddress" type="platformCommon:Address"/>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ContactAddressbookList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="addressbook" type="listRel:ContactAddressbook"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="contactSearch" type="listRel:ContactSearch"/>
  <complexType name="ContactSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="customerPrimaryJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="jobPrimaryJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchBasic"/>
          <element minOccurs="0" name="parentCustomerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="parentJobJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="parentPartnerJoin" type="platformCommon:PartnerSearchBasic"/>
          <element minOccurs="0" name="parentVendorJoin" type="platformCommon:VendorSearchBasic"/>
          <element minOccurs="0" name="partnerJoin" type="platformCommon:PartnerSearchBasic"/>
          <element minOccurs="0" name="partnerPrimaryJoin" type="platformCommon:PartnerSearchBasic"/>
          <element minOccurs="0" name="purchasedItemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="upsellItemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchBasic"/>
          <element minOccurs="0" name="vendorPrimaryJoin" type="platformCommon:VendorSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ContactSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listRel:ContactSearch"/>
          <element minOccurs="0" name="columns" type="listRel:ContactSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ContactSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchRowBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchRowBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="customerPrimaryJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="jobPrimaryJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchRowBasic"/>
          <element minOccurs="0" name="parentCustomerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="parentJobJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="parentPartnerJoin" type="platformCommon:PartnerSearchRowBasic"/>
          <element minOccurs="0" name="parentVendorJoin" type="platformCommon:VendorSearchRowBasic"/>
          <element minOccurs="0" name="partnerJoin" type="platformCommon:PartnerSearchRowBasic"/>
          <element minOccurs="0" name="partnerPrimaryJoin" type="platformCommon:PartnerSearchRowBasic"/>
          <element minOccurs="0" name="purchasedItemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="upsellItemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchRowBasic"/>
          <element minOccurs="0" name="vendorPrimaryJoin" type="platformCommon:VendorSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--contact/end-->
  <!--customer/start-->
  <element name="Customer" type="listRel:Customer"/>
  <complexType name="Customer">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entityId" type="xsd:string"/>
          <element minOccurs="0" name="altName" type="xsd:string"/>
          <element minOccurs="0" name="isPerson" type="xsd:boolean"/>
          <element minOccurs="0" name="phoneticName" type="xsd:string"/>
          <element minOccurs="0" name="salutation" type="xsd:string"/>
          <element minOccurs="0" name="firstName" type="xsd:string"/>
          <element minOccurs="0" name="middleName" type="xsd:string"/>
          <element minOccurs="0" name="lastName" type="xsd:string"/>
          <element minOccurs="0" name="companyName" type="xsd:string"/>
          <element minOccurs="0" name="entityStatus" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="parent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="phone" type="xsd:string"/>
          <element minOccurs="0" name="fax" type="xsd:string"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="url" type="xsd:string"/>
          <element minOccurs="0" name="defaultAddress" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="category" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="printOnCheckAs" type="xsd:string"/>
          <element minOccurs="0" name="altPhone" type="xsd:string"/>
          <element minOccurs="0" name="homePhone" type="xsd:string"/>
          <element minOccurs="0" name="mobilePhone" type="xsd:string"/>
          <element minOccurs="0" name="altEmail" type="xsd:string"/>
          <element minOccurs="0" name="language" type="platformCommonTyp:Language"/>
          <element minOccurs="0" name="comments" type="xsd:string"/>
          <element minOccurs="0" name="numberFormat" type="listRelTyp:CustomerNumberFormat"/>
          <element minOccurs="0" name="negativeNumberFormat" type="listRelTyp:CustomerNegativeNumberFormat"/>
          <element minOccurs="0" name="dateCreated" type="xsd:dateTime"/>
          <element minOccurs="0" name="image" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="emailPreference" type="listRelTyp:EmailPreference"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="representingSubsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salesRep" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="territory" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="contribPct" type="xsd:string"/>
          <element minOccurs="0" name="partner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salesGroup" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="vatRegNumber" type="xsd:string"/>
          <element minOccurs="0" name="accountNumber" type="xsd:string"/>
          <element minOccurs="0" name="taxExempt" type="xsd:boolean"/>
          <element minOccurs="0" name="terms" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="creditLimit" type="xsd:double"/>
          <element minOccurs="0" name="creditHoldOverride" type="listRelTyp:CustomerCreditHoldOverride"/>
          <element minOccurs="0" name="monthlyClosing" type="listRelTyp:CustomerMonthlyClosing"/>
          <element minOccurs="0" name="overrideCurrencyFormat" type="xsd:boolean"/>
          <element minOccurs="0" name="displaySymbol" type="xsd:string"/>
          <element minOccurs="0" name="symbolPlacement" type="platformCommonTyp:CurrencySymbolPlacement"/>
          <element minOccurs="0" name="balance" type="xsd:double"/>
          <element minOccurs="0" name="overdueBalance" type="xsd:double"/>
          <element minOccurs="0" name="daysOverdue" type="xsd:long"/>
          <element minOccurs="0" name="unbilledOrders" type="xsd:double"/>
          <element minOccurs="0" name="consolUnbilledOrders" type="xsd:double"/>
          <element minOccurs="0" name="consolOverdueBalance" type="xsd:double"/>
          <element minOccurs="0" name="consolDepositBalance" type="xsd:double"/>
          <element minOccurs="0" name="consolBalance" type="xsd:double"/>
          <element minOccurs="0" name="consolAging" type="xsd:double"/>
          <element minOccurs="0" name="consolDaysOverdue" type="xsd:long"/>
          <element minOccurs="0" name="priceLevel" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="prefCCProcessor" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="depositBalance" type="xsd:double"/>
          <element minOccurs="0" name="shipComplete" type="xsd:boolean"/>
          <element minOccurs="0" name="taxable" type="xsd:boolean"/>
          <element minOccurs="0" name="taxItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="resaleNumber" type="xsd:string"/>
          <element minOccurs="0" name="aging" type="xsd:double"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="reminderDays" type="xsd:long"/>
          <element minOccurs="0" name="shippingItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="thirdPartyAcct" type="xsd:string"/>
          <element minOccurs="0" name="thirdPartyZipcode" type="xsd:string"/>
          <element minOccurs="0" name="thirdPartyCountry" type="platformCommonTyp:Country"/>
          <element minOccurs="0" name="giveAccess" type="xsd:boolean"/>
          <element minOccurs="0" name="estimatedBudget" type="xsd:double"/>
          <element minOccurs="0" name="accessRole" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sendEmail" type="xsd:boolean"/>
          <element minOccurs="0" name="password" type="xsd:string"/>
          <element minOccurs="0" name="password2" type="xsd:string"/>
          <element minOccurs="0" name="requirePwdChange" type="xsd:boolean"/>
          <element minOccurs="0" name="campaignCategory" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="leadSource" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="receivablesAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="drAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="fxAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="defaultOrderPriority" type="xsd:double"/>
          <element minOccurs="0" name="webLead" type="xsd:string"/>
          <element minOccurs="0" name="referrer" type="xsd:string"/>
          <element minOccurs="0" name="keywords" type="xsd:string"/>
          <element minOccurs="0" name="clickStream" type="xsd:string"/>
          <element minOccurs="0" name="lastPageVisited" type="xsd:string"/>
          <element minOccurs="0" name="visits" type="xsd:long"/>
          <element minOccurs="0" name="firstVisit" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastVisit" type="xsd:dateTime"/>
          <element minOccurs="0" name="billPay" type="xsd:boolean"/>
          <element minOccurs="0" name="openingBalance" type="xsd:double"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="openingBalanceDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="openingBalanceAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="stage" type="listRelTyp:CustomerStage"/>
          <element minOccurs="0" name="emailTransactions" type="xsd:boolean"/>
          <element minOccurs="0" name="printTransactions" type="xsd:boolean"/>
          <element minOccurs="0" name="faxTransactions" type="xsd:boolean"/>
          <element minOccurs="0" name="syncPartnerTeams" type="xsd:boolean"/>
          <element minOccurs="0" name="isBudgetApproved" type="xsd:boolean"/>
          <element minOccurs="0" name="globalSubscriptionStatus" type="platformCommonTyp:GlobalSubscriptionStatus"/>
          <element minOccurs="0" name="salesReadiness" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="salesTeamList" type="listRel:CustomerSalesTeamList"/>
          <element minOccurs="0" name="buyingReason" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="downloadList" type="listRel:CustomerDownloadList"/>
          <element minOccurs="0" name="buyingTimeFrame" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="addressbookList" type="listRel:CustomerAddressbookList"/>
          <element minOccurs="0" name="subscriptionsList" type="listRel:SubscriptionsList"/>
          <element minOccurs="0" name="contactRolesList" type="listRel:ContactAccessRolesList"/>
          <element minOccurs="0" name="currencyList" type="listRel:CustomerCurrencyList"/>
          <element minOccurs="0" name="creditCardsList" type="listRel:CustomerCreditCardsList"/>
          <element minOccurs="0" name="partnersList" type="listRel:CustomerPartnersList"/>
          <element minOccurs="0" name="groupPricingList" type="listRel:CustomerGroupPricingList"/>
          <element minOccurs="0" name="itemPricingList" type="listRel:CustomerItemPricingList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomerDownload">
    <sequence>
      <element minOccurs="0" name="file" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="licenseCode" type="xsd:string"/>
      <element minOccurs="0" name="remainingDownloads" type="xsd:long"/>
      <element minOccurs="0" name="expiration" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="CustomerDownloadList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="download" type="listRel:CustomerDownload"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="ContactAccessRoles">
    <sequence>
      <element minOccurs="0" name="giveAccess" type="xsd:boolean"/>
      <element minOccurs="0" name="contact" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="email" type="xsd:string"/>
      <element minOccurs="0" name="role" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="password" type="xsd:string"/>
      <element minOccurs="0" name="password2" type="xsd:string"/>
      <element minOccurs="0" name="sendEmail" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="ContactAccessRolesList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="contactRoles" type="listRel:ContactAccessRoles"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomerSalesTeam">
    <sequence>
      <element minOccurs="0" name="employee" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="salesRole" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="isPrimary" type="xsd:boolean"/>
      <element minOccurs="0" name="contribution" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CustomerSalesTeamList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="salesTeam" type="listRel:CustomerSalesTeam"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomerAddressbook">
    <sequence>
      <element minOccurs="0" name="defaultShipping" type="xsd:boolean"/>
      <element minOccurs="0" name="defaultBilling" type="xsd:boolean"/>
      <element minOccurs="0" name="isResidential" type="xsd:boolean"/>
      <element minOccurs="0" name="label" type="xsd:string"/>
      <element minOccurs="0" name="addressbookAddress" type="platformCommon:Address"/>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CustomerAddressbookList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="addressbook" type="listRel:CustomerAddressbook"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomerCreditCards">
    <sequence>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
      <element minOccurs="0" name="ccNumber" type="xsd:string"/>
      <element minOccurs="0" name="ccExpireDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="ccName" type="xsd:string"/>
      <element minOccurs="0" name="paymentMethod" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="cardState" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="stateFrom" type="xsd:dateTime"/>
      <element minOccurs="0" name="debitcardIssueNo" type="xsd:string"/>
      <element minOccurs="0" name="ccMemo" type="xsd:string"/>
      <element minOccurs="0" name="validfrom" type="xsd:dateTime"/>
      <element minOccurs="0" name="ccDefault" type="xsd:boolean"/>
    </sequence>
  </complexType>
  <complexType name="CustomerCreditCardsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="creditCards" type="listRel:CustomerCreditCards"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomerGroupPricing">
    <sequence>
      <element minOccurs="0" name="group" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="level" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="CustomerGroupPricingList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="groupPricing" type="listRel:CustomerGroupPricing"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomerItemPricing">
    <sequence>
      <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="level" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="price" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="CustomerItemPricingList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="itemPricing" type="listRel:CustomerItemPricing"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="CustomerPartnersList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="partners" type="platformCommon:Partners"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="customerSearch" type="listRel:CustomerSearch"/>
  <complexType name="CustomerSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="billingScheduleJoin" type="platformCommon:BillingScheduleSearchBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="contactPrimaryJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="hostedPageJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="leadSourceJoin" type="platformCommon:CampaignSearchBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchBasic"/>
          <element minOccurs="0" name="parentCustomerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="partnerJoin" type="platformCommon:PartnerSearchBasic"/>
          <element minOccurs="0" name="pricingJoin" type="platformCommon:PricingSearchBasic"/>
          <element minOccurs="0" name="purchasedItemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchBasic"/>
          <element minOccurs="0" name="salesRepJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="subCustomerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchBasic"/>
          <element minOccurs="0" name="topLevelParentJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="upsellItemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element minOccurs="0" name="webSiteCategoryJoin" type="platformCommon:SiteCategorySearchBasic"/>
          <element minOccurs="0" name="webSiteItemJoin" type="platformCommon:ItemSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomerSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listRel:CustomerSearch"/>
          <element minOccurs="0" name="columns" type="listRel:CustomerSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomerSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="billingScheduleJoin" type="platformCommon:BillingScheduleSearchRowBasic"/>
          <element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchRowBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchRowBasic"/>
          <element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="contactPrimaryJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="hostedPageJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="leadSourceJoin" type="platformCommon:CampaignSearchRowBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchRowBasic"/>
          <element minOccurs="0" name="originatingLeadJoin" type="platformCommon:OriginatingLeadSearchRowBasic"/>
          <element minOccurs="0" name="parentCustomerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="partnerJoin" type="platformCommon:PartnerSearchRowBasic"/>
          <element minOccurs="0" name="pricingJoin" type="platformCommon:PricingSearchRowBasic"/>
          <element minOccurs="0" name="purchasedItemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchRowBasic"/>
          <element minOccurs="0" name="salesRepJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="subCustomerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchRowBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchRowBasic"/>
          <element minOccurs="0" name="topLevelParentJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="upsellItemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element minOccurs="0" name="webSiteCategoryJoin" type="platformCommon:SiteCategorySearchRowBasic"/>
          <element minOccurs="0" name="webSiteItemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--customer/end-->
  <!--customerStatus/start-->
  <element name="CustomerStatus" type="listRel:CustomerStatus"/>
  <complexType name="CustomerStatus">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="stage" type="listRelTyp:CustomerStatusStage"/>
          <element minOccurs="0" name="probability" type="xsd:double"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="includeInLeadReports" type="xsd:boolean"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--customerStatus/end-->
  <!--partner/start-->
  <element name="Partner" type="listRel:Partner"/>
  <complexType name="Partner">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entityId" type="xsd:string"/>
          <element minOccurs="0" name="altName" type="xsd:string"/>
          <element minOccurs="0" name="partnerCode" type="xsd:string"/>
          <element minOccurs="0" name="isPerson" type="xsd:boolean"/>
          <element minOccurs="0" name="phoneticName" type="xsd:string"/>
          <element minOccurs="0" name="salutation" type="xsd:string"/>
          <element minOccurs="0" name="firstName" type="xsd:string"/>
          <element minOccurs="0" name="middleName" type="xsd:string"/>
          <element minOccurs="0" name="lastName" type="xsd:string"/>
          <element minOccurs="0" name="companyName" type="xsd:string"/>
          <element minOccurs="0" name="parent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="phone" type="xsd:string"/>
          <element minOccurs="0" name="fax" type="xsd:string"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="url" type="xsd:string"/>
          <element minOccurs="0" name="defaultAddress" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="dateCreated" type="xsd:dateTime"/>
          <element minOccurs="0" name="globalSubscriptionStatus" type="platformCommonTyp:GlobalSubscriptionStatus"/>
          <element minOccurs="0" name="referringUrl" type="xsd:string"/>
          <element minOccurs="0" name="roleList" type="platformCore:RecordRefList"/>
          <element minOccurs="0" name="categoryList" type="listRel:CategoryList"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="printOnCheckAs" type="xsd:string"/>
          <element minOccurs="0" name="taxIdNum" type="xsd:string"/>
          <element minOccurs="0" name="vatRegNumber" type="xsd:string"/>
          <element minOccurs="0" name="comments" type="xsd:string"/>
          <element minOccurs="0" name="bcn" type="xsd:string"/>
          <element minOccurs="0" name="image" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="taxFractionUnit" type="listRelTyp:TaxFractionUnit"/>
          <element minOccurs="0" name="emailPreference" type="listRelTyp:EmailPreference"/>
          <element minOccurs="0" name="taxRounding" type="listRelTyp:TaxRounding"/>
          <element minOccurs="0" name="department" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="location" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="class" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="homePhone" type="xsd:string"/>
          <element minOccurs="0" name="mobilePhone" type="xsd:string"/>
          <element minOccurs="0" name="altEmail" type="xsd:string"/>
          <element minOccurs="0" name="giveAccess" type="xsd:boolean"/>
          <element minOccurs="0" name="accessRole" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="sendEmail" type="xsd:boolean"/>
          <element minOccurs="0" name="password" type="xsd:string"/>
          <element minOccurs="0" name="password2" type="xsd:string"/>
          <element minOccurs="0" name="requirePwdChange" type="xsd:boolean"/>
          <element minOccurs="0" name="subPartnerLogin" type="xsd:boolean"/>
          <element minOccurs="0" name="loginAs" type="xsd:string"/>
          <element minOccurs="0" name="eligibleForCommission" type="xsd:boolean"/>
          <element minOccurs="0" name="contactRolesList" type="listRel:ContactAccessRolesList"/>
          <element minOccurs="0" name="promoCodeList" type="listRel:PartnerPromoCodeList"/>
          <element minOccurs="0" name="addressbookList" type="listRel:PartnerAddressbookList"/>
          <element minOccurs="0" name="subscriptionsList" type="listRel:SubscriptionsList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PartnerPromoCode">
    <sequence>
      <element minOccurs="0" name="promoCode" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="discount" type="xsd:string"/>
      <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="PartnerPromoCodeList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="promoCode" type="listRel:PartnerPromoCode"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="PartnerAddressbook">
    <sequence>
      <element minOccurs="0" name="defaultShipping" type="xsd:boolean"/>
      <element minOccurs="0" name="defaultBilling" type="xsd:boolean"/>
      <element minOccurs="0" name="label" type="xsd:string"/>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
      <element minOccurs="0" name="addressbookAddress" type="platformCommon:Address"/>
    </sequence>
  </complexType>
  <complexType name="PartnerAddressbookList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="addressbook" type="listRel:PartnerAddressbook"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="partnerSearch" type="listRel:PartnerSearch"/>
  <complexType name="PartnerSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:PartnerSearchBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="contactPrimaryJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PartnerSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listRel:PartnerSearch"/>
          <element minOccurs="0" name="columns" type="listRel:PartnerSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PartnerSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:PartnerSearchRowBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchRowBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="contactPrimaryJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="opportunityJoin" type="platformCommon:OpportunitySearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--partner/end-->
  <!--vendor/start-->
  <element name="Vendor" type="listRel:Vendor"/>
  <complexType name="Vendor">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entityId" type="xsd:string"/>
          <element minOccurs="0" name="altName" type="xsd:string"/>
          <element minOccurs="0" name="isPerson" type="xsd:boolean"/>
          <element minOccurs="0" name="phoneticName" type="xsd:string"/>
          <element minOccurs="0" name="salutation" type="xsd:string"/>
          <element minOccurs="0" name="firstName" type="xsd:string"/>
          <element minOccurs="0" name="middleName" type="xsd:string"/>
          <element minOccurs="0" name="lastName" type="xsd:string"/>
          <element minOccurs="0" name="companyName" type="xsd:string"/>
          <element minOccurs="0" name="phone" type="xsd:string"/>
          <element minOccurs="0" name="fax" type="xsd:string"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="url" type="xsd:string"/>
          <element minOccurs="0" name="defaultAddress" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="dateCreated" type="xsd:dateTime"/>
          <element minOccurs="0" name="category" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="printOnCheckAs" type="xsd:string"/>
          <element minOccurs="0" name="altPhone" type="xsd:string"/>
          <element minOccurs="0" name="homePhone" type="xsd:string"/>
          <element minOccurs="0" name="mobilePhone" type="xsd:string"/>
          <element minOccurs="0" name="altEmail" type="xsd:string"/>
          <element minOccurs="0" name="comments" type="xsd:string"/>
          <element minOccurs="0" name="globalSubscriptionStatus" type="platformCommonTyp:GlobalSubscriptionStatus"/>
          <element minOccurs="0" name="image" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="emailPreference" type="listRelTyp:EmailPreference"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="representingSubsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="accountNumber" type="xsd:string"/>
          <element minOccurs="0" name="legalName" type="xsd:string"/>
          <element minOccurs="0" name="vatRegNumber" type="xsd:string"/>
          <element minOccurs="0" name="expenseAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="payablesAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="terms" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="creditLimit" type="xsd:double"/>
          <element minOccurs="0" name="balancePrimary" type="xsd:double"/>
          <element minOccurs="0" name="openingBalance" type="xsd:double"/>
          <element minOccurs="0" name="openingBalanceDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="openingBalanceAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="balance" type="xsd:double"/>
          <element minOccurs="0" name="unbilledOrdersPrimary" type="xsd:double"/>
          <element minOccurs="0" name="bcn" type="xsd:string"/>
          <element minOccurs="0" name="unbilledOrders" type="xsd:double"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="is1099Eligible" type="xsd:boolean"/>
          <element minOccurs="0" name="isJobResourceVend" type="xsd:boolean"/>
          <element minOccurs="0" name="laborCost" type="xsd:double"/>
          <element minOccurs="0" name="purchaseOrderQuantity" type="xsd:double"/>
          <element minOccurs="0" name="purchaseOrderAmount" type="xsd:double"/>
          <element minOccurs="0" name="purchaseOrderQuantityDiff" type="xsd:double"/>
          <element minOccurs="0" name="receiptQuantity" type="xsd:double"/>
          <element minOccurs="0" name="receiptAmount" type="xsd:double"/>
          <element minOccurs="0" name="receiptQuantityDiff" type="xsd:double"/>
          <element minOccurs="0" name="workCalendar" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="taxIdNum" type="xsd:string"/>
          <element minOccurs="0" name="taxItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="giveAccess" type="xsd:boolean"/>
          <element minOccurs="0" name="sendEmail" type="xsd:boolean"/>
          <element minOccurs="0" name="billPay" type="xsd:boolean"/>
          <element minOccurs="0" name="isAccountant" type="xsd:boolean"/>
          <element minOccurs="0" name="password" type="xsd:string"/>
          <element minOccurs="0" name="password2" type="xsd:string"/>
          <element minOccurs="0" name="requirePwdChange" type="xsd:boolean"/>
          <element minOccurs="0" name="eligibleForCommission" type="xsd:boolean"/>
          <element minOccurs="0" name="emailTransactions" type="xsd:boolean"/>
          <element minOccurs="0" name="printTransactions" type="xsd:boolean"/>
          <element minOccurs="0" name="faxTransactions" type="xsd:boolean"/>
          <element minOccurs="0" name="pricingScheduleList" type="listRel:VendorPricingScheduleList"/>
          <element minOccurs="0" name="subscriptionsList" type="listRel:SubscriptionsList"/>
          <element minOccurs="0" name="addressbookList" type="listRel:VendorAddressbookList"/>
          <element minOccurs="0" name="currencyList" type="listRel:VendorCurrencyList"/>
          <element minOccurs="0" name="rolesList" type="listRel:VendorRolesList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VendorPricingSchedule">
    <sequence>
      <element minOccurs="0" name="scheduleName" type="xsd:string"/>
      <element minOccurs="0" name="scheduleDiscount" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="VendorPricingScheduleList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="pricingSchedule" type="listRel:VendorPricingSchedule"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="VendorAddressbook">
    <sequence>
      <element minOccurs="0" name="defaultShipping" type="xsd:boolean"/>
      <element minOccurs="0" name="defaultBilling" type="xsd:boolean"/>
      <element minOccurs="0" name="label" type="xsd:string"/>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
      <element minOccurs="0" name="addressbookAddress" type="platformCommon:Address"/>
    </sequence>
  </complexType>
  <complexType name="VendorAddressbookList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="addressbook" type="listRel:VendorAddressbook"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="VendorRoles">
    <sequence>
      <element minOccurs="0" name="selectedRole" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="VendorRolesList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="roles" type="listRel:VendorRoles"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="vendorSearch" type="listRel:VendorSearch"/>
  <complexType name="VendorSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:VendorSearchBasic"/>
          <element minOccurs="0" name="accountJoin" type="platformCommon:AccountSearchBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="contactPrimaryJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="expAccountJoin" type="platformCommon:AccountSearchBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VendorSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listRel:VendorSearch"/>
          <element minOccurs="0" name="columns" type="listRel:VendorSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VendorSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:VendorSearchRowBasic"/>
          <element minOccurs="0" name="accountJoin" type="platformCommon:AccountSearchRowBasic"/>
          <element minOccurs="0" name="campaignResponseJoin" type="platformCommon:CampaignSearchRowBasic"/>
          <element minOccurs="0" name="contactJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="contactPrimaryJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="expAccountJoin" type="platformCommon:AccountSearchRowBasic"/>
          <element minOccurs="0" name="fileJoin" type="platformCommon:FileSearchRowBasic"/>
          <element minOccurs="0" name="messagesJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesFromJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="messagesToJoin" type="platformCommon:MessageSearchRowBasic"/>
          <element minOccurs="0" name="transactionJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="userNotesJoin" type="platformCommon:NoteSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--vendor/end-->
  <!--entityGroup/start-->
  <element name="EntityGroup" type="listRel:EntityGroup"/>
  <complexType name="EntityGroup">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="groupName" type="xsd:string"/>
          <element minOccurs="0" name="groupType" type="listRelTyp:EntityGroupType"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="groupOwner" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isSavedSearch" type="xsd:boolean"/>
          <element minOccurs="0" name="parentGroupType" type="listRelTyp:EntityGroupType"/>
          <element minOccurs="0" name="savedSearch" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isSalesTeam" type="xsd:boolean"/>
          <element minOccurs="0" name="comments" type="xsd:string"/>
          <element minOccurs="0" name="isPrivate" type="xsd:boolean"/>
          <element minOccurs="0" name="restrictionGroup" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="isSalesRep" type="xsd:boolean"/>
          <element minOccurs="0" name="isSupportRep" type="xsd:boolean"/>
          <element minOccurs="0" name="isProductTeam" type="xsd:boolean"/>
          <element minOccurs="0" name="isFunctionalTeam" type="xsd:boolean"/>
          <element minOccurs="0" name="issueRole" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isManufacturingWorkCenter" type="xsd:boolean"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="machineResources" type="xsd:long"/>
          <element minOccurs="0" name="laborResources" type="xsd:long"/>
          <element minOccurs="0" name="workCalendar" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="entityGroupSearch" type="listRel:EntityGroupSearch"/>
  <complexType name="EntityGroupSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:EntityGroupSearchBasic"/>
          <element minOccurs="0" name="groupMemberJoin" type="platformCommon:EntitySearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EntityGroupSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listRel:EntityGroupSearch"/>
          <element minOccurs="0" name="columns" type="listRel:EntityGroupSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EntityGroupSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:EntityGroupSearchRowBasic"/>
          <element minOccurs="0" name="groupMemberJoin" type="platformCommon:EntitySearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--entityGroup/end-->
  <!--job/start-->
  <element name="Job" type="listRel:Job"/>
  <complexType name="Job">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="entityId" type="xsd:string"/>
          <element minOccurs="0" name="altName" type="xsd:string"/>
          <element minOccurs="0" name="companyName" type="xsd:string"/>
          <element minOccurs="0" name="phoneticName" type="xsd:string"/>
          <element minOccurs="0" name="entityStatus" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="defaultAddress" type="xsd:string"/>
          <element minOccurs="0" name="parent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="billPay" type="xsd:boolean"/>
          <element minOccurs="0" name="dateCreated" type="xsd:dateTime"/>
          <element minOccurs="0" name="category" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="workplace" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="language" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="comments" type="xsd:string"/>
          <element minOccurs="0" name="accountNumber" type="xsd:string"/>
          <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="fxRate" type="xsd:double"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="phone" type="xsd:string"/>
          <element minOccurs="0" name="altPhone" type="xsd:string"/>
          <element minOccurs="0" name="calculatedEndDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="calculatedEndDateBaseline" type="xsd:dateTime"/>
          <element minOccurs="0" name="startDateBaseline" type="xsd:dateTime"/>
          <element minOccurs="0" name="projectedEndDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="projectedEndDateBaseline" type="xsd:dateTime"/>
          <element minOccurs="0" name="lastBaselineDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="jobType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="percentComplete" type="xsd:double"/>
          <element minOccurs="0" name="estimatedCost" type="xsd:double"/>
          <element minOccurs="0" name="estimatedRevenue" type="xsd:double"/>
          <element minOccurs="0" name="estimatedTime" type="platformCore:Duration"/>
          <element minOccurs="0" name="estimatedTimeOverride" type="platformCore:Duration"/>
          <element minOccurs="0" name="fax" type="xsd:string"/>
          <element minOccurs="0" name="email" type="xsd:string"/>
          <element minOccurs="0" name="emailPreference" type="listRelTyp:EmailPreference"/>
          <element minOccurs="0" name="openingBalance" type="xsd:double"/>
          <element minOccurs="0" name="openingBalanceDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="openingBalanceAccount" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="jobBillingType" type="listRelTyp:JobBillingType"/>
          <element minOccurs="0" name="billingSchedule" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="jobItem" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="percentTimeComplete" type="xsd:double"/>
          <element minOccurs="0" name="actualTime" type="platformCore:Duration"/>
          <element minOccurs="0" name="allowTime" type="xsd:boolean"/>
          <element minOccurs="0" name="timeRemaining" type="platformCore:Duration"/>
          <element minOccurs="0" name="limitTimeToAssignees" type="xsd:boolean"/>
          <element minOccurs="0" name="estimatedLaborCost" type="xsd:double"/>
          <element minOccurs="0" name="estimatedLaborCostBaseline" type="xsd:double"/>
          <element minOccurs="0" name="estimateRevRecTemplate" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="estimatedLaborRevenue" type="xsd:double"/>
          <element minOccurs="0" name="estimatedGrossProfit" type="xsd:double"/>
          <element minOccurs="0" name="estimatedGrossProfitPercent" type="xsd:double"/>
          <element minOccurs="0" name="projectExpenseType" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="applyProjectExpenseTypeToAll" type="xsd:boolean"/>
          <element minOccurs="0" name="allowAllResourcesForTasks" type="xsd:boolean"/>
          <element minOccurs="0" name="jobPrice" type="xsd:double"/>
          <element minOccurs="0" name="isUtilizedTime" type="xsd:boolean"/>
          <element minOccurs="0" name="isProductiveTime" type="xsd:boolean"/>
          <element minOccurs="0" name="isExemptTime" type="xsd:boolean"/>
          <element minOccurs="0" name="materializeTime" type="xsd:boolean"/>
          <element minOccurs="0" name="allowExpenses" type="xsd:boolean"/>
          <element minOccurs="0" name="allocatePayrollExpenses" type="xsd:boolean"/>
          <element minOccurs="0" name="includeCrmTasksInTotals" type="xsd:boolean"/>
          <element minOccurs="0" name="globalSubscriptionStatus" type="platformCommonTyp:GlobalSubscriptionStatus"/>
          <element minOccurs="0" name="jobResourcesList" type="listRel:JobResourcesList"/>
          <element minOccurs="0" name="plStatementList" type="listRel:JobPlStatementList"/>
          <element minOccurs="0" name="addressbookList" type="listRel:JobAddressbookList"/>
          <element minOccurs="0" name="milestonesList" type="listRel:JobMilestonesList"/>
          <element minOccurs="0" name="creditCardsList" type="listRel:JobCreditCardsList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JobAddressbook">
    <sequence>
      <element minOccurs="0" name="defaultShipping" type="xsd:boolean"/>
      <element minOccurs="0" name="defaultBilling" type="xsd:boolean"/>
      <element minOccurs="0" name="isResidential" type="xsd:boolean"/>
      <element minOccurs="0" name="label" type="xsd:string"/>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
      <element minOccurs="0" name="addressbookAddress" type="platformCommon:Address"/>
    </sequence>
  </complexType>
  <complexType name="JobAddressbookList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="addressbook" type="listRel:JobAddressbook"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="JobResources">
    <sequence>
      <element minOccurs="0" name="jobResource" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="email" type="xsd:string"/>
      <element minOccurs="0" name="role" type="platformCore:RecordRef"/>
    </sequence>
  </complexType>
  <complexType name="JobResourcesList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="jobResources" type="listRel:JobResources"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="JobMilestones">
    <sequence>
      <element minOccurs="0" name="milestoneName" type="xsd:string"/>
      <element minOccurs="0" name="milestoneOrder" type="xsd:string"/>
      <element minOccurs="0" name="milestoneEstComplete" type="xsd:dateTime"/>
      <element minOccurs="0" name="milestoneCompleted" type="xsd:boolean"/>
      <element minOccurs="0" name="milestoneComments" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="JobMilestonesList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="milestones" type="listRel:JobMilestones"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="JobCreditCards">
    <sequence>
      <element minOccurs="0" name="internalId" type="xsd:string"/>
      <element minOccurs="0" name="ccNumber" type="xsd:string"/>
      <element minOccurs="0" name="ccExpireDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="ccName" type="xsd:string"/>
      <element minOccurs="0" name="paymentMethod" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="ccMemo" type="xsd:string"/>
      <element minOccurs="0" name="ccDefault" type="xsd:boolean"/>
      <element minOccurs="0" name="debitCardIssueNo" type="xsd:string"/>
      <element minOccurs="0" name="validFrom" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="JobCreditCardsList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="creditCards" type="listRel:JobCreditCards"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="jobSearch" type="listRel:JobSearch"/>
  <complexType name="JobSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:JobSearchBasic"/>
          <element minOccurs="0" name="billingScheduleJoin" type="platformCommon:BillingScheduleSearchBasic"/>
          <element minOccurs="0" name="contactPrimaryJoin" type="platformCommon:ContactSearchBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic"/>
          <element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JobSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listRel:JobSearch"/>
          <element minOccurs="0" name="columns" type="listRel:JobSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JobSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:JobSearchRowBasic"/>
          <element minOccurs="0" name="billingScheduleJoin" type="platformCommon:BillingScheduleSearchRowBasic"/>
          <element minOccurs="0" name="contactPrimaryJoin" type="platformCommon:ContactSearchRowBasic"/>
          <element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic"/>
          <element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchRowBasic"/>
          <element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchRowBasic"/>
          <element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchRowBasic"/>
          <element minOccurs="0" name="timeJoin" type="platformCommon:TimeBillSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--job/end-->
  <!--jobType/start-->
  <element name="JobType" type="listRel:JobType"/>
  <complexType name="JobType">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="parent" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--jobType/end-->
  <!--jobStatus/start-->
  <element name="JobStatus" type="listRel:JobStatus"/>
  <complexType name="JobStatus">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="description" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <!--jobStatus/end-->
  <element name="customerStatusSearch" type="listRel:CustomerStatusSearch"/>
  <complexType name="CustomerStatusSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CustomerStatusSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomerStatusSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listRel:CustomerStatusSearch"/>
          <element minOccurs="0" name="columns" type="listRel:CustomerStatusSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomerStatusSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:CustomerStatusSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="jobStatusSearch" type="listRel:JobStatusSearch"/>
  <complexType name="JobStatusSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:JobStatusSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JobStatusSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listRel:JobStatusSearch"/>
          <element minOccurs="0" name="columns" type="listRel:JobStatusSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JobStatusSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:JobStatusSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="jobTypeSearch" type="listRel:JobTypeSearch"/>
  <complexType name="JobTypeSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:JobTypeSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JobTypeSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listRel:JobTypeSearch"/>
          <element minOccurs="0" name="columns" type="listRel:JobTypeSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JobTypeSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:JobTypeSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="originatingLeadSearch" type="listRel:OriginatingLeadSearch"/>
  <complexType name="OriginatingLeadSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:OriginatingLeadSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OriginatingLeadSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:OriginatingLeadSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomerCurrency">
    <sequence>
      <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="balance" type="xsd:double"/>
      <element minOccurs="0" name="consolBalance" type="xsd:double"/>
      <element minOccurs="0" name="depositBalance" type="xsd:double"/>
      <element minOccurs="0" name="consolDepositBalance" type="xsd:double"/>
      <element minOccurs="0" name="overdueBalance" type="xsd:double"/>
      <element minOccurs="0" name="consolOverdueBalance" type="xsd:double"/>
      <element minOccurs="0" name="unbilledOrders" type="xsd:double"/>
      <element minOccurs="0" name="consolUnbilledOrders" type="xsd:double"/>
      <element minOccurs="0" name="overrideCurrencyFormat" type="xsd:boolean"/>
      <element minOccurs="0" name="displaySymbol" type="xsd:string"/>
      <element minOccurs="0" name="symbolPlacement" type="platformCommonTyp:CurrencySymbolPlacement"/>
    </sequence>
  </complexType>
  <complexType name="CustomerCurrencyList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="currency" type="listRel:CustomerCurrency"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="VendorCurrency">
    <sequence>
      <element minOccurs="0" name="currency" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="balance" type="xsd:double"/>
      <element minOccurs="0" name="unbilledOrders" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="VendorCurrencyList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="vendorCurrency" type="listRel:VendorCurrency"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="JobPlStatement">
    <sequence>
      <element minOccurs="0" name="costCategory" type="xsd:string"/>
      <element minOccurs="0" name="revenue" type="xsd:double"/>
      <element minOccurs="0" name="cost" type="xsd:double"/>
      <element minOccurs="0" name="profit" type="xsd:double"/>
      <element minOccurs="0" name="margin" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="JobPlStatementList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="jobPlStatement" type="listRel:JobPlStatement"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
</schema>
