Opportunity_Integrations/Service Descriptors/supplyChain.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:listScm="urn:supplychain_2015_1.lists.webservices.netsuite.com" xmlns:listScmTyp="urn:types.supplychain_2015_1.lists.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2015_1.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:supplychain_2015_1.lists.webservices.netsuite.com">
  <xsd:import namespace="urn:core_2015_1.platform.webservices.netsuite.com" schemaLocation="core.xsd"/>
  <xsd:import namespace="urn:common_2015_1.platform.webservices.netsuite.com" schemaLocation="common.xsd"/>
  <xsd:import namespace="urn:types.supplychain_2015_1.lists.webservices.netsuite.com" schemaLocation="supplyChainTypes.xsd"/>
  <!--manufacturingCostTemplate/start-->
  <element name="manufacturingCostTemplate" type="listScm:ManufacturingCostTemplate"/>
  <complexType name="ManufacturingCostTemplate">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="costDetailList" type="listScm:ManufacturingCostDetailList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManufacturingCostDetail">
    <sequence>
      <element minOccurs="0" name="costCategory" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="fixedRate" type="xsd:double"/>
      <element minOccurs="0" name="runRate" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="ManufacturingCostDetailList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="manufacturingCostDetail" type="listScm:ManufacturingCostDetail"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="manufacturingCostTemplateSearch" type="listScm:ManufacturingCostTemplateSearch"/>
  <complexType name="ManufacturingCostTemplateSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ManufacturingCostTemplateSearchBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManufacturingCostTemplateSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listScm:ManufacturingCostTemplateSearch"/>
          <element minOccurs="0" name="columns" type="listScm:ManufacturingCostTemplateSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManufacturingCostTemplateSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ManufacturingCostTemplateSearchRowBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--manufacturingCostTemplate/end-->
  <!--manufacturingRouting/start-->
  <element name="manufacturingRouting" type="listScm:ManufacturingRouting"/>
  <complexType name="ManufacturingRouting">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="subsidiary" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="item" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="locationList" type="platformCore:RecordRefList"/>
          <element minOccurs="0" name="name" type="xsd:string"/>
          <element minOccurs="0" name="memo" type="xsd:string"/>
          <element minOccurs="0" name="isDefault" type="xsd:boolean"/>
          <element minOccurs="0" name="isInactive" type="xsd:boolean"/>
          <element minOccurs="0" name="autoCalculateLag" type="xsd:boolean"/>
          <element minOccurs="0" name="routingStepList" type="listScm:ManufacturingRoutingRoutingStepList"/>
          <element minOccurs="0" name="routingComponentList" type="listScm:ManufacturingRoutingRoutingComponentList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManufacturingRoutingRoutingStep">
    <sequence>
      <element minOccurs="0" name="operationSequence" type="xsd:long"/>
      <element minOccurs="0" name="operationName" type="xsd:string"/>
      <element minOccurs="0" name="manufacturingWorkCenter" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="machineResources" type="xsd:long"/>
      <element minOccurs="0" name="laborResources" type="xsd:long"/>
      <element minOccurs="0" name="manufacturingCostTemplate" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="setupTime" type="xsd:double"/>
      <element minOccurs="0" name="runRate" type="xsd:double"/>
      <element minOccurs="0" name="lagType" type="listScmTyp:ManufacturingLagType"/>
      <element minOccurs="0" name="lagAmount" type="xsd:long"/>
      <element minOccurs="0" name="lagUnits" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ManufacturingRoutingRoutingStepList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="manufacturingRoutingRoutingStep" type="listScm:ManufacturingRoutingRoutingStep"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <element name="manufacturingRoutingSearch" type="listScm:ManufacturingRoutingSearch"/>
  <complexType name="ManufacturingRoutingSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ManufacturingRoutingSearchBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic"/>
          <element minOccurs="0" name="manufacturingCostTemplateJoin" type="platformCommon:ManufacturingCostTemplateSearchBasic"/>
          <element minOccurs="0" name="manufacturingWorkCenterJoin" type="platformCommon:EntityGroupSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManufacturingRoutingSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listScm:ManufacturingRoutingSearch"/>
          <element minOccurs="0" name="columns" type="listScm:ManufacturingRoutingSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManufacturingRoutingSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ManufacturingRoutingSearchRowBasic"/>
          <element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic"/>
          <element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic"/>
          <element minOccurs="0" name="manufacturingCostTemplateJoin" type="platformCommon:ManufacturingCostTemplateSearchRowBasic"/>
          <element minOccurs="0" name="manufacturingWorkCenterJoin" type="platformCommon:EntityGroupSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--manufacturingRouting/end-->
  <element name="manufacturingOperationTask" type="listScm:ManufacturingOperationTask"/>
  <complexType name="ManufacturingOperationTask">
    <complexContent>
      <extension base="platformCore:Record">
        <sequence>
          <element minOccurs="0" name="customForm" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="manufacturingWorkCenter" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="manufacturingCostTemplate" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="title" type="xsd:string"/>
          <element minOccurs="0" name="operationSequence" type="xsd:long"/>
          <element minOccurs="0" name="workOrder" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="order" type="platformCore:RecordRef"/>
          <element minOccurs="0" name="status" type="listScmTyp:ManufacturingOperationTaskStatus"/>
          <element minOccurs="0" name="message" type="xsd:string"/>
          <element minOccurs="0" name="estimatedWork" type="xsd:double"/>
          <element minOccurs="0" name="actualWork" type="xsd:double"/>
          <element minOccurs="0" name="remainingWork" type="xsd:double"/>
          <element minOccurs="0" name="inputQuantity" type="xsd:double"/>
          <element minOccurs="0" name="completedQuantity" type="xsd:double"/>
          <element minOccurs="0" name="setupTime" type="xsd:double"/>
          <element minOccurs="0" name="runRate" type="xsd:double"/>
          <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
          <element minOccurs="0" name="autoCalculateLag" type="xsd:boolean"/>
          <element minOccurs="0" name="machineResources" type="xsd:long"/>
          <element minOccurs="0" name="laborResources" type="xsd:long"/>
          <element minOccurs="0" name="costDetailList" type="listScm:ManufacturingCostDetailList"/>
          <element minOccurs="0" name="predecessorList" type="listScm:ManufacturingOperationTaskPredecessorList"/>
          <element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList"/>
        </sequence>
        <!--primary record internalId-->
        <attribute name="internalId" type="xsd:string"/>
        <attribute name="externalId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <element name="manufacturingOperationTaskSearch" type="listScm:ManufacturingOperationTaskSearch"/>
  <complexType name="ManufacturingOperationTaskSearch">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ManufacturingOperationTaskSearchBasic"/>
          <element minOccurs="0" name="predecessorJoin" type="platformCommon:ManufacturingOperationTaskSearchBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic"/>
          <element minOccurs="0" name="workOrderJoin" type="platformCommon:TransactionSearchBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchJoin"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManufacturingOperationTaskSearchAdvanced">
    <complexContent>
      <extension base="platformCore:SearchRecord">
        <sequence>
          <element minOccurs="0" name="criteria" type="listScm:ManufacturingOperationTaskSearch"/>
          <element minOccurs="0" name="columns" type="listScm:ManufacturingOperationTaskSearchRow"/>
        </sequence>
        <attribute name="savedSearchId" type="xsd:string"/>
        <attribute name="savedSearchScriptId" type="xsd:string"/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManufacturingOperationTaskSearchRow">
    <complexContent>
      <extension base="platformCore:SearchRow">
        <sequence>
          <element minOccurs="0" name="basic" type="platformCommon:ManufacturingOperationTaskSearchRowBasic"/>
          <element minOccurs="0" name="predecessorJoin" type="platformCommon:ManufacturingOperationTaskSearchRowBasic"/>
          <element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic"/>
          <element minOccurs="0" name="workOrderJoin" type="platformCommon:TransactionSearchRowBasic"/>
          <element maxOccurs="unbounded" minOccurs="0" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManufacturingOperationTaskPredecessor">
    <sequence>
      <element minOccurs="0" name="task" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="type" type="listScmTyp:ManufacturingOperationTaskPredecessorPredecessorType"/>
      <element minOccurs="0" name="startDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="endDate" type="xsd:dateTime"/>
      <element minOccurs="0" name="lagType" type="listScmTyp:ManufacturingLagType"/>
      <element minOccurs="0" name="lagAmount" type="xsd:long"/>
      <element minOccurs="0" name="lagUnits" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ManufacturingOperationTaskPredecessorList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="manufacturingOperationTaskPredecessor" type="listScm:ManufacturingOperationTaskPredecessor"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
  <complexType name="ManufacturingRoutingRoutingComponent">
    <sequence>
      <element minOccurs="0" name="itemName" type="xsd:string"/>
      <element minOccurs="0" name="description" type="xsd:string"/>
      <element minOccurs="0" name="yield" type="xsd:double"/>
      <element minOccurs="0" name="bomQuantity" type="xsd:double"/>
      <element minOccurs="0" name="quantity" type="xsd:double"/>
      <element minOccurs="0" name="units" type="xsd:string"/>
      <element minOccurs="0" name="operationDisplayText" type="platformCore:RecordRef"/>
      <element minOccurs="0" name="operationSequenceNumber" type="xsd:long"/>
      <element minOccurs="0" name="component" type="xsd:string"/>
      <element minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ManufacturingRoutingRoutingComponentList">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="manufacturingRoutingRoutingComponent" type="listScm:ManufacturingRoutingRoutingComponent"/>
    </sequence>
    <attribute default="true" name="replaceAll" type="xsd:boolean"/>
  </complexType>
</xsd:schema>
