CasesIntegration/Schemas/JIRA_Updated_IDsResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1478759198820" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1478759198820">
  <complexType name="JIRA_Updated_IDsElementType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="JIRA_ID" type="string"/>
    </sequence>
  </complexType>
  <element name="JIRA_Updated_IDsElement" type="tns:JIRA_Updated_IDsElementType"/>
</schema>
