CasesIntegration/Schemas/SCSMUpdatedIDsResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1478156051568" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1478156051568">
  <complexType name="SCSMUpdatedIDsElementType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="Issue_ID" type="string"/>
    </sequence>
  </complexType>
  <element name="SCSMUpdatedIDsElement" type="tns:SCSMUpdatedIDsElementType"/>
</schema>
