OM_SF_Integrations/Schemas/AccidInputSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1475835547990" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1475835547990">
  <xsd:complexType name="Accinput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ACCSFID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Accid" tibex:source="bw.generalactivities.mapper" type="tns:Accinput"/>
</xsd:schema>
