OM_SF_Integrations/Schemas/OMProductUpdateResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1475663067594" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1475663067594">
  <complexType name="OMProductUpdateElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="ProductId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="Description" type="string"/>
    </sequence>
  </complexType>
  <element name="OMProductUpdateElement" type="tns:OMProductUpdateElementType"/>
</schema>
