OM_SF_Integrations/Schemas/OMProfile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OMProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="CustomerNotes"
        	nillable="true" />
        <xs:element type="xs:int" name="DefaultOrgNodeId"/>
        <xs:element type="xs:string" name="Email"/>
        <xs:element type="xs:string" name="FirstName"/>
        <xs:element type="xs:string" name="GreatPlainsId"/>
        <xs:element type="xs:string" name="IsActive"/>
        <xs:element type="xs:string" name="LastModifiedBy"/>
        <xs:element type="xs:string" name="LastName"/>
        <xs:element type="xs:dateTime" name="LastUpdated"/>
        <xs:element type="xs:string" name="NetSuiteId" nillable="true" />
        <xs:element type="xs:string" name="OptOutCommunications"
        	nillable="true" />
        <xs:element type="xs:string" name="Phone" nillable="true" />
        <xs:element type="xs:string" name="PricingLevel"
        	nillable="true" />
        <xs:element type="xs:string" name="ProfileId"/>
        <xs:element type="xs:string" name="SalesForceId"
        	nillable="true" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>