OM_SF_Integrations/Schemas/OMReportMainSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/OMReportMain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OMReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ReportId" nillable="true"/>
        <xs:element type="xs:string" name="SalesForceId" nillable="true"/>
        <xs:element type="xs:string" name="NetSuiteId" nillable="true"/>
        <xs:element type="xs:short" name="OrgNodeId" nillable="true"/>
        <xs:element type="xs:string" name="ProfileId" nillable="true"/>
        <xs:element type="xs:string" name="PrimaryProduct" nillable="true"/>
        <xs:element type="xs:string" name="DeliveryProduct" nillable="true"/>
        <xs:element type="xs:string" name="ReportStatus" nillable="true"/>
        <xs:element type="xs:string" name="ProjectedDeliveryDate" nillable="true"/>
        <xs:element type="xs:string" name="OrderPlacedDate" nillable="true"/>
        <xs:element type="xs:string" name="ApplicationSource" nillable="true"/>
        <xs:element type="xs:string" name="Address" nillable="true"/>
        <xs:element type="xs:string" name="City" nillable="true"/>
        <xs:element type="xs:string" name="State" nillable="true"/>
        <xs:element type="xs:string" name="Zip" nillable="true"/>
        <xs:element type="xs:string" name="Latitude" nillable="true"/>
        <xs:element type="xs:string" name="Longitude" nillable="true"/>
        <xs:element type="xs:string" name="BuildingId" nillable="true"/>
        <xs:element type="xs:string" name="ClaimNumber" nillable="true"/>
        <xs:element type="xs:string" name="ClaimInfo" nillable="true"/>
        <xs:element type="xs:string" name="BillPayerId" nillable="true"/>
        <xs:element name="ReportProductApiModels" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ProductId" nillable="true"/>
              <xs:element type="xs:string" name="ProductName" nillable="true"/>
              <xs:element type="xs:string" name="SalesPrice" nillable="true"/>
              <xs:element type="xs:string" name="InitialCost" nillable="true"/>
              <xs:element type="xs:string" name="PricingTierName" nillable="true"/>
              <xs:element type="xs:string" name="PricingTierType" nillable="true"/>
              <xs:element type="xs:string" name="PricingTierMinSize" nillable="true"/>
              <xs:element type="xs:string" name="PricingTierMaxSize" nillable="true"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>