OM_SF_Integrations/Schemas/OMStatusSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/OMStatusSchema" xmlns:tns="http://www.example.org/OMStatusSchema" elementFormDefault="qualified">

    <complexType name="OMStatus">
    	<sequence>
    		<element name="id" type="string"></element>
    		<element name="Status" type="string"></element>
    		<element name="Message" type="string"></element>
    	</sequence>
    </complexType>

    <element name="OMStatusSchema" type="tns:OMStatus"></element>
</schema>