OM_SF_Integrations/Schemas/PDFSchemaResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1479719229257" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1479719229257">
  <complexType name="PDFSchemaElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="ReportId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="Invoice" type="string"/>
    </sequence>
  </complexType>
  <element name="PDFSchemaElement" type="tns:PDFSchemaElementType"/>
</schema>