OM_SF_Integrations/Schemas/SFidSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/SFidSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/SFidSchema">

    <complexType name="sfids">
    	<sequence>
    		<element minOccurs="0" name="ProfileId" type="string"/>
    		<element minOccurs="0" name="SalesForceId" type="string"/>
            <element name="NetSuiteId" type="string"/>
        </sequence>
    </complexType>

    <element name="SFIDschema" type="tns:sfids"/>
</schema>
