EG1.0.0/OM_SF_Integrations/Schemas/BillPayerSchemaResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1476793174787" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1476793174787">
  <complexType name="BillPayerSchemaType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="BillPayerId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="SalesForceUserId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="NetSuiteId" type="string"/>
    </sequence>
  </complexType>
  <element name="BillPayerSchema" type="tns:BillPayerSchemaType"/>
</schema>
