EG1.0.0/OM_SF_Integrations/Schemas/DepositIdentityResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1477899976814" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1477899976814">
  <complexType name="DepositIdentityElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="AccountDepositId" type="integer"/>
      <element maxOccurs="1" minOccurs="0" name="SalesForceId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="NetSuiteId" type="string"/>
    </sequence>
  </complexType>
  <element name="DepositIdentityElement" type="tns:DepositIdentityElementType"/>
</schema>
