EG1.0.0/OM_SF_Integrations/Schemas/OrgNodeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/OrgNodeSchema" xmlns:tns="http://www.example.org/OrgNodeSchema" elementFormDefault="qualified">

<complexType name="idupdate">
    	<sequence>
    		<element name="OrgNodeId" type="string"></element>
    		<element name="SalesForceId" type="string"></element>
    		<element name="NetSuiteId" type="string"></element>
    	</sequence>
    </complexType>

    <element name="OrgNodeUpdate" type="tns:idupdate"></element>


</schema>