EG1.0.0/Opportunity_Integrations/SalesforceResources/Salesforce_Metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- {0156C5F1-98F01-10772949} used internally, please don't modify it.  -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pns="urn:partner.soap.sforce.com" xmlns:ens="urn:sobject.partner.soap.sforce.com" targetNamespace="urn:sobject.partner.soap.sforce.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="urn:partner.soap.sforce.com" schemaLocation="sforce_partner.xsd"/>
	<complexType name="sObject">
		<sequence>
			<element name="fieldsToNull" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Id" type="pns:ID" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="Account">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="MasterRecordId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="MasterRecord" type="ens:Account" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Type" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="RecordTypeId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="RecordType" type="ens:RecordType" nillable="true" minOccurs="0"/>
					<element name="ParentId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Parent" type="ens:Account" nillable="true" minOccurs="0"/>
					<element name="BillingStreet" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingCity" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingState" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingPostalCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingCountry" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingStateCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingCountryCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingLatitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="BillingLongitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="BillingGeocodeAccuracy" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BillingAddress" type="pns:address" nillable="true" minOccurs="0"/>
					<element name="ShippingStreet" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingCity" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingState" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingPostalCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingCountry" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingStateCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingCountryCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingLatitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="ShippingLongitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="ShippingGeocodeAccuracy" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ShippingAddress" type="pns:address" nillable="true" minOccurs="0"/>
					<element name="Phone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Fax" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Website" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="PhotoUrl" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Industry" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AnnualRevenue" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="NumberOfEmployees" type="xsd:int" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Rating" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OwnerId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Owner" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastActivityDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="Jigsaw" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="JigsawCompanyId" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AccountSource" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DunsNumber" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Tradestyle" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NaicsCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NaicsDesc" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="YearStarted" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SicDesc" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DandbCompanyId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="General_Notes__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Follow_Up_Date__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Coverage_Date_Accounts__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Coverage__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Connect_Exp_Date__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="CM_Avg_Selling_Price_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CM_Avg_Selling_Price_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CM_Bookings_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CM_Bookings_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CM_Count_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Association__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CM_Count_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Street_View__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Pricing_Tier__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="YTD_Avg_Selling_Price_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Avg_Selling_Price_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Effective_Date__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Contract_Term_Years__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Bookings_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Bookings_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Count_Ordered__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="YTD_Count_Paid__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Association_Status__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CY16__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Pre_CY11__c" type="xsd:double" nillable="true" minOccurs="0"/>
			
					
				
					<element name="Territory__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NetSuite_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ChildAccounts" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AccountContactRoles" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Feeds" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Histories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AccountPartnersFrom" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AccountPartnersTo" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Shares" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ActivityHistories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Applications__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Assets" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentNotes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Attachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="RecordAssociatedGroups" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CombinedAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Contacts" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Contracts" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="DuplicateRecordItems" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="FeedSubscriptionsForEntity" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Events" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Notes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="NotesAndAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OpenActivities" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OpportunityPartnersTo" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="PartnersFrom" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Attachment">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="ParentId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Parent" type="ens:Name" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsPrivate" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="ContentType" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BodyLength" type="xsd:int" nillable="true" minOccurs="0"/>
					<element name="Body" type="xsd:base64Binary" nillable="true" minOccurs="0"/>
					<element name="OwnerId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Owner" type="ens:Name" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:Name" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:Name" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	
	
	
	<complexType name="CurrencyType">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="IsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ConversionRate" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="DecimalPlaces" type="xsd:int" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="IsCorporate" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Name">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LastName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="FirstName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Type" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Alias" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="UserRoleId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="RecordTypeId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="RecordType" type="ens:RecordType" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="ProfileId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Title" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Email" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Phone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Username" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="RecordType">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DeveloperName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NamespacePrefix" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BusinessProcessId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="SobjectType" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Opportunity">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="AccountId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Account" type="ens:Account" nillable="true" minOccurs="0"/>
					<element name="RecordTypeId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="RecordType" type="ens:RecordType" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="StageName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Amount" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Probability" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="CloseDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Type" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NextStep" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LeadSource" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsClosed" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="IsWon" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="ForecastCategory" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ForecastCategoryName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CampaignId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="HasOpportunityLineItem" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Pricebook2Id" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Pricebook2" type="ens:Pricebook2" nillable="true" minOccurs="0"/>
					<element name="OwnerId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Owner" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastActivityDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="FiscalQuarter" type="xsd:int" nillable="true" minOccurs="0"/>
					<element name="FiscalYear" type="xsd:int" nillable="true" minOccurs="0"/>
					<element name="Fiscal" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Annual_Appropriation__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Commission_Partner__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Industry__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Flight_Number__c" type="xsd:string" nillable="true" minOccurs="0"/>
                    <element name="OrderManager_Report_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Adjustment_Reason_Codes__c" type="xsd:string" nillable="true" minOccurs="0"/>					
					<element name="External_Id__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Flights__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Order_Sub_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Opportunity_Status__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Appropriation__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="License_Term__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Opportunity_Number__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Report_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NetSuite_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Assignment__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Bldg_Number__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CAT_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Claim_Info__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Claim_Number__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Date_of_Loss__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Division__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Facets__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Image_Source__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Insured_Name__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OrderManager_Bill_Payer_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Original_Document_Date__c" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Policy__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Report_City__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Report_Country__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Report_State__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Report_Street_Address__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Report_Zip__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Squares__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="ZoneRegion__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Subsidiary_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Subsidiary_Name__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Account_Phone__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Contract_Admin_Assignment__c" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="Bill_Payer__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Bill_Payer__r" type="ens:Account" nillable="true" minOccurs="0"/>
					<element name="Payment_Authorization_Token__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Allow_Redelivery__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Do_Not_Charge__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="OM_SubStatus__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Payment_Token__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OpportunityLineItems" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				
				</sequence>
			</extension>
		</complexContent>
			</complexType>
			<complexType name="Opportunity_Invoice__c">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="Opportunity__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Opportunity__r" type="ens:Opportunity" nillable="true" minOccurs="0"/>
					<element name="NetSuite_Invoice_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Paid__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Account_Amount__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Payment_Amount__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Payment_Terms__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="NetSuite_Credit_Memo_Id__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Link_To_NetSuite_Invoice__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AttachedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentNotes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Attachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="RecordAssociatedGroups" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CombinedAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ContentDocumentLinks" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="DuplicateRecordItems" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="FeedSubscriptionsForEntity" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ParentEntities" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Notes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="NotesAndAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessInstances" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ProcessSteps" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TaskRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="TopicAssignments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
		<complexType name="Pricebook2">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsStandard" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Opportunities" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Histories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="PricebookEntries" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="Integration_Queue__c">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="OwnerId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Owner" type="ens:Name" nillable="true" minOccurs="0"/>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="Event_Code__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Event_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Event_Message__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Processed_Flag__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Record_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PricebookEntry">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Pricebook2Id" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Pricebook2" type="ens:Pricebook2" nillable="true" minOccurs="0"/>
					<element name="Product2Id" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Product2" type="ens:Product2" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="UnitPrice" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="UseStandardPrice" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="ProductCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="OpportunityLineItems" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="QuoteLineItems" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OpportunityLineItem">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="OpportunityId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Opportunity" type="ens:Opportunity" nillable="true" minOccurs="0"/>
					<element name="SortOrder" type="xsd:int" nillable="true" minOccurs="0"/>
					<element name="PricebookEntryId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="PricebookEntry" type="ens:PricebookEntry" nillable="true" minOccurs="0"/>
					<element name="Product2Id" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Product2" type="ens:Product2" nillable="true" minOccurs="0"/>
					<element name="ProductCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Quantity" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Discount" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="TotalPrice" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="UnitPrice" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="ListPrice" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="ServiceDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
			        <element name="Pricing_Tier_Maximum_Size__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Pricing_Tier_Minimum_Size__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Pricing_Tier_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="License_Term_Years__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Discount_Type_Government__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OM_Discount_Codes__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OM_Initial_Amount__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Pricing_Tier__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Total_Discount_Percentage__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Synced_To_Netsuite__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
		<complexType name="Product2">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ProductCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Description" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="Family" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsDeleted" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="NYS_OGS_Item_Code__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Related_To_Product_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Bundle__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Export_Transactions__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Image_View_Transactions__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Order_Process__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Transaction_Model__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Approval_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Discount_Types__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Tiered_Pricing__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Notifications__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Related_Parameters__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Contract_Administration__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Parameters__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Contract_Language__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Renewal_Product__c" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Renewal_Product__r" type="ens:Product2" nillable="true" minOccurs="0"/>
					<element name="Payment_Term_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="GSD__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Order_Type__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Ratable_Revenue__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Rev_Account_1__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Rev_Account_2__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Term__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Add_Order_Product__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Delivery_Method__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Pricing_Update_Only__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Cost__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Location_Transactions__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Measurement_Transactions__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Max_Users_Multiplier__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Trial_Term_Days__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Comments__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Max_Discount__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="On_GSA__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Product_Configuration__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Default_on_Imagery_Contracts__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Filter_By_GSD__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="State__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Ortho_GSD__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Status__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Specs__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="License_Term_Years__c" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Defined_Perpetual_Term__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="Product_Number__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SBQQ__AssetConversion__c" type="xsd:string" nillable="true" minOccurs="0"/>
			
					<element name="NetSuite_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="OrderManager_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Report_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Code_Historical__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Product_Group__c" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ActivityHistories" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Assets" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
		
					<element name="Products__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					
				
					
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	
	<complexType name="User">
		<complexContent>
			<extension base="ens:sObject">
				<sequence>
					<element name="Username" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LastName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="FirstName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Name" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CompanyName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Division" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Department" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Title" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Street" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="City" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="State" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="PostalCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Country" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="StateCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CountryCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Latitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="Longitude" type="xsd:double" nillable="true" minOccurs="0"/>
					<element name="GeocodeAccuracy" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Address" type="pns:address" nillable="true" minOccurs="0"/>
					<element name="Email" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="EmailPreferencesAutoBcc" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="EmailPreferencesAutoBccStayInTouch" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="EmailPreferencesStayInTouchReminder" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="SenderEmail" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SenderName" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Signature" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="StayInTouchSubject" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="StayInTouchSignature" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="StayInTouchNote" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Phone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Fax" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="MobilePhone" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="Alias" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CommunityNickname" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="BadgeText" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="IsActive" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="TimeZoneSidKey" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="UserRoleId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LocaleSidKey" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ReceivesInfoEmails" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="ReceivesAdminInfoEmails" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="EmailEncodingKey" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DefaultCurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="CurrencyIsoCode" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="ProfileId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="UserType" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="LanguageLocaleKey" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="EmployeeNumber" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DelegatedApproverId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="ManagerId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Manager" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastLoginDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastPasswordChangeDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="CreatedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="CreatedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="LastModifiedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastModifiedById" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="LastModifiedBy" type="ens:User" nillable="true" minOccurs="0"/>
					<element name="SystemModstamp" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="OfflineTrialExpirationDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="OfflinePdaTrialExpirationDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="ContactId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="AccountId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Account" type="ens:Account" nillable="true" minOccurs="0"/>
					<element name="CallCenterId" type="pns:ID" nillable="true" minOccurs="0"/>
					<element name="Extension" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="FederationIdentifier" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="AboutMe" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="FullPhotoUrl" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="SmallPhotoUrl" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DigestFrequency" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="DefaultGroupNotificationFrequency" type="xsd:string" nillable="true" minOccurs="0"/>
					<element name="JigsawImportLimitOverride" type="xsd:int" nillable="true" minOccurs="0"/>
					<element name="LastViewedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
					<element name="LastReferencedDate" type="xsd:dateTime" nillable="true" minOccurs="0"/>
	
					
					<element name="Integration_Queue_User__c" type="xsd:boolean" nillable="true" minOccurs="0"/>
					<element name="NetSuite_User_ID__c" type="xsd:string" nillable="true" minOccurs="0"/>
					
					<element name="AcceptedEventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Accounts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Accounts2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Accounts3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Accounts1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Action_Items__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="AttachedContentNotes" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Cases3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="GroupMemberships" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="GroupMembershipRequests" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="CombinedAttachments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ContractsSigned" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__AmendmentContracts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__RenewalContracts__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					
					<element name="FeedSubscriptionsForEntity" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="FeedSubscriptions" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="EventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ExternalDataUserAuths" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Image_Correction_Blocks__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="InstalledMobileApps" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities_CRS__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities7__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities6__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities5__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities4__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Opportunities_Sales_Manager__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__Opportunities__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__SubmittedUserOpportunities__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders6__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders5__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders9__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders3__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OrderszUP7__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders7__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OrdersKWYb__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders8__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders_ChangeFindr__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OrdersGSNs__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders4__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Orders1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="OwnedContentDocuments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="PermissionSetAssignments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="PermissionSetLicenseAssignments" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Requirements__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="BOSSTrackLead__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Requirements1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__FavoriteShares__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Process_Input_Values__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__Quotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="SBQQ__WebQuotes__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UserSites" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
		
					<element name="Survey_Feedback__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Test_Scenarios1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Test_Scenarios__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Test_Steps__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Tracks__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Tracks1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Trainings1__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Trainings2__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Trainings__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UndecidedEventRelations" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="DelegatedUsers" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="ManagedUsers" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UserEntityAccessRights" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Feeds" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UserFieldAccessRights" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="UserPreferences" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="Shares" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__DocuSignAccountConfigurations__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="dsfs__DocuSign_Envelope_Recipient__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__ApprovedApprovals__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__Approvals__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__RejectedApprovals__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
					<element name="sbaa__Approvers__r" type="pns:TIBQueryResultTIB" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
