SF_NS_Integrations/Schemas/OtherSchemas/OMDepositUpdateResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1478089618853" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1478089618853">
  <complexType name="OMDepositUpdateType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="AccountDepositId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="SalesForceId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="NetSuiteId" type="string"/>
    </sequence>
  </complexType>
  <element name="OMDepositUpdate" type="tns:OMDepositUpdateType"/>
</schema>
