CasesIntegration/Schemas/OtherSchemas/AccountName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AccountName" xmlns:tns="http://www.example.org/AccountName" elementFormDefault="qualified">

    <complexType name="AccountType">
    	<sequence>
    		<element name="AccountName" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="Account" type="tns:AccountType"></element>
</schema>