CasesIntegration/Schemas/OtherSchemas/CaseJiraID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ParentCaseJiraID" xmlns:tns="http://www.example.org/ParentCaseJiraID" elementFormDefault="qualified">

    <complexType name="CaseJiraIDType">
    	<sequence>
    		<element name="CaseJiraID" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="JiraID" type="tns:CaseJiraIDType"></element>
</schema>