CasesIntegration/Schemas/OtherSchemas/CaseOwnerName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/CaseOwnerName" xmlns:tns="http://www.example.org/CaseOwnerName" elementFormDefault="qualified">

    <complexType name="CaseOwnerType">
    	<sequence>
    		<element name="CaseOwnerName" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="CaseOwner" type="tns:CaseOwnerType"></element>
</schema>