CasesIntegration/Schemas/OtherSchemas/RESTResponseSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/RESTResponseSchema" xmlns:tns="http://www.example.org/RESTResponseSchema" elementFormDefault="qualified">

    <complexType name="ResponseType">
    	<sequence>
    		<element name="Status" type="string"></element>
    		<element name="Message" type="string"></element>
    	</sequence>
    </complexType>


    <element name="Response" type="tns:ResponseType"></element>
</schema>