CasesIntegration/Schemas/OtherSchemas/TimestampSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/TimestampSchema" xmlns:tns="http://www.example.org/TimestampSchema" elementFormDefault="qualified">

    <complexType name="TimestampType">
    	<sequence>
    		<element name="UpdatedTime" type="string"></element>
    		<element name="IntegrationTime" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Timestamps" type="tns:TimestampType"></element>
</schema>