NS_SF_Integrations/Schemas/SalesforceSchemas/OmContactUpdate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1475841704045" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1475841704045">
  <complexType name="OMProfileUpdateType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="ProfileId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="SalesForceId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="NetSuiteId" type="string"/>
    </sequence>
  </complexType>
  <element name="OMProfileUpdate" type="tns:OMProfileUpdateType"/>
</schema>