CasesIntegration/Schemas/Jira/SFParentID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SFParentID" xmlns:tns="http://www.example.org/SFParentID" elementFormDefault="qualified">

    <complexType name="SFParentID">
    	<sequence>
    		<element name="ParentId" type="string" maxOccurs="1" minOccurs="0" nillable="true"></element>
    	</sequence>
    </complexType>


    <element name="SFParentId" type="string"></element>
</schema>