EG1.0.0/CasesIntegration/Schemas/Jira/CASE_Number.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/CASE_Number" xmlns:tns="http://www.example.org/CASE_Number" elementFormDefault="qualified">

    <complexType name="CasenumberSchemaElementType">
    <sequence>
      <element name="CASE_NUMBER_Parent" type="string" maxOccurs="1" minOccurs="0"></element>
      <element name="CASE_NUMBER_Child" type="string" maxOccurs="1" minOccurs="0"></element>
      <element name="Case_Status" type="string" maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>
  <element name="CasenumberSchemaElement" type="tns:CasenumberSchemaElementType"/>
    
</schema>