EG1.0.0/CasesIntegration/Schemas/Jira/CommentsSchemaResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1473784361792" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1473784361792">
  <complexType name="CommentsSchemaElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="body" type="string"/>
    </sequence>
  </complexType>
  <element name="CommentsSchemaElement" type="tns:CommentsSchemaElementType"/>
</schema>
